@media screen and (min-width:320px){
	.animator{
		width:100% !important;
		min-height:400px;
		max-height:400px;
		position: relative;
	}
	/* .content {
		position: relative;
		min-height:400px;
		max-height:400px;
		width:100% !important;
		
	} */
	
	
	.row.demo-2{
		width:100% !important;
		max-height:400px !important;
		min-height:400px !important;
	}
	canvas{
		width:100% !important;
		
		max-height:400px !important;
		min-height:400px !important;
		position: absolute !important;
	}


}




@media screen and (min-width:768px){
	/* .content {
		position: relative;
		min-height:520px;
		max-height:520px;
	} */
	
	
	.animator{
		max-height:520px !important;
		min-height:520px !important;
	}
	.row.demo-2{
		max-height:520px !important;
		min-height:520px !important;
	}
	canvas{
		max-height:520px !important;
		min-height:520px !important;
		position: absolute !important;
	}


}
@media screen and (min-width:1024px){
	
	.animator{
		max-height:650px !important;
		min-height:650px !important;
	}
	.row.demo-2{
		max-height:650px !important;
		min-height:650px !important;
	}
	canvas{
		max-height:650px !important;
		min-height:650px !important;
	}
	

}




