<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Groome - HR Solution made simples</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">

    <link rel="stylesheet" href="/groome_static/css/style.css">
    <link rel="stylesheet" href="/groome_static/css/hashGrid.css">
    <link rel="canonical" href="http://localhost:4000/">
    <link rel="alternate" type="application/rss+xml" title="Groome - HR Solution made simples" href="/feed.xml">
</head>
<body>
        <header>
            <a class="groome-home" href="/groome_static/index">Groome</a>
            <div>
                <a class="groome-expertise" href="/groome_static/expertise">Expertise</a>
                <a class="groome-product" href="/groome_static/product">Product</a>
            </div>
        </header>

        <script>
            window.onload = function() {
                console.log(location.href);
                if(location.href.indexOf('groome_static/expertise')>-1){
                    console.log('expertise');
                    document.getElementsByClassName('groome-expertise')[0].style.color = '#f79a3d'
                }
                else if(location.href.indexOf('groome_static/product')>-1){
                    console.log('products');
                    document.getElementsByClassName('groome-product')[0].style.color = '#f79a3d'
                }
        }
        </script>