<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Groome - HR Solution made simples</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flexboxgrid.min.css">
    <link rel="canonical" href="http://localhost:4000/">
    <link rel="alternate" type="application/rss+xml" title="Groome - HR Solution made simples" href="/feed.xml">
</head>
<body>
        <header>
            <a class="groome-home" href="/home">Groome</a>
            <div>
                <a class="groome-expertise" href="/expertise">Expertise</a>
                <a class="groome-product" href="/product">Product</a>
            </div>
        </header>