

.tiles,.tiles1,.tiles2{
  display: flex;
  width: 260px;
  justify-content: space-around;
  margin: 0 auto;
}
.clear{
  clear:both;    
}
.workculture{
  &__image{
    img{
      width:100% !important;
      height:100%  !important;
    }
  }
}
.live-tile{
  height: 100px !important;
  margin: 2px !important;
  padding: 0px !important;
  width:85px !important;
}
.live-tile.flip.ha, .flip-list.ha {
  width: 80px;
  height: 70px;
}
.workculture__boxes {
  position: relative;
  top:64px;
  &--alignment{
width: 266px;
margin: 0 auto;
  }
}
.workculture__box{
  width: 263px;
  height: 112px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0 rgba(174, 174, 174, 0.2);
  margin-bottom: 16px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
 

h1{
  font-family: 'muliBold';
  font-size: 20px !important;
  font-weight: normal;
  text-align: left !important;
  color: #4a4a4a !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  width: 120px !important;
  margin: 0 auto;
  padding: 0px !important;

  img {
    height: 18px;
    width: 12px;
    margin-top: 25px;
  }
}
}

///////////////////////
ul.tabs li.current {
     color: #603c96;
}
.tab-content {
     display: none;
}
.tab-content.current {
      display: inherit;
      padding: 0px;
}


// @media only screen and (min-width:320px) {

  .aboutus {
    .row{
      width: 266px;
      margin: 0 auto;
    }
    &__image{
      width: 192px;
      display: grid;
      margin: 20px auto 15px;
    }
    &__image2{
      width: 192px;
      display: grid;
      margin: 20px auto 15px;
    }
    .border {
        border-top: solid 1px #e0e0e0;
        margin: 32px 0px;
    }
    &__headImg {
        background-image: url(../assets/image//workculture/photo.png);
        background-repeat: no-repeat;
        height: 229px;
        width: 100%;
        background-size: cover;
        background-position: 77% 100%;
   
    }
    &__content1 {
        height: 229px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 16px 0px;
        font-family: 'muliRegular';
        font-size: 24px;
        text-align: left;
        color: #ffffff;
        width: 266px;
        margin: 0 auto;
      h1 {
        padding: 188px 0px 0px 28px;
        font-family: 'muliRegular';
        font-size: 24px;
        text-align: left;
        color: #ffffff;
      }
    }
    &__tab {
          border: solid 1px #f7f7f7;
          display: flex;
          justify-content: center;
      &--list {
          margin: 0px;
          padding: 0px;
          list-style: none;
          width: 266px;
          display: flex;
          justify-content: space-between;
        li {
          font-family: 'muliBold';
          font-size: 12px;
          font-weight: normal;
          text-align: center;
          color: #838383;
          cursor: pointer;
          margin: 20px 0px 15px 0px;
        }
      }
    }
  &__thinking {
  
      h2 {
        font-family: 'muliBold';
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        color: #603c96;
        padding: 32px 0px 0px 0px;
      }
      p {
        width: 265px;
        font-family: 'muliRegular';
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        color: #3e3e3e;
        padding-top: 12px;
      }
      h3 {
        font-family: 'muliSemiBold';
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        color: #898989;
      }
      &--capitalImage {
        background-image: url(../assets/image/aboutus/1.svg);
        background-repeat: no-repeat;
        height: 160px;
        width: 100%;
        background-size: 100% 100%;
        object-fit: contain;
      }
      &--clientImage {
        background-image: url(../assets/image/aboutus/2.svg);
        background-repeat: no-repeat;
        height: 160px;
        width: 100%;
        background-size: 100% 100%;
        object-fit: contain;
      }
      &--industryImage {
        background-image: url(../assets/image/aboutus/3.svg);
        background-repeat: no-repeat;
        height: 160px;
        width: 100%;
        background-size: 100% 100%;
        object-fit: contain;
      }
      &--ourculture {
        padding-bottom: 51px;
      &--container1 {
        width: 266px;
        margin: 0 auto;
      }
        .culture {
          padding-top: 50px;
        }
      }
      &--grew {
          background-color: #603c96;
        p {
          width: 202px;
          font-family: 'muliBold';
          font-size: 16px;
          font-weight: normal;
          text-align: center;
          color: #ffffff;
          padding: 54px 0px 32px 0px;
          margin: 0 auto;
        }
      }
    }
  }
  // about company css

.arrow_box {
	position: relative;
  width: 210px;
  height: 147px;
  border-radius: 8px;
  left: 56px;
  top: -23px;
  background-color: #f8f8f8;
  border: solid 1px #603c96;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #f8f8f8;
	border-width: 12px;
	margin-top: -12px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #603c96;
	border-width: 13px;
	margin-top: -13px;
}
//right
.arrow_box_right {
	position: relative;
  width: 210px;
  height: 147px;
  border-radius: 8px;
  left: 56px;
  top: -23px;
  background-color: #f8f8f8;
  border: solid 1px #603c96;
}
.arrow_box_right:after, .arrow_box_right:before {
	right: 100%;
	top: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_right:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #f8f8f8;
	border-width: 12px;
	margin-top: -12px;
}
.arrow_box_right:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #603c96;
	border-width: 13px;
	margin-top: -13px;
}

  .process-1 {
    padding: 19px 0px 19px 0px;
    position: relative;
    margin: 50px 0px 50px;
    overflow: hidden;
    width: 295px;
  }
  .top_border:before {
    width: 13px;
    height: 13px;
    background-color: #603c96;
    content: '';
    position: absolute;
    left: 15px;
    top: -19px;
    border-radius: 50%;
  }
  .bottom_border:before {
    width: 13px;
    height: 13px;
    background-color: #603c96;
    content: '';
    position: absolute;
    left: 15px;
    top: 180px;
    border-radius: 50%;
  }
  .process-1:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left:21px;
    top: 0;
    background: #603c96;
  }
  
  .process__item {
    position: relative;
    padding-top:27px;
    p{
      margin-left:13px !important;
      width: 200px !important;
      text-align: left  !important;
    }
  }
  .process__item:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #fff;
    border: 2px solid #603c96;
    border-radius: 50%;
    position: absolute;
    top: 43px;
    margin-left:12px;
  } 
  .aboutus__company {
    &--explore{
      background-image: url(../assets/image/aboutus/group.png);
      background-repeat: no-repeat;
      height: 272px;
      width: 100%;
      background-position: center center;
      background-size: cover;

    }
    .row {
        width: 295px;
        margin: 0 auto;
    }
    h1 {
        font-family: 'muliBold';
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        color: #603c96;
        padding: 32px 0px 12px;
        width: 266px;
    }
    p {
      width:260px;
        font-family: 'muliRegular';
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        color: #3e3e3e;
        margin: 12px 0px 0px;
    }
    h2 {
      width:202px;
      font-family: 'muliRegular';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #603c96;;
      margin-left:13px;
    }
    h5 {
      width:202px;
      font-family: 'muliRegular';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #603c96;
      margin-left:13px;
    }
  h3{
  
    font-family: 'muliRegular';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3e3e3e;
    margin: 15px 0px 10px 13px;
  }
  h4{
  
    font-family: 'muliRegular';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3e3e3e;
    margin: 15px 0px 10px 13px;
  }
  }
// }
// workculture
.hashworks__workculture {

   .row{
      width: 261px;
      margin: 0px auto;
      padding: 0px;
  }
  .workculture__image{
      background-image: url(../assets/image/workculture/photo.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 230px;
      background-position:100% 100%;

    h1 {
        font-family: 'muliRegular';
         font-size: 24px;
         text-align: left;
         color: #ffffff;
        display: flex;
        align-items: flex-end;
        padding: 0px 0px 30px 29px;
        height: 230px;
        
    }
  }
  .workculture__workfun{
      h1 {
         font-family: 'muliBold';
         font-size: 16px;
         font-weight: normal;
         text-align: center;
        color: #603c96;
        margin:0px;
        width: 100%;
      }
      p {
          font-family: 'muliRegular';
          font-size: 12px;
           line-height: 1.5;
           text-align: center;
           color: #3e3e3e;
           margin:0px 27px 0px 16px;
      }
  }
  .workculture__facility {
      h1 {
         font-family: 'muliBold';
         font-size: 16px;
         font-weight: normal;
         text-align: center;
         color: #603c96;
         margin:0px;
         padding-bottom: 0px;
        width: 100%;
      }
      h2{
        font-family: 'muliRegular';
        font-size: 12px;
        text-align: left;
        color: #603c96;
        margin: 36px 0px 8px 0px;
      }
      p {
        font-family: 'muliRegular';
        font-size: 12px;
        line-height: 1.5;
        text-align: left;
        color: #3e3e3e;
        margin: 0px;
      }
  }

 .workculture__bottomImage {
      background-image: url(../assets/image/workculture/1.png);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 94px;
 }
}
.workculture__culture{
  border-top: 1px solid #d3d3d3;
  margin: 40px 0px 0px 0px;
 
  .border{
      margin: 0 auto;
      width: 266px;
  }
  h2{
      width: 260px;
      font-family: 'muliBold';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #603c96;
      margin:36px 0px 12px 0px;
  }
  p{
      width: 260px;
      font-family: 'muliRegular';
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #3e3e3e;
      margin-bottom: 49px;
  }
  h3{
      font-family: 'muliSemiBold';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #898989;
      margin:0px 0px 50px;
  }
}

@media only screen and (min-width: 767px) {

  .tiles,.tiles1,.tiles2{
    display: flex;
    width:455px;
    justify-content: space-around;
    margin: 0 auto;
  }

.live-tile{
  height: 150px !important;
  margin: 2px !important;
  padding: 0px !important;
  width:158px !important;
}
.workculture__boxes {
  top:64px;
  &--alignment{
      width: 460px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
  }
}
.workculture__box{
  width: 220px;
  height: 113px;
h1{
  font-size: 24px !important;
  height: 113px;
  width: 140px !important;
  margin: 0 auto;
  padding: 0px !important;

  img {
    height: 18px;
    width: 12px;
    margin-top:30px;
  }
}
}

  .aboutus {
    .border {
      margin-top:40px;
    }
    &__headImg {
      height: 230px;
      width: 100%;
      margin-top: 49px;
      background-position: center center;
    }
    .row{
      width:700px;
      margin: 0 auto;
    }
    &__image{
      width: 192px;
      display: grid;
      margin: 75px auto 0px;
    }
    &__image2{
    width: 202px;
    display: grid;
    margin: 101px 0px 0px 0px;
    }

    &__content1 {
      height: 230px;
      padding: 29px 0px;
      font-size: 24px;
      width:700px;
      margin: 0 auto;

    h1 {
        padding: 161px 0px 0px 34px;
        font-size: 36px;
    }
    }
    &__tab {
        display: flex;
        justify-content: center;
    
      &--list {
        width: 350px;
        li {
          margin: 24px 0px;
          font-size: 14px;
        }
      }
    }
    &__thinking {
   
      h2 {
        font-size: 18px;
        padding:45px 0px 10px 0px;
      }
      p {
        width: 320px;
        font-size: 14px;
        padding-top: 32px;
        text-align: left;
      }
      h3 {
        font-size: 18px;
      }
      &--capitalImage {
        height: 300px;
        margin-top: 32px;
      }
      &--clientImage {
        height: 300px;
        margin-top: 32px;
      }
      &--industryImage {
        height: 300px;
        margin-top: 32px;
      }
      &--ourculture {
        padding-bottom: 51px;
        &--container1 {
          width: 580px;
          margin: 0 auto;

          .row {
            width: 700px;
            margin: 0 auto;
          }
        }
        .culture {
          padding-top: 64px;
        }
        p {
          width: 100%;
          padding: 16px 0px 0px 22px;
        }
      }
      &--grew {
        cursor: pointer;
        background-color: #603c96;
        p {
          font-size: 18px;
          padding: 50px 59px 53px 59px;
          width: 100%;
        }
      }
    }
  }
  // about company css
  .arrow_box {
    width: 300px;
    height: 163px;
    left:16px;
  }
  .arrow_box:after, .arrow_box:before {
    left: 100%;
  }
  
  .arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #f8f8f8;
    border-width: 12px;
    margin-top: -12px;
  }
  .arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #603c96;
    border-width: 13px;
    margin-top: -13px;
  }
  //right
  .arrow_box_right {
    width: 300px;
    height: 163px;
    left: 38px;
    P{
      text-align: left !important;
    }
  }
  .arrow_box_right:after, .arrow_box_right:before {
    right: 100%;
  }
  .arrow_box_right:after {
    border-width: 12px;
    margin-top: -12px;
  }
  .arrow_box_right:before {
    border-width: 13px;
    margin-top: -13px;
  }

  .process-1 {
    padding: 60px 0px 7px 0px;
    margin: 8px 0px 65px;
    width: 700px;
  }
  .process-1:before {
    left: 50%;
    top: 0;
  }
  .top_border:before {
    left: 344px;
    top: -60px;
  }
  .bottom_border:before {
    left: -5px;
    top: 157px;
  }
  .process-1 .process__item:nth-child(odd) {
    text-align: right;
   
  }
 
  .process__item {
    position: relative;
    p{
      width: 325px !important;
      margin: 0px !important;
      padding: 0px 41px 0px 17px !important;
      text-align: right !important;
    }
  }
  .process__item:after {
    top: 15px;
    margin-left: -8px;
  }
  .process-1 .process__item:nth-child(even) {
    margin-left: 50%;
    
  }
  .process-1 .process__item {
    width: 50%;
  }
  .process__item {
    padding: 0px;
  }

  .aboutus__company {
    &--explore{
      height: 175px;
    }
    .row {
      width:700px;
      margin: 0 auto;
    }
    h1 {
      font-size: 18px;
      padding: 32px 0px 16px;
       width: 100%;
    }
    p {
      font-size: 14px;
      margin:0px auto 32px;
      width: 540px;
      line-height: 1.79;
    }
 
   
    h2 {
      font-size: 20px;
      margin: 5px 0px 16px;
      padding: 0px 18px 0px 0px;
      width: 100%;
      text-align: right;
    }
    h3 {
      font-size: 12px;
      margin: 0px;
      padding: 26px 18px 0px 0px;
      width: 100%;
      text-align: right;
    }
    h4 {
      font-size: 12px;
      text-align:left;
      margin: 26px 0px 0px 18px;
    }
    h5{
      font-size: 20px;
      width: 100%;
      text-align: left;
      margin: 5px 0px 16px 18px;
    }
  }
  //workculture
  .hashworks__workculture {
    .plugin {
background: #fff;
min-height: 510px;
max-height: 100%;
margin-top: 3rem;
}
     .row{
    width: 698px;
    }
    .workculture__image{ 
           margin-top:49px;
           background-position:center center;
           height: 205px;
      h1 {
           font-size: 32px;
           padding: 0px 0px 33px 32px;
           height: 205px;
      }
    }
    .workculture__workfun{
        h1 {
           font-family: 'muliBold';
           font-size: 18px;
          margin: 40px 0px 18px 0px;
          padding: 0px;

        }
        p {
            font-size: 14px;
             line-height: 1.64;
             margin: 0px 98px 0px 100px;
        }
    }
    .workculture__facility {
        h1 {
           font-size: 18px;
           margin-top: 40px;
           padding: 0px;
        }
        h2{
          font-size: 14px;
          margin: 36px 0px 16px 0px;
        }
        p {
          font-size: 14px;
          line-height: 1.57;
          width: 336px;
          margin: 0px;
        }
    }
    .workculture__box{
        width: 240px;
        margin-bottom: 16px;
    span {
        margin-left: 3px;
         font-size: 16px;
    }
    }
   .workculture__bottomImage {
        height: 92px;
        background-position: center center;
        margin-top: 16px;
       
   }
}
.workculture__culture{
    border-top: 1px solid #d3d3d3;
    margin: 40px 0px 0px 0px;
    h2{
        width: 100%;
        font-size: 18px;
        margin:36px 0px 12px 0px;
        text-align: center;
    }
    p{
        width: 540px;
        margin:0px auto 64px;
        font-size: 14px;
    }
    h3{
        font-size: 18px;
        margin-bottom: 49px;
    }
}

}

@media only screen and (min-width: 1025px) {
  .tiles,.tiles1,.tiles2{
    display: flex;
    width:618px;
    justify-content: space-around;
    margin: 0 auto;
  }
  .live-tile{
    height: 209px !important;
    margin: 2px !important;
    padding: 0px !important;
    width: 203px !important;
  }
  .workculture__boxes {
    top:64px;
    &--alignment{
        width:618px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
  }
  .workculture__box{
    width: 297px;
    height: 140px;
  h1{
    font-size: 28px !important;
    height: 140px;
    width: 165px !important;
    margin: 0 auto;
    padding: 0px !important;
  
    img {
      height: 26px;
      width: 16px;
      margin-top: 30px;
    }
  }
  }
  .aboutus {
    .row {
      width:785px;
      margin: 0 auto;
    }
    &__headImg {
      height: 306px;
      width: 100%;
      margin-top: 67px;
    }
    &__image{
      width: 329px;
      display: grid;
      margin: 50px auto 0px 40px;
    }
    &__image2{
    width:290px;
    display: grid;
    margin:90px 0px 0px 0px;
    }
    &__content1 {
      height: 306px;
      padding: 31px 0px;
      font-size: 48px;
      width:785px;
      margin: 0 auto;
   
      h1 {
        padding: 161px 0px 0px 34px;
        font-size: 36px;
      }
    }
    &__tab {
      &--list {
        width: 441px;
        li {
          margin: 25px 0px;
          font-size: 16px;
        }
      }
    }
    &__thinking {
  
      h2 {
        font-size: 24px;
        padding: 60px 0px 0px 0px;
      }
      p {
        width:378px;
        font-size: 16px;
        padding-top: 33px;
      }
      h3 {
        font-size: 24px;
      }
      &--capitalImage {
        height: 430px;
        margin-top: 32px;
      }
      &--clientImage {
        height: 430px;
        margin-top: 32px;
      }
      &--industryImage {
        height: 430px;
        margin-top: 32px;
      }
      &--ourculture {
        padding-bottom: 51px;
        &--container1 {
          width: 799px;
          margin: 0 auto;

          .row {
            width: 920px;
            margin: 0 auto;
          }
        }
        .culture {
          padding-top: 64px;
        }
        p {
          width: 100%;
          padding: 16px 21px 0px 34px;
        }
      }
      &--grew {
        background-color: #603c96;
        p {
          font-size: 24px;
          padding: 69px 0px;
        }
      }
    }
    .border {
      margin-top: 64px;
      margin-bottom: 70px;
  }
  }
      // about company css
      .arrow_box {
        width: 370px;
        left: 5px;
      }
      .arrow_box:after, .arrow_box:before {
        left: 100%;
      }
      .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #f8f8f8;
        border-width: 12px;
        margin-top: -12px;
      }
      .arrow_box:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: #603c96;
        border-width: 13px;
        margin-top: -13px;
      }
      //right
      .arrow_box_right {
        width: 370px;
        left: 55px;
      }
      .arrow_box_right:after, .arrow_box_right:before {
        right: 100%;
      }
      .arrow_box_right:after {
        border-width: 12px;
        margin-top: -12px;
      }
      .arrow_box_right:before {
        border-width: 13px;
        margin-top: -13px;
      }
      .process-1 {
        padding: 20px 0px 21px 0px;
        margin: 8px 0px 63px;
        width: 860px;
      }
      .top_border:before {
        left: 424px;
        top: -20px;
      }
      .bottom_border:before {
        left: -5px;
        top: 202px;
      }
      .process__item {
        padding: 31px 0px 0px 0px;
        p{
          width: 382px !important;
          margin: 0px !important;
          padding: 0px 35px 0px 0px !important;
        }
      }
      .process__item:after {
        width:25px;
        height: 25px;
        margin-left:-11px;
        top:45px;
      }
      .aboutus__company {
        &--explore{
          height:230px;
        }
        .row {
          width:860px;
          margin: 0 auto;
        }
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
          margin: 12px auto 32px;
          width:731px;
        }
        h2 {
          font-size: 24px;
          margin: 5px 0px 20px;
          padding: 0px 40px 0px 0px;
          width: 100%;
          text-align: right;
        }
        h3 {
          font-size: 14px;
          margin: 0px;
          padding: 22px 40px 0px 0px;
          width: 100%;
          text-align: right;
        }
        h4 {
          font-size: 14px;
          text-align:left;
          margin: 22px 0px 0px 40px;
        }
        h5{
          font-size: 24px;
          width: 100%;
          text-align: left;
          margin: 5px 0px 20px 40px;
        }
      }
      //workculture
.hashworks__workculture {
  .row{
 width: 940px;
 }

 .workculture__image{  
     height: 274px; 
     margin-top:67px; 
   h1 {
        font-size: 36px;
        height: 274px; 
        padding: 0px 0px 32px 42px;
        
   }
 }
 .workculture__workfun{
     h1 {
        font-size: 24px;
       margin: 63px 0px 36px 0px;

     }
     p {
         font-size: 16px;
           line-height: 1.63;
          margin: 0px 136px 0px 143px;
     }
 }
 .workculture__facility {
     h1 {
        font-size: 24px;
        margin-top: 60px;
     width: 100%;
     }
     h2{
       font-size: 18px;
       margin: 36px 0px 16px 0px;
     }
     p {
       font-size: 18px;
       line-height: 1.5;
       width: 455px;
       margin: 0px;
     }
 }

.workculture__bottomImage {
     height:123px;
   margin-top: 40px;
}
}
.workculture__culture{
 h2{
     width: 100%;
     font-size: 24px;
     margin:60px 0px 16px 0px;
     text-align: center;
 }
 p{
     width:732px;
     margin:0px auto 64px;
     font-size: 16px;
 }
 h3{
     font-size: 24px;
     margin-bottom: 42px;
 }
}

  }
@media only screen and (min-width: 1367px) {
  .tiles,.tiles1,.tiles2{
    display: flex;
    width:770px;
    justify-content:space-around;
    margin: 0 auto;
  }

  .live-tile{
    height: 220px !important;
    margin: 2px !important;
    padding: 0px !important;
    width: 253px !important;
  }

  .workculture__boxes {
    top:64px;
    &--alignment{
      width:770px;
    }
  }
  .workculture__box{
    width:368px;
    height:163px;
  h1{
    font-size:32px !important;
    height: 163px;
    width: 188px !important;
    margin: 0 auto;
    padding: 0px !important;
  
    img {
      height: 26px;
      width: 16px;
      margin-top:43px;
    }
  }
  }


  .aboutus {
    &__headImg {
      height: 430px;
      width: 100%;
      margin-top: 66px;
    }
    .row{
      width:1000px;
      margin: 0 auto;
    }
    &__image{
      width: 350px;
      display: grid;
      margin: 0px auto 0px;
    }
    &__image2{
    width: 360px;
    display: grid;
    margin: 0px 0px 0px 0px;
    }
    &__content1 {
      height: 430px;
      padding: 33px 0px;
      font-size: 56px;
      width:1000px;
      margin: 0 auto;
      h1 {
        padding: 161px 0px 0px 34px;
        font-size: 36px;
      }
    }
    &__tab {
      &--list {
        width:500px;
        li {
          margin: 24px 0px;
          font-size: 18px;
        }
      }
    }
    &__thinking {
  
      h2 {
        font-size: 32px;
        padding: 64px 0px 90px 0px;
      }
      p {
        width:489px;
        font-size: 16px;
        padding-top: 10px;
      }
      h3 {
        font-size: 32px;
      }
      &--capitalImage {
        height: 557px;
        margin-top: 32px;
      }
      &--clientImage {
        height: 557px;
        margin-top: 32px;
      }
      &--industryImage {
        height: 557px;
        margin-top: 32px;
      }
      &--ourculture {
        padding-bottom: 100px;
        &--container1 {
          width: 985px;
          margin: 0 auto;

          .row {
            width: 1075px;
            margin: 0 auto;
          }
        }
        .culture {
          padding-top: 32px;
        }
        p {
          width: 100%;
          padding: 16px 21px 32px 34px;
        }
      }
      &--grew {
        background-color: #603c96;
        p {
          width: 100%;
          font-size: 32px;
          padding: 98px 0px;
        }
      }
    }
    .border {
      margin-top: 64px;
      margin-bottom: 90px;
  }
  }
  // about company css
  
  .aboutus__company {
    .row {
      width:825px;
      margin: 0 auto;
    }
    h1 {
      font-size:32px;
    }
  }
  .hashworks__workculture {
    .row{
   width: 1095px;
   }
   .workculture__image{  
       height: 385px;  
     h1 {
          font-size: 56px;
          height: 385px;  
          padding: 0px 0px 32px 132px;
          font-size: 48px;
     
     }
   }
   .workculture__workfun{
       h1 {
          font-size: 32px;
         margin: 63px 0px 36px 0px;

       }
       p {
           font-size: 24px;
           width: 100%;
             line-height: 1.46;
            margin: 0px 172px 0px 173px;
       }
   }
   .workculture__facility {
       h1 {
          font-size: 32px;
          margin-top: 60px;
       }
       h2{
         font-size: 24px;
         margin: 64px 0px 16px 0px;
       }
       p {
         font-size: 24px;
         line-height: 1.46;
         width: 500px;
         margin: 0px;
       }
   }
   .workculture__box{
       width: 400px;
       height: 256px;
       margin-bottom: 74px;
    
   h1{
       font-size: 48px;
       font-family: 'muliRegular';
    height: 256px;

       img {
           height: 30px;
           margin-left: 18px;
           margin-top: 71px;
       }
   }
   span {
       margin-left: 3px;
        font-size: 16px;
   }
   }
  .workculture__bottomImage {
       height:176px;
       margin-top: 50px;
        
  }
}
.workculture__culture{
   h2{
       width: 100%;
       font-size: 32px;
       margin:60px 0px 20px 0px;
       text-align: center;
   }
   p{
       width:732px;
       margin:0px auto 91px;
       font-size: 16px;
   }
   h3{
       font-size: 32px;
       margin-bottom: 32px;
   }
}
}
