@media only screen and (min-width: 320px){
    .hashworks__contactUs {
        .row {
            width: 298px;
            margin: 0 auto;
        }
        &__image {
             background-image: url(../assets/image/casestudy/1.png);
              background-size: 100% 100%;
             background-repeat: no-repeat;
            width: 100%;
            height: 180px;

            h1 {
                font-family: 'muliRegular';
                font-size: 24px;
                text-align: center;
                color: #ffffff;
                padding: 135px 153px 15px 29px;
            }
        }
        &__form {
            h1 {
                 font-family: 'muliRegular';
                 font-size: 16px;
                 text-align: center;
                 color: #603c96;
                 width: 100%;
                 margin: 37px 0px 0px 0px;
            }
            input {
                width: 263px;
                height: 35px;
                border-radius: 4px;
                border: solid 1px #979797;
                margin-top: 16px;
                padding-left: 6px;
                font-family: 'muliRegular';
                font-size: 12px;
                text-align: left;
                color: #a1a1a1;
            }
            button {
                width: 155px;
                height: 35px;
                border-radius: 4px;
                background-color: #603c96;
                margin: 16px 72px 37px 63px;
            }
        }
        &__address {
                margin: 45px 37px;
            h1 {
                font-family: 'muliBold';
                font-size: 12px;
                font-weight: bold;
                text-align: center;
                color: #4a4a4a;
                width: 100%;
                margin-bottom: 8px;
            }
            p {
                 font-family: 'muliRegular';
                 font-size: 12px;
                 line-height: 1.5;
                 text-align: center;
                 color: #3e3e3e;
                 width: 210px;

                        }
        }
        &__image1 {
            background-image: url(../assets/image/contactus/contact1.png);
              background-size: 100% 100%;
              background-repeat: no-repeat;
               width: 100%;
              height: 192px;  
              margin-bottom: 15px;

              h1 {
                  font-family: 'muliRegular';
                  font-size: 24px;
                  text-align: left;
                  color: #ffffff;
              }
        }
        &__image2 {
           background-image: url(../assets/image/contactus/contact2.png);
              background-size: 100% 100%;
              background-repeat: no-repeat;
               width: 100%;
              height: 199px; 
              
              h1 {
                  font-family: 'muliRegular';
                  font-size: 24px;
                  text-align: left;
                  color: #ffffff;
              }
        }
    }
}