
    .devOps{
        font-family: 'muliRegular';
        color: #4a4a4a;
        &__container{
            width: 270px;            
            margin: 0 auto;
        }
        &__headImg{
            background-image: url(../assets/image/mobile/devops.png);
            background-repeat: no-repeat;
            height: 232px;
            width: 100%;
            background-size: cover;
            background-position:80% 100%;
        }
        &__head{
            display: flex;
            height: 232px;
            align-items: flex-end;
            h1{
                font-family:'muliRegular';
                font-size: 24px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                width: 270px;
                margin: 0 auto 16px;
            }
        }
        &__content{
            height: 100%;
            background-color: #000000;
            color: #ffffff;
            padding-bottom: 24px;
            h1{
                font-size: 16px;
                padding: 21px 0 16px;
                font-weight: normal;
            }
            p{
                font-size: 12px;
                line-height: 1.5;
                padding-bottom: 16px;
            }
        }
        &__div1{
            display: inline-block;
            width: 130px;
            background-color: #603c96;
            padding: 15px 10px 0 27px;
            h2{
                font-weight: normal;
                font-size: 24px;
                padding-bottom: 23px;
            }
            p{
                font-size: 16px;
                
                line-height: 1;
            }
        }
        &__div2{
            display: inline-block;
            vertical-align: top;
            width: 130px;
            background-color: #ffffff;
            padding: 15px 10px 0 27px;
            h2{
                font-weight: normal;
                color: #603c96;
                font-size: 24px;
                padding-bottom: 6px;
            }
            p{
                font-size: 16px;
                color: #000000;
                line-height: 1;
            }

        }
        .col-xs-12.col-sm-8.col-md-8.col-lg-8,
        .col-xs-12.col-sm-4.col-md-4.col-lg-4,
        .col-xs-12.col-sm-6.col-md-6.col-lg-6 {
            padding: 0;
        }
        &__mobility{
            margin: 32px 0;
            h1{
                font-size: 18px;
                color: #603c96;
                font-family: 'muliBold';
                padding-bottom: 32px;
            }
            h2{
                font-family: 'muliSemiBold';
                font-size: 18px;
                padding-bottom: 16px;
            }
            p{
                font-size: 12px;
                line-height: 1.67;
                color: #3e3e3e;
                padding-bottom: 12px;
            }
        }
        &__div11{
            display: inline-block;
            width: 102px;
            background-color: #603c96;
            margin-left: 25px;
            padding: 25px 20px 17px 7px;
            p{
                font-size: 12px !important;
                line-height: 1.58;
                color: #ffffff;
            }
        }
        &__div12{
            display: inline-block;
            vertical-align: top;
            width: 102px;
            background-color: #f7f7f7;
            padding: 26px 35px 17px 11px;
            p{
                font-size: 12px !important;
                line-height: 1.58;
                color: #191919;
            }
        }
        &__productImg{
            background-image: url(../assets/image/devOps/bitmap.png);
            background-repeat: no-repeat;
            height: 189px;
            width: 100%;
            background-size: cover;
            background-position: center center;
            object-fit: contain;
            margin-bottom: 33px;
            p{
                font-size: 18px;
                padding-top: 61px;
                color: #fff;
                width: 185px;
            }
        }
        &__byod{
            margin: 33px 0;
            h1{
                font-size: 16px;
                font-family: 'muliSemiBold';
                padding-bottom: 16px;
            }
            p{
                font-size: 12px;
                line-height: 1.67;
                margin-bottom: 32px;
            }
        }
        &__div111{
            display: inline-block;
            width: 102px;
            background-color: #603c96;
            margin-left: 25px;
            padding: 25px 20px 0 7px;
            p{
                font-size: 12px;
                line-height: 1.58;
                color: #ffffff;
            }
        }
        &__div112{
            background-image: url(../assets/image/cloud/bitmap.png);
            background-repeat: no-repeat;
             background-size: cover;
            background-position: center center;
            object-fit: contain;
            display: inline-block;
            vertical-align: top;
            width: 102px;
            padding: 26px 35px 0 11px;
            p{
                font-size: 12px;
                line-height: 1.58;
                color: #fff;
            }
        }
        &__div113{
            display: inline-block;
            margin-top: 10px;
            margin-left: 25px;
            width: 102px;
            background-color: #151515;
            padding: 26px 35px 0 11px;
            
            p{
                font-size: 12px;
                line-height: 1.58;
                color: #fff;
            }
        }
    }
@media only screen and (min-width: 768px){
    .devOps{
        margin-top:49px;
        &__container{
            width: 702px;
            margin: 0 auto;
        }
        &__headImg{
            height:205px;
            background-position: center center;
        }
        &__head {
            height:205px;
            h1{
                font-size: 32px;
                width: 702px;
                margin: 0 auto 33px;
              }
        }
        &__content {
            padding: 32px 0;
            h1 {
                font-size: 18px;
                padding: 0 0 16px;
            }
            p {
                font-size: 14px;
                padding-right: 27px;
            }
        }
        &__div1 {
            margin-left: 7px;
            margin-top: 22px;
            width: 160px;
            padding: 5px 10px 14px 15px;
            h2{
                font-size: 36px;
                padding-bottom: 12px;
            }
            p{
                font-size: 18px;
                padding-bottom: 11px;
            }
        }
        &__div2 {
            margin-top: 22px;
            margin-left: 18px;
            width: 160px;
            padding: 4px 6px 0px 13px;
            h2{
                font-size: 36px;
                color: #000000;
               width: 119px;
            }
            p{
                font-size: 18px;
                padding-top: 16px;
            }
        }
        &__mobility {
            margin: 33px 0 49px;
            h1 {
                font-size: 24px;
            }
            p {
                font-size: 14px;
                padding-bottom: 0;
            }
        }
        &__div11 {
            padding: 23px 0px 18px 6px;
            margin: 55px 10px 0 0;
            p{
                font-size: 13px ;
            }
        }
        &__div12 {
            margin-top: 55px;
            padding: 25px 35px 18px 6px;
            p{
                font-size: 13px ;
            }
        }
        &__productImg{

            p {
            font-size: 24px;
            padding-top: 49px;
            width: 230px;
            }
        }
        &__byod {
            margin: 33px 0 35px;
            h1 {
                font-size: 18px
            } 
            p {
                font-size: 14px;
            }
        }
       &__div111 {
             margin-left: 0; 
            margin-right: 8px;
            margin-top: 10px;
            padding: 18px 7px 18px 5px;
            p{
                font-size: 13px;
                margin: 0px;
            }
        }  
        &__div112 {
            margin-top: 10px;
            padding: 16px 0px 20px 6px;
            p{
                font-size: 13px;
                margin: 0px;
            }
        }
        &__div113 {
            margin-right: 10px;
            padding: 20px 30px 18px 10px;
            margin-left: 0; 
            p{
                font-size: 13px;
                margin: 0px;
            }
        }
    }
}


@media only screen and (min-width: 1025px){
    .devOps{
        margin-top: 67px;
        &__container{
            width: 943px;
        }
        &__headImg{
            height: 274px;
        }
        &__head {
            height: 274px;   
            h1{
                font-size:36px;
                width: 943px;
              }
        }
        &__content {
            padding: 35px 0 32px;
            h1 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
        &__div1 {
            margin-top: 40px;
            width: 220px;
            padding: 22px 25px 21px 24px;
            h2 {
                font-size: 48px;
                padding-bottom: 26px;
            }
            p{
                font-size: 24px !important;
                padding: 1px 0px;
            }
        }
        &__div2 {
            margin-top: 40px;
            width: 220px;
            padding: 22px 25px 21px 24px;
            h2 {
                font-size: 48px;
                padding-bottom: 28px;
            }
            p{
                font-size: 24px !important;
                padding: 0px;
            }
        }
        &__mobility {
            margin: 32px 0 64px;
            h1 {
                font-size: 32px;
            }
            p {
                font-size: 16px;
            }
            h2 {
                font-size: 24px;
            }
        }
        &__div11 {
            width: 140px;
            margin: 55px 15px 0px 0;
            padding: 0px;
            p{
                font-size: 18px !important;
                padding: 40px 9px 39px 8px;
                width: 130px;
                line-height: 1.33;
                margin: 0px;
            }
        }
        &__div12 {
            width: 140px;
            padding:0px;
            p{
                font-size: 18px !important;
                padding: 32px 35px 32px 6px;
            }
        }
        &__productImg {
            height: 250px;

            p {
                font-size: 36px;
                padding-top: 57px;
                width: 100%;
            }
        }
        &__byod {
            margin: 64px 0;
            h1 {
                font-size: 24px
            } 
            p {
                font-size: 16px;
            }
        }
        &__div111 {
            margin-left: 0;
            margin-right: 7px;
            margin-top: 10px;
            padding: 32px 9px 32px 8px;
            width: 140px;
           p{
               font-size: 18px;
               margin: 0px;
           }
       }  
       &__div112 {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 10px;
        padding: 32px 9px 32px 8px;
        width: 140px;
           p{
               font-size: 18px;
               margin: 0px;
           }
       }
       &__div113 {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 10px;
        padding: 32px 30px 32px 8px;
        width: 140px;
           p{
               font-size: 18px;
               margin: 0px;
           }
       }
       
      
    }
}
@media only screen and (min-width: 1367px){
    .devOps{
        &__container{
            width: 1107px;
        }
        &__headImg{
            height:385px;
        }
        &__head {
            height:385px;
            h1{
                font-size:48px;
                width: 1107px;
              }
       }
        &__content {
            padding: 92px 0 118px;
            h1 {
                font-size: 32px;
            }
            p {
                font-size: 18px;
            }
        }
    
        &__div1 {
            margin-top: 40px;
            width: 260px;
            padding: 18px 40px 33px 32px;
            h2 {
                font-size: 48px;
                padding-bottom: 32px;
            }
            p{
                font-size: 32px !important;
                padding: 1px 0px;
            }
        }
        &__div2 {
            margin-top: 40px;
            width: 260px;
            padding: 18px 20px 33px 32px;
            h2 {
                font-size: 48px;
                padding-bottom: 32px;
            }
            p{
                font-size: 32px !important;
                padding: 0px;
            }
        }

        &__mobility {
            margin: 32px 0 82px;
            h1 {
                font-size: 36px;
                margin-left: 10px;
            }
            p {
                font-size: 18px;
                margin-left: 10px;
            }
            h2 {
                font-size: 32px;
                margin-left: 10px;
            }
        }
        &__div11 {
            width: 170px;
            margin: 135px 30px 0px 0px;
            padding: 0px;
            p{
                font-size: 24px !important;
                padding: 46px 9px 40px 9px;
                width: 100%;
                line-height: 1.33;
                margin: 0px;
            }
        }
        &__div12 {
            width: 170px;
            margin: 135px 15px 0px 0px;
            padding: 0px;
            p{
                font-size: 24px !important;
                padding: 46px 35px 40px 6px;
                line-height: 1.33;
            }
        }
        &__productImg {
            height: 350px;

            p {
                font-size: 48px;
                padding-top: 98px;
                width: 500px;
            }
        }
        &__byod {
            margin: 64px 0;
            h1 {
                font-size: 32px;
                margin-left: 10px;
            } 
            p {
                font-size: 18px;
                margin-left: 10px;
            }
        }
     
        &__div111 {
            margin-left: 0;
            margin-right: 13px;
            margin-top: 78px;
            padding: 46px 9px 40px 8px;
            width: 170px;
           p{
               font-size: 24px;
               margin: 0px;
               line-height: 1.33;
           }
       }  
       &__div112 {
        margin-left: 0;
        margin-right: 30px;
        margin-top: 78px;
        padding: 46px 9px 40px 8px;
        width: 170px;
           p{
               font-size: 24px;
               margin: 0px;
               line-height: 1.33;
           }
       }
       &__div113 {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 16px;
        padding: 46px 9px 40px 8px;
        width: 170px;
           p{
            font-size: 24px;
            margin: 0px;
            line-height: 1.33;
            padding-left: 15px;
           }
       }
    }
}