.expertise {
    &__banner {
          height: 345px;
          background-image: url(../assets/images/expertise_banner.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          &--text {
              padding: 0px 14px 40px  18px;
              h1 {
                font-family: 'latoLight'; 
                font-size: 36px;
                font-weight: 300;
                text-align: center;
                color: #ffffff;
                margin: 0;
                
              }
          }
    }
    &__banner .row {
        height: 100%;
        width: 100%;
    }
    &__bannerImage {
        width:280px;
        margin: 0 auto;
    }
    &__heading {
        background-color: #f2f2f2;
      
    }
    &__headingContainer {
         width:280px;
        margin: auto;
        &--title {
            border-bottom: 1px solid #e0e0e0;
            h1 {
                font-family: 'latoRegular';
                margin: 0;
                padding: 22px 21px;
                font-size: 28px;
                font-weight: 600;
                line-height: 1.32;
                text-align: left;
                color: #2faaba;
                width:225px;
                min-width: 225px;
                max-width:300px;
            }
         }
    }
    &__grey{
        background-color: #f2f2f2;
    }
    &__details {

    }
    &__detailsContainer {
        width:280px;
        margin: 0 auto;
        padding: 40px 15px;
        &--heading {
            padding-bottom: 42px;
            h1 {
                margin: 0;
                  font-family: 'latoRegular';
                  font-size: 24px;
                  font-weight: 500;
                  text-align: left;
                  color: #2faaba;
            }
            
        }
        &--subDetails {
            padding-bottom: 15px;
            h2 {
                margin: 0;
                 font-family: 'latoRegular';
                 font-size: 18px;
                 font-weight: 600;
                 text-align: left;
                 color: #4a4a4a;
                 margin-bottom: 16px;
            }
            p {
                margin: 0;
                 font-family: 'latoRegular';
                 font-size: 12px;
                 line-height: 1.5;
                 text-align: left;
                 color: #95989a;
                 font-weight: 400;
                 width: 80%;
            }
        }
        &--left {
            
        }
        &--right {
           
            img {
                width: 280px;
                height: 315px;
                margin-bottom: 38px;
            }
        }
    }
    &__action {
        background-color: #2faaba;
        padding: 15px 20px;
    }
    &__actionContainer {
        width:280px;
        margin: 0 auto;
        .row{
            width: 100%;
        }
        &--content {
            border-bottom: 1px solid #fff;
            h1 {
                  font-family: 'latoLight';
                  font-weight: 400;
                  font-size: 24px;
                  text-align: left;
                  color: #f2f2f2;
                  width: 85%;
                  margin: 15px 0px;
            }
        }
        &--actionContent {
            h1 {
                font-family: 'latoLight';
                font-size: 20px;
                text-align: left;
                color: #f2f2f2;
                margin: 0;
                padding:25px 0px;
                font-weight: 400;
                width: 85%;
            }
            button {
                 width: 260px;
                 height: 57px;
                 border-radius: 4px;
                 background-color: #f79a3d; 
                 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
                 border: none;
                 outline: none;
                 font-family: 'latoRegular';
                 font-size: 18px;
                 text-align: center;
                 color: #f2f2f2;
            }
        }
    }
}
@media only screen and (min-width:320px) {
.expertise{

           h1 {
               font-family: 'latoRegular';
               font-size: 24px;  
           }
           h2{
               font-size: 18px;
           }
           p{
               font-size: 12px;
           }
        }

            }
// Media Query for Table begins here //
@media only screen and (min-width:768px) {
    .expertise {
        &__banner {
            height: 461px;
            &--text {
                padding: 0px 41px 76px  52px;
                h1 {
                  font-family: 'latoLight';
                  font-size: 64px;
                }
            }
        }
        &__bannerImage {
            width:720px;
            margin: 0 auto;
        }
        &__headingContainer {
            width:680px;
            margin: 0 auto;
            &--title {
                h1 {
                    padding:22px 0px;
                }
            }
            &--title:nth-child(1) {
                h1 {
                    font-size: 32px;
                    margin-left: 100px;
                }
            }
             &--title:nth-child(3) {
                h1 {
                    font-size: 32px;
                    margin-left: 100px;
                }
            }
            &--title:nth-child(2) {
                border-left:1px solid #e0e0e0;
                h1 {
                    font-size: 32px;
                    margin-left: 47px;
                }
            }
            &--title:nth-child(4) {
                border-left:1px solid #e0e0e0;
                h1 {
                    font-size: 32px;
                    margin-left: 47px;
                }
            }
        }
        &__detailsContainer {
            width:680px;
            margin: 0 auto;
            padding: 55px 0px;
            &--right {
                
            }
            &--reverseOrder.first-xs {
                order: 0;
            }
            &--left {
               
            }
            &--heading {
                padding-bottom: 32px;
                h1 {
                    width:100%;
                    font-size: 32px;
                }  
            }
            &--subDetails {
                h1 {
                    font-size: 32px;
                }
                h2{
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        &__action {
            padding: 35px 50px;
        }
        &__actionContainer {
            width:680px;
            margin: 0 auto;
            &--actionContent{
                h1{
                font-size: 32px;
                }
            }
            &--content {
                h1 {
                    margin: 0px 30px 30px 0px;
                    font-size: 32px;
                }
            }
        }
    }
}
// Media Query for Table Ends here //

// Media Query for Desktop begins here //
@media only screen and (min-width:1025px) {
    .expertise {
        &__banner {
            &--text {
                padding: 0px 97px 76px  157px;
            }
        }
        &__bannerImage {
            width:960px;
            margin: 0 auto;
        }
        &__headingContainer {
            width:100%;
            margin: 0 auto;
            .row{
                width: 100%;
            }
            &--title {
                padding-left: 30px;
            }
             &--title:nth-child(1) {
                 padding-left: 30px;
                 border-bottom: none;
                h1 {
                    font-size: 32px;
                    margin-left: 0px;
                }
            }

             &--title:nth-child(2) {
                border-left:1px solid #e0e0e0;
                border-bottom: none;
                padding-left: 30px;
                h1 {
                    font-size: 32px;
                    margin-left: 0px;
                }
            }

             &--title:nth-child(3) {
                padding-left: 30px;
                border-left:1px solid #e0e0e0;
                border-bottom: none;
                h1 {
                    font-size: 32px;
                     margin-left: 0px;
                }
            }
            
            &--title:nth-child(4) {
                padding-left: 30px;
                border-left:1px solid #e0e0e0;
                border-bottom: none;
                h1 {
                    font-size: 32px;
                    margin-left: 0px;
                }
            }
        }
        &__detailsContainer {
            width: 980px;
            margin: 0 auto;
            padding: 100px 15px;
            &--heading {
                padding-bottom: 32px;
            }
           
            &--subDetails {
                padding-bottom: 32px;
                h1 {
                    font-size: 32px;
                }
                h2{
                    font-size: 24px;
                }
                p {
                    font-size: 16px;
                }
            }
            &--right{
                img{
                    width: 400px;
                    height: 460px;
                    margin-bottom: 0px; 
                }
            }
        }
         &__action {
            padding: 82px 50px;
        }
        &__actionContainer {
            width:937px;
            margin: 0 auto;
            &--reverseOrder.first-xs {
                order: 0;
            }
            &--content {
                border-bottom: none;
                margin-top: 2rem;
                padding-left:28px;
            }
            &--reverseOrder {
                border-left: 1px solid #fff;
            }
            // &--actionContent {
            //     h1 {
            //         width:65%;
            //     }
            // }
        }
    }
}
// Media Query for Desktop Ends here //


// Media Query for Large Screen begins here //
@media only screen and (min-width:1367px) {
     .expertise {
        &__banner {
            &--text {
                padding: 0px 335px 65px  335px;
            }
        }
        &__bannerImage {
            width:1366px;
            margin: 0 auto;
        }
        &__headingContainer {
            width:1366px;
            margin: 0 auto;
            &--title {
                padding-left:55px;  
            }
             &--title:nth-child(1) {
                 padding-left: 55px;
                 border-bottom: none;
                h1 {
                    font-size: 48px;
                    margin-left: 0px;
                }
            }

             &--title:nth-child(2) {
                border-left:1px solid #e0e0e0;
                border-bottom: none;
                padding-left: 55px;
                h1 {
                    font-size: 48px;
                    margin-left: 0px;
                }
            }

             &--title:nth-child(3) {
                padding-left: 55px;
                border-left:1px solid #e0e0e0;
                border-bottom: none;
                h1 {
                    font-size: 48px;
                     margin-left: 0px;
                }
            }
            
            &--title:nth-child(4) {
                padding-left: 55px;
                border-left:1px solid #e0e0e0;
                border-bottom: none;
                h1 {
                    font-size: 48px;
                    margin-left: 0px;
                }
            }
        }
        &__detailsContainer {
            width:1366px;
            margin: 0 auto;
            padding: 110px 135px;
            &--heading {
                padding-bottom: 32px;
                h1 {
                    font-size: 48px;
                }
            }
            &--subDetails {
                padding-bottom: 32px;
            }
            h1 {
                font-size: 48px;
            }
        }
         &__action {
            padding: 130px 75px;
        }
        &__actionContainer {
            width:1200px;
            margin: 0 auto;
            &--reverseOrder {
                
            }
            &--content {
                border-bottom: none;
                margin-top: 2rem;
                padding-left: 64px;
                // h1 {
                //     width:60%;
                // }
            }
            &--reverseOrder {
                border-left: 1px solid #fff;
            }
            // &--actionContent {
            //     h1 {
            //         width:45%;
            //     }
            // }

        }
    }
}
// Media Query for Large Screen ends here //
