.bottom-border{
    border-bottom: solid 1px #e0e0e0;  
    }
    .left-border{
        border-left: solid 1px #e0e0e0;
    }
    .center-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hide-mobile
            {
                display:none;
            }
            .no-border{
                            border-bottom:none;
                        }
.home{
    &__hashworks{
      
        &--pattern{
            background-image:url('../assets/image/job/BG .png');
            height:269px;
            background-repeat:no-repeat;
            background-size:cover;  
            display: flex;
            justify-content: center;
        }
        &--logo{
            width: 220px;
            height: 220px;
            margin-top: 40px;
        }
          
        h1{
            margin: 0 auto;
            width: 247px;
            font-family: 'muliSemiBold';
            font-size: 24px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #4a4a4a;
            span{
                color: #603c96;
            }
        }
        h2{
            margin: 0 auto;
            width: 256px;
            font-family: 'muliSemiBold';
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #3e3e3e;
            padding: 10px 0px 20px;
        }
        p{
            margin: 0 auto;
            width: 256px;
            font-family: 'muliRegular';
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #3e3e3e;
            margin-bottom: 33px;
        }
    }
    &__groome{
        background-color: #000000;
        // height: 141px;
        margin-bottom: 8px;
        img{
            width: 88px;
            height: 18px;
            margin: 42px 0px 0px 38px;
        }

.read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Know More —>';
  }
  

  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    font-family: 'muliRegular';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 6px 39px;
  }
  
p{
    font-family: 'muliRegular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 16px 39px 0px 39px;
}
    }
    &__business{
        h1{
            font-family: 'muliBold';
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            padding: 12px 0px 0px 28px;
        }
        h2{
            font-family: 'muliRegular';
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            padding: 29px 9px 25px 28px;
            width: 286px;
        }
        &--grew{
            background-color: #603c96;
        }
        &--impact{
            background-image:url(../assets/image/index/rectangle1.jpg);
            height: 170px;
            background-size:100% 100%;
            background-repeat: no-repeat; 
            margin-top: 8px;
          
        }
    }
    &__businessImpact{
        h1{
            font-family: 'muliBold';
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            padding: 12px 0px 0px 28px;
        }
        h2{
            font-family: 'muliRegular';
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        
        }
        &--thinking{
            background-image:url(../assets/image/index/customer.jpg);
            height: 170px;
            background-size:100% 100%;
            background-repeat: no-repeat; 
            margin-top: 8px;
            h2{
                padding: 60px 0px 25px 28px;
                width: 100px;
            }
        }
      
        &--culture{
            background-image:url(../assets/image/index/rectangle-3-copy-3.jpg);
            height: 170px;
            background-size:100% 100%;
            background-repeat: no-repeat; 
            margin-top: 8px;
            h2{
                padding: 29px 0px 0px 28px;
                width: 293px;
            }
        }
      
    }
    &__caseStudy{
        background-color: #000000;
        &--image{
            height: 214px;
            background-image:url(../assets/image/index/group.jpg);
            height: 170px;
            background-size:100% 100%;
            background-repeat: no-repeat; 
            margin-top: 8px; 
        }
        &--content{
            padding: 13px 0px 15px 28px;
            h1{
                font-family: 'muliBold';
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
            }
            h2{
                width: 245px;
                height: 15px;
                font-family: 'muliregular';
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                margin: 16px 0px;
            }
            p{
                width: 241px;
                height: 39px;
                font-family: 'muliLight';
                font-size: 10px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
              
            }
        }
     &--uptime{
        display: flex;
        justify-content: space-between;
        width: 320px;
        padding-bottom: 27px;
        h2{
            font-family: 'muliRegular';
            font-size: 36px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            margin: 16px 27px;
        }
        p{
            font-family: 'muliRegular';
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            padding: 11px 0px 0px 27px;
        }
         &--service{
             width: 155px;
             height: 146px;
             background-color: #603c96;
         }
         &--sales{
            width: 155px;
            height: 146px;
            background-color: #ffffff;
            h2{
                color: #4a4a4a;
            }
            p{
                color: #4a4a4a;
            }
        }
     }
    }
    &__acclerated{
     h1{
        font-family: 'muliRegular';
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4a4a4a;
        padding-top: 16px;
     }
     .row{
         width: 230px;
         margin: 0 auto;
         height: 153px;
     }
     .img1{
         width: 44px;
         height: 36px;
     }
     .img2{
        width: 91px;
        height: 24px;
    }
    .img3{
        width: 91px;
        height: 41px;
    }
    .img4{
        width: 46px;
        height: 52px;
    }
  
    .img5{
        width: 89px;
        height: 12px;
    }
    .img6{
        width: 44px;
        height: 36px;
    }
    .img7{
        width: 44px;
        height: 36px;
    }
    .img8{
        width: 44px;
        height: 36px;
    }
    .img9{
        width: 44px;
        height: 36px;
    }
    }
    &__roi{
        p{
            font-family: 'muliRegular';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #4a4a4a;
            padding: 12px 0px  0px;
        }
        input{
            width: 143px;
            background-color: #ffffff;
            border: solid 1px #ebebeb;
            display: block;
            margin: 6px auto 0px;
            font-family: 'muliRegular';
            padding: 3px 0px 5px 13px;
        }
        &--image{
            background-image:url(../assets/image/index/people.jpg);
            background-size: 100% 100%;
            height: 147px;
        }
        .button{
            width: 82px;
            border-radius: 4px;
            background-color: #603c96;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            border: none;
            margin-top: 6px;
        }
    }
}

///
