
.slick-initialized .slick-slide {
    outline: none;
}

/* Icons */
.icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    color: gray;
  
  }
  .modal {
      position: absolute;
      z-index: 10000; /* 1 */
      top: 0;
      left: 0;
      visibility: hidden;
      width: 100%;
      margin: 0px auto;
      height: 100%;
  }
  .modal.is-visible {
      visibility: visible;
  }
  .modal-transition {
    transition: all 0.3s 0.12s;
    opacity: 0;
  }
  
  .modal.is-visible .modal-transition {
    opacity: 1;
  }
  .modal-close {
    position: absolute;
    top: 24px;;
    right: 18px;;
    padding: 1em;
    color: #aaa;
    background: none;
    border: 0;
    cursor: pointer;
  }
    .uploadresume{
position: relative;
    }
    .applyfield{
        padding: 0px 28px 0px 29px;
    
        h6{
            font-family: 'muliRegular';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #a1a1a1;
            position: absolute;
            top: 9px;
            left: 20px;
        }
        .uploadFile {
            visibility : hidden;
         }
         .uploadBox{
            width: 100%;
            height: 35px;
            border-radius: 4px;
            border: solid 1px #979797;
            margin: 0px 0px 16px 0px;
            font-size: 12px;
            padding: 9px 7px;
        
         }
         .upload{
             float: right;
             margin-right:-3px; 
         }
        
    }

    //end popup
.jobslider{
    .jobbutton{
        background-color: #603c96;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 16px;
        padding: 8px 0px 0px 14px;
        position: absolute;
        top: 98%;
        left: 140px;
     }
     .jobbutton1{
        background-color: #603c96;
       
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 16px;
        padding: 8px 0px 0px 14px;
        position: absolute;
        top: 98%;
        left: 97px;
     }
     .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
         /* color: transparent; */
         outline: none;
         background-color: #603c96;
     }
   
     .slick-initialized .slick-slide {
         display: block;
         outline: none !important;
     }
    
     
 }
 .job{
     &__headImg{
         background-image: url(../assets/image/job/intern-ship.png);
         background-repeat: no-repeat;
         height: 211px;
         width: 100%;
         background-size:cover;    
         background-position: center center;   
       }
       &__content{
         height: 211px;
         width: 100%;
         display: flex;
         align-items: flex-end;
         padding: 24px 28px;
         font-family: 'muliRegular';
         font-size: 24px;
         text-align: left;
         color: #ffffff;
         font-weight: normal;
       }
       &__tab {
        border: solid 1px #f7f7f7;
        display: flex;
        justify-content: center;
    &--list {
        margin: 0px;
        padding: 0px;
        list-style: none;
        width: 166px;
        display: flex;
        justify-content: space-between;
      li {
        font-family: 'muliBold';
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        color: #838383;
        cursor: pointer;
        margin: 20px 0px 15px 0px;
      }
    }
  }
 &__opening{
     width: 271px;
     margin: 0 auto;
     h1{
         font-family:'muliBold';
         font-size: 16px;
         font-weight: normal;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: normal;
         text-align: center;
         color: #603c96;
         padding: 24px 0px 16px;
     }
     p{
         font-family:'muliRegular';
         font-size: 12px;
         font-weight: normal;
         font-style: normal;
         font-stretch: normal;
         line-height: 1.5;
         letter-spacing: normal;
         text-align: center;
         color: #3e3e3e;
     }
     &__position{
         background-color: #ffffff;
         box-shadow: 1px 3px 15px 10px rgba(222, 222, 222, 0.5);
         border: solid 1px #dcdcdc;
         margin-top: 32px;
         padding-bottom: 70px;
         h1{
             font-family:'muliSemiBold';
             font-size: 16px;
             padding: 38px 0px 6px;
         }
         h2{
             font-family:'muliRegular';
             font-size: 12px;
             font-weight: normal;
             font-style: normal;
             text-align: center;
             color: #3e3e3e;
             padding: 6px 0px;
         }
         &--apply{
             width: 101px;
             cursor: pointer;
             border-radius: 4px;
             box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
             border: solid 1px #603c96;
             font-family:'muliRegular';
             font-size: 14px;
             font-weight: normal;
             text-align: center;
             color: #603c96;
             margin: 6px  auto 0px;
             padding: 5px 0px 4px;
         }
         &--next{
             width: 32px;
             height: 32px;
             background-color: #603c96;
             box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
             border-radius: 50%;
         }
     }
 }
 
 &__footer{
     position: relative;
     height: 165px;
     &__img{
         background-image: url(../assets/image/job/1@2x.png);
         background-repeat: no-repeat;
         background-position: center center;
         width: 100%;
         height: 237px;
         background-size:cover;    
         position: absolute;
         top:-70px;
         z-index: -1;   
       }
 }
      
     }
     .modal-wrapper {
        position: absolute;
        z-index: 1;
        background-color: #fff;
        margin-top: 53px;
        height: 1574px;
        .modal-header{
            h1{
                font-size: 18px;
                font-family: 'muliBold';
                color: #603c96;
                padding: 36px 0px;
               text-align: center;
            }
          }
        h2{
           
            font-family: 'muliRegular';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #603c96;
            margin-bottom: 12px;
            
        }
        h5{
            width: 100%;
            margin: 0 auto;
            font-size: 12px;
            margin-bottom: 36px;
            padding: 0px 28px;
            font-family:'muliRegular'; 
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: normal;
            text-align: left;
        }
        input{
            width:100%;
            height: 35px;
            border-radius: 4px;
            border: solid 1px #979797;
            margin:0px 0px 16px 0px;
            font-family: 'muliRegular';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #a1a1a1;
            padding: 7px;
        }
        
        .jobapply{
            width: 155px;
            height: 35px;
            border-radius: 4px;
            background-color: #603c96;
            font-family: 'muliBold';
            font-size: 12px;
            font-weight: normal;
            text-align: center;
            color: #ffffff;
            margin: 0px auto 32px;
            border: none;
            outline: none;
        }
      }        

 
@media screen and (min-width:768px){

    .applyfield{
        padding: 0px;
        position: relative;
        h6{
            font-size: 14px;
        }
         .uploadBox{
            width: 100%;
            height: 37px;
            border-radius: 4px;
            border: solid 1px #979797;
            margin: 0px 0px 16px 0px;
            font-size: 12px;
            padding: 9px 7px;
        
         }
         .upload{
             float: right;
             margin-right:-3px; 
         }   
    }

.jobslider{
    .jobbutton,.internshipbutton{
        background-color: #603c96;
        /* top: 100%; */
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 22px;
        padding: 8px 0px 0px 17px;
        position: absolute;
        top: 436px;
        left: 523px;
     }
     .jobbutton1,.internshipbutton1{
        background-color: #603c96;
        /* top: 100%; */
        width: 40px;
        height:40px;
        border-radius: 50%;
        font-size: 22px;
        padding: 8px 0px 0px 15px;
        position: absolute;
        top: 436px;
        left: 474px;
     }  
 }
       .job{
              &__headImg{
                  height: 205px;  
                  margin-top: 48px; 
                }
                &__content{
                  height: 205px;
                  width: 100%;
                  padding: 32px 31px;
                  font-size: 32px;
                }
                &__tab {
                    display: flex;
                    justify-content: center;
                
                  &--list {
                    width:210px;
                    li {
                      margin: 24px 0px;
                      font-size: 14px;
                    }
                  }
                }
          &__opening{
              width: 578px;
              margin: 0 auto;
              h1{
                 font-family: 'muliBold';
                 font-size: 18px;
                 padding: 34px 0px 16px;
              }
              p{
                 width: 433px;
                 margin: 0 auto;
                  font-size: 14px;
              }
              &__position{
                  margin-top: 34px;
                  padding:43px 0px 18px;
                  h1{
                    font-family:'muliSemiBold';
                      font-size: 18px;
                      padding:  0px;
                      width: 180px;
                      text-align: left;
                  }
                  h2{
                      font-size: 14px;
                      padding: 6px 0px;
                  }
                  &--apply{
                      font-size: 16px;
                      margin:0px;
                      padding: 6px 0px 8px;
                      cursor: pointer;
                  }
                  &--alignment{
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 29px;
                }
              }
          }
          
          &__footer{
              position: relative;
              height: 165px;
              &__img{
                 
                  width: 100%;
                  height: 237px;
                  background-size:cover;    
                  position: absolute;
                  top:-70px;
                  z-index: -1;   
                }
          }
               
              }
              .modal-wrapper {
                padding: 0px 94px 0px 105px;
                margin-top: 49px;
                height: 1016px;
                .modal-header{
                    h1{
                      font-size: 18px;
                    padding: 36px 0px;
                    }
                  }
              }
              .modal-body{
                    h2{
                    font-size: 16px;
                    margin-bottom: 12px;
                    text-align: left;
                    color:#603c96;
                }
                h5{
                    width: 100%;
                    margin: 0 auto;
                    margin-bottom: 36px;
                    padding: 0px;
                    font-size: 14px;
                    color:#3e3e3e;
                }
                input{
                    width:100%;
                    height: 37px;
                    border-radius: 4px;
                    border: solid 1px #979797;
                    margin:0px 0px 16px 0px;
                   font-size: 14px;
                    padding: 9px 7px;;
                }
                
                .jobapply{
                    width: 160px;
                    height: 37px;
                    margin: 0px auto 32px;
                    position: absolute;
                    right: 11px;
                    bottom: -78px;
                   
                }
              }
              .modal-close {
                position: absolute;
                top: 24px;;
                right: 35px;;
                padding: 1em;
                color: #aaa;
                background: none;
                border: 0;
                outline: none;
              }
              
     }


 @media screen and (min-width:1024px){

    .applyfield{
        padding: 0px;
    
        h6{
            font-size: 16px;
            
        }
 
         .uploadBox{
            width: 100%;
            height: 49px;
            border-radius: 4px;
            border: solid 1px #979797;
            margin: 0px 0px 16px 0px;
            font-size: 12px;
            padding: 9px 7px;
        
         }
         .upload{
            float: right;
            height: 25px;
            width: 25px;
            margin-right: 12px;
         }   
    }

    .jobslider{
        .jobbutton{
           
            width: 54px;
            height: 54px;
            font-size: 30px;
            padding: 10px 0px 0px 23px;
            top: 440px;
            left: 695px;
         }
         .jobbutton1{
            width: 54px;
            height: 54px;
            font-size: 30px;
            padding: 10px 0px 0px 19px;
            top: 440px;
            left: 625px;
         }   
     }
           .job{
                  &__headImg{
                      height:274px;  
                      margin-top: 67px;   
                    }
                    &__content{
                      height:274px;
                      padding: 26px 43px;
                      font-size:36px;
                    }
                    &__tab {
                        &--list {
                          width:287px;
                          li {
                            margin: 25px 0px;
                            font-size: 16px;
                          }
                        }
                      }
              &__opening{
                  width:780px;
                  margin: 0 auto;
                  h1{
                     font-family: 'muliBold';
                     font-size: 24px;
                     padding: 31px 0px 16px;
                  }
                  p{
                     width:623px;
                     margin: 0 auto;
                      font-size: 16px;
                  }
                  &__position{
                      margin-top: 34px;
                      padding:43px 0px 18px;
                      h1{
                        font-family:'muliSemiBold';
                          font-size: 24px;
                          padding:  0px;
                          width: 251px;
                          text-align: left;
                      }
                      h2{
                          font-size: 16px;
                          padding: 6px 0px;
                      }
                      &--apply{
                          font-size: 18px;
                          margin:0px;
                          padding: 6px 0px 8px;
                      }
                      &--alignment{
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: 29px;
                    }
                  }
              }
              
              &__footer{
                  position: relative;
                  height: 165px;
                  &__img{
                     
                      width: 100%;
                      height: 237px;
                      background-size:cover;    
                      position: absolute;
                      top:-70px;
                      z-index: -1;   
                    }
              }
                   
         }
         .modal-wrapper {
            padding: 0px 122px 0px;
            margin-top:67px;
            height: 1125px;
            .modal-header{
                h1{
                  font-size: 36px;
                padding: 36px 0px;
                }
              }
          }
          .modal-body{
                h2{
                font-size: 24px;
                margin-bottom: 12px;
                text-align: left;
                color:#603c96;
            }
            h5{
                width: 100%;
                margin: 0 auto;
                margin-bottom: 36px;
                padding: 0px;
                font-size: 16px;
                color:#3e3e3e;
            }
            input{
                width:100%;
                height: 49px;
                border-radius: 4px;
                border: solid 1px #979797;
                margin:0px 0px 16px 0px;
               font-size: 16px;
                padding: 12px;
            }
            
            .jobapply{
                width: 217px;
                height: 49px;
                margin: 0px auto 64px;
                font-size: 16px;
                bottom: -135px;
               
            }
          }
          .modal-close {
            position: absolute;
            top: 45px;;
            right: 42px;;
            padding: 1em;
            color: #aaa;
            background: none;
            border: 0;
            outline: none;
          }
         }
@media screen and (min-width:1367px){

    .applyfield{
        padding: 0px;
    
        h6{
            font-size: 24px;
        }
 
         .uploadBox{
            width: 100%;
            height: 60px;
            border-radius: 4px;
            margin: 0px 0px 16px 0px;
            font-size: 12px;
            padding: 9px 7px;
        
         }
         .upload{
            float: right;
            height: 32px;
            width: 33px;
            margin-right: 12px;
         }   
    }

    .jobslider{
        button{
            top: 100%;
            width: 56px;
            height: 56px;
        }
        .jobbutton{
            width: 56px;
            height: 56px;
            font-size: 34px;
            padding: 10px 0px 0px 23px;
            top: 602px;
            left: 870px;
          }
          .jobbutton1{
            width: 56px;
            height: 56px;
            font-size: 34px;
            padding: 10px 0px 0px 23px;
            top: 602px;
            left: 800px;
          }
     }
           .job{
                  &__headImg{
                    height:385px;    
                    }
                    &__content{
                        height:385px;  
                      padding: 31px 134px;
                      font-size:48px;
                    }
                    &__tab {
                        &--list {
                          width:298px;
                          li {
                            margin: 24px 0px;
                            font-size: 18px;
                          }
                        }
                      }
              &__opening{
                  width:970px;
                  margin: 0 auto;
                  h1{
                     font-family: 'muliBold';
                     font-size: 32px;
                     padding: 32px 0px 16px;
                  }
                  p{
                     width:731px;
                     margin: 0 auto;
                      font-size: 18px;
                  }
                  &__position{
                      margin-top: 34px;
                      padding:46px 0px 30px;
                      h1{
                        font-family:'muliSemiBold';
                          font-size: 28px;
                          padding:  0px;
                          width: 313px;
                          text-align: left;
                      }
                      h2{
                          font-size: 18px;
                          padding: 6px 0px;
                      }
                      &--apply{
                          font-size:24px;
                          margin:0px;
                          padding: 6px 0px 8px;
                      }
                      &--alignment{
                        display: flex;
                        justify-content: space-around;
                        margin-bottom:46px;
                    }
                  }
              }
              &__footer{
                  position: relative;
                  height: 261px;
                  &__img{
                      width: 100%;
                      height: 331px;
                      background-size:cover;    
                      position: absolute;
                      top:-70px;
                      z-index: -1;   
                    }
              }
         }
         .modal-wrapper {
            padding: 0px 235px;
            margin-top: 67px;
            height: 1522px;
            .modal-header{
                h1{
                  font-size: 48px;
                padding: 48px 0px 64px;
                }
              }
          }
          .modal-body{
                h2{
                font-size: 32px;
                margin-bottom: 32px;
               
            }
            h5{
                width: 100%;
                margin: 0 auto;
                margin-bottom: 64px;
                padding: 0px;
                font-size: 24px;
               
            }
            input{
                width:100%;
                height: 60px;
                border-radius: 4px;
                border: solid 1px #979797;
                margin:0px 0px 16px 0px;
               font-size: 25px;
                padding: 15px;
            }
            
            .jobapply{
                width: 217px;
                height: 49px;
                margin: 0px auto 64px;
                font-size: 16px;
               
            }
          }
          .modal-close {
            position: absolute;
            top: 64px;;
            right: 69px;;
            padding: 1em;
            color: #aaa;
            background: none;
            border: 0;
            outline: none;
          }
          .icon {
            width:27px;
            height:27px;
          }
         }
