
.groome {
  h1 {
 color: red; 
  }
 
}
body{
  margin: 0px;
  font-family: 'latoRegular';
  a{
    text-decoration: none;
  }
  header{
    padding: 16px 16px 16px 13px;
    border-bottom: 1px solid #f2f2f2;
    .groome-home{
      color:$primary-color;
      margin: 0px;
      font-family: 'latoBold';
      font-size: 32px;
    }
  }
}