.popover,.popoverer{
  display:none;
}
.loader{

  position:fixed;
  align-items:center;
  background-color:lightcyan;
  width:100%;
  height:100%;
  z-index:999;
  justify-content: center;
  display:none;
  img{
    width:200px;
    height:200px;
  }

}
body{
    margin: 0px;
  
  a{
    text-decoration: none;
    margin: 0px;
  }
 // dropdown header
.productService{
    position: relative;
    display: none;
    background-color: #ffffff;
  }
  
.show {
    display:block;
}
//end dropdown code
.dropdown{
    display: none;
}
@media screen and (min-width:320px){
 
  .hashworks__head{
     display: none;
  }

  .logo{
    position: absolute;
    padding: 16px 0px 17px 10px;
  }
  .productDetails{
  background-color: white;
  }
  
  .menulist{
      position: absolute;
      display: block;
      background-color: rgb(247, 247, 247);
      width: 100%;
      padding: 32px 0px 17px 0px;
      list-style-type: none;
      z-index:50;
   li{
      list-style-type: none;
   }
    a{
      display: block;    
      font-family: 'muliRegular';
      font-size: 24px;
      text-align: left;
      color: #4a4a4a;
      padding:0px 30px 12px 28px;
      text-decoration: none;
    }
  }
  
  #cssmenu #head-mobile{
    display: block;
    padding: 25px 0px 25px 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  }
   //product for mobile view
  
  .product_view{
      background-color: none;
      .row{
        width: 261px;
        margin: 0 auto;
      }
    h2 {
        font-family: 'muliBold';
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 8px;
        color: #603c96;
        padding-top: 25px;
  
    }
    h3{
        font-family: 'muliRegular';
        font-size: 10px;
        line-height: 1.42;
        text-align: left;
        color: #3e3e3e;
        font-weight: 100;
        padding-bottom: 16px;
    }
    h4{
        font-family: 'muliRegular';
        font-size: 10px;
        line-height: 1.42;
        text-align: center;
        color: #3e3e3e;
        font-weight: 100;
    }
    p{
        font-family: 'muliRegular';
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        color: #3e3e3e;
        padding: 7px 0px 0px 7px;
      }
    img{
      width: 67px;
      margin-top: 19px;
      margin-left: 10px;
    }
    &--content{
        width: 100%;
    }
 
    &--productContent{
       border-right: solid 1px #dadada;
  
    }
    &--alignment{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &--alignment1{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0px 16px 0px;
    }
    &--paketo, &--littlebhrahma, &--groome, &--frugal{
        max-width: 100px;
        background-color: #f7f7f7;
        height: 88px;
        // padding: 19px 6px 0px 2px;
        margin-right: 10px;
     
    }
    .service__view{
        border-top: solid 1px #dadada; 
        margin-bottom: 24px;
        a{
          padding:0px 30px 6px 0px;
          font-size: 12px;
        }
      h2{
        font-size: 14px;
        margin: 16px 0px;
        padding: 0px;
      }
      h3{
        font-size: 14px;
      }
      h4{
        font-size: 12px;
        text-align: left;
      }
      &--content{
        width: 100%;
      }
    }
  }
      // about 
    .aboutDetails{
        background-color: white;
        padding: 25px 30px 35px 29px;
  }
      .about__view{
     
        p{
          display: inline-block;
          font-size: 12px;
          vertical-align: super;
          font-family: 'muliRegular';
          line-height: 1.4;
          text-align: center;
          color: #3e3e3e;
         }
         h2{
          font-family: 'muliBold';
          font-size: 12px;
          font-weight: bold;
          color: #603c96;
        }
         h3{
      
           font-family: 'muliRegular';
           font-size: 10px;
           line-height: 1.58;
           text-align: left;
           color: #3e3e3e;
           font-weight: 100;
           padding: 8px 0px 26px 0px;
         }
         &--algin{
          width: 100%;
          a{
            padding: 0px;
          }
         }
       
       &__thinking{
          padding: 7px 9px 8px 8px;
          width: 116px;
          height: 36px;
          background-color:  #f7f7f7;;
          margin-bottom: 18px;
         &--img{
           width: 19px;
           height: 22px;
           display: inline-block;
         }
       
       }
       &__culture{
            width: 128px;
            height: 36px;
            background-color:  #f7f7f7;;
            margin-bottom: 18px;
            padding: 9px;
        &--img{
            width: 25px;
            height: 16px;
            display: inline-block;
        }
      
      }
      &__job{
            padding: 9px;
            width: 116px;
            height: 36px;
            background-color:  #f7f7f7;;
        &--img{
            width: 17px;
            height: 20px;
            display: inline-block;
        }
      
      }
      &__Content{
   
      }
      }
  
  .button:after{
          position: absolute;
          top: 22px;
          right: 20px;
          display: block;
          height: 8px;
          width: 20px;
          border-top: 2px solid #603c96;
          border-bottom: 2px solid #603c96;
          content: "";
  }
  .button:before{
          -webkit-transition:all .3s ease;
          -ms-transition:all .3s ease;
          transition:all .3s ease;
          position:absolute;
          top:16px;right:20px;
          display:block;
          height:2px;
          width:20px;
          background:#603c96;
          content:''
  }
  .button.menu-opened:after{
          -webkit-transition:all .3s ease;
          -ms-transition:all .3s ease;
          transition:all .3s ease;
          top:23px;border:0;height:2px;
          width:19px;
          background:#603c96;
          -webkit-transform:rotate(45deg);
          -moz-transform:rotate(45deg);-ms-transform:rotate(45deg);
          -o-transform:rotate(45deg)
          ;transform:rotate(45deg)
        }
  .button.menu-opened:before{
          top:23px;
          background:#603c96;
          width:19px;
          -webkit-transform:rotate(-45deg);
          -moz-transform:rotate(-45deg);
          -ms-transform:rotate(-45deg);
          -o-transform:rotate(-45deg);
          transform:rotate(-45deg)
  }
  
    //extra
    #cssmenu ul li {
        width: 100%;
        position: relative;
  }
  // #cssmenu .submenu-button{
  
  //     position:absolute;
  //     z-index:99;
  //     right:0;
  //     top:0;
  //     display:block;
  //     height:46px;
  //     width:46px;
  //     cursor:pointer;
  //   }
  
  .up-arrow{
      position:absolute;
      right:19px;
      display:block;
       z-index:100;
       cursor: pointer;
      border-left:10px solid transparent;
      border-right:10px solid transparent;
      
      border-bottom:10px solid black;
      
      border-top:10px solid transparent;
    }
  .down-arrow{
    position:absolute;
    right:19px;
    width:0;
    top:13px;
    cursor: pointer;
    z-index:99;
    height:0;
    display:block;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    
    border-bottom:10px solid transparent;
    
    border-top:10px solid black;
    
  }
  
  // #cssmenu .submenu-button:before{
  //       position:absolute;
  //       top:19px;
  //       right:22px;
  //       display:block;
  //       content:' ';
  //     }
  // #cssmenu ul ul .submenu-button:before{
  //       top:12px;
  //       right:16px
  //     }
  #cssmenu .submenu-button.submenu-opened:before{
        display:none
  }
  
  }
  
  @media screen and (min-width:768px){ 
    #cssmenu{
          display: none;
    }
   .navbar-component{
          display: none;
   }
    .paketo{
          margin-left: 38px;
    }
    .hashworks__head {
          display: flex;
          padding: 17px 0px 15px 34px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
          border: solid 1px #f7f7f7;
      &--logo{
          height: 23px;
      }
      &--list {
          position: absolute;
          right: 20px;
      }
      &--home,&--product,&--case,&--blog,&--about,&--contact{
          font-family: 'muliSemiBold';
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: #4a4a4a;
          padding: 0px 10px;
          display: -webkit-inline-box;
          cursor: pointer;
      }
      &--toggle{
          display: none;
      }
    }
   // product and service
    
    .popover {
      position: absolute;
      top: 27px;
      left: 125px;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-bottom: 18px solid white;
          -webkit-filter: drop-shadow(0 -2px 2px #AAA);
    }
    .popoverer{
      position: absolute;
      top: 27px;
      left: 325px;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-bottom: 18px solid white;
      -webkit-filter: drop-shadow(0 -2px 2px #AAA);
    }
    .productService{
           padding: 22px 0px 20px 0px;
           position: absolute;
           width: 100%;
           z-index: 1;
           box-shadow: 5px 2px 4px 9px rgba(6, 6, 6, 0.05);
     .row{
          width: 700px;
          margin: 0 auto;
          padding: 0px;
   }
      h2{
          font-family: 'muliBold';
          font-size: 14px;
          font-weight: bold;
          padding-bottom: 16px;
          color: #603c96;
    }
    h3{
          font-family: 'muliRegular';
          font-size: 12px;
          line-height: 1.42;
          text-align: left;
          color: #3e3e3e;
          width: 159px;
          font-weight: 100;
    }
    h4{
          font-family: 'muliRegular';
          font-size: 12px;
          line-height: 1.42;
          text-align: center;
          color: #3e3e3e;
          font-weight: 100;
    }
    p{
          font-family: 'muliRegular';
          font-size: 10px;
          line-height: 1.4;
          text-align: center;
          color: #3e3e3e;
          width: 97px;
    }
      img{
          width: 70px;
          margin:19px 0px 0px 10px;
      }
    &--listmargin{
         margin-left: 80px;
    }
      &--productContent{
          border-right: solid 1px #dadada;
          height: 141px;
          padding-right: 40px;
        }
        &--alignment{
          width: 500px;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      &--paketo, &--littlebhrahma, &--groome, &--frugal{
          max-width: 100px;
          background-color: #f7f7f7;
          height: 88px;
          // padding: 19px 9px 9px 9px;
       
      }
    
    &__service{
         border-top:  solid 1px #dadada;
         padding-top: 36px;

      &--content{
         width: 159px;
      }
      &--mobile{
         padding-left: 80px;
         cursor: pointer;
      }
    &--ops,&--data,  &--cloud{
      cursor: pointer;
       
     }
    }
    &--produtpacto{
      height: 51px;
    }
    &--produtlittle{
      height: 60px;
  
      img{
        width: 55px;
        margin-left: 18px;
      }
    }
    &--produtgroome{
      height: 51px;
    }
    &--produtfrugal{
      height: 51px;
    }
   }
  // about 
  .about{
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
    padding: 25px;
    margin: 0px;
    box-shadow: 5px 2px 4px 9px rgba(6, 6, 6, 0.05);
    .row{
        width: 700px;
        margin: 0 auto;
        padding: 0px;
   }
    p{
        display: inline-block;
        padding-left: 9px;
        font-size: 12px;
        vertical-align: top;
        font-family: 'muliRegular';
        line-height: 1.4;
        text-align: center;
        color: #3e3e3e;
     }
     h2{
        font-family: 'muliBold';
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 16px;
        color: #603c96;
    }
     h3{
        font-family: 'muliRegular';
        font-size: 12px;
        line-height: 1.42;
        text-align: left;
        color: #3e3e3e;
        width: 159px;
        font-weight: 100;
     }
     &--algin{
        width: 451px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 38px;
     }
     &__Content{
        border-right: solid 1px #dadada;
        height: 141px;
        padding-right: 40px;
        a{
          color: #603c96;
        }
     
     }
   &__thinking{
        padding: 7px 9px 8px 8px;
        width: 121px;
        height: 36px;
        background-color: #f7f7f7;
     &--img{
        width: 19px;
        height: 22px;
        display: inline-block;
     }
   
   }
   &__culture{
        width: 129px;
        height: 36px;
        background-color: #f7f7f7;
        padding: 9px;
    &--img{
        width: 25px;
        height: 16px;
        display: inline-block;
    }
  }
  &__job{
        padding: 9px;
        width: 118px;
        height: 36px;
        background-color: #f7f7f7;
    &--img{
        width: 17px;
        height: 20px;
        display: inline-block;
    }
  }
  }
  
  }
  @media screen and (min-width:1024px){ 
    #cssmenu{
        display: none;
    }
    .hashworks__head {
        padding: 25px 0px 23px 43px;
      .row{
          width: 940px;
          margin: 0 auto;
          padding: 0px;
     }
      &--logo{
         height: 31px;
      }
      &--list {
         right: 17px;
      }
      &--home,&--product,&--case,&--blog,&--about,&--contact{
          font-size: 16px;
          padding: 0px 24px;
          display: -webkit-inline-box;
          cursor: pointer;
      }
    
      }
      &--toggle{
         display: none;
      }
   
    .popover{
        position: absolute;
        top: 34px;
        left: 175px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 17px solid white;
        -webkit-filter: drop-shadow(0 -2px 2px #AAA);
    }
    .popoverer{
      position: absolute;
      top: 39px;
      left: 457px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 17px solid white;
      -webkit-filter: drop-shadow(0 -2px 2px #AAA);
    }
    .paketo{
        margin-left:48px;
    }
    .productService{
        padding: 38px 0px;
      .row{
        width: 940px;
        margin: 0 auto;
        padding: 0px;
     }
      h2{
      
        font-size: 16px;
        padding-bottom: 16px;
      }
      h3{
        font-size: 14px;
        width: 222px;
      }
      h4{
        font-size: 14px;
      }
      p{
        font-size: 12px;
        width: 140px;
      }
   
      img{
        width: 113px;
       margin: 27px 13px 16px 13px;
      }
    
      &--productContent{
        border-right: solid 1px #dadada;
        height: 178px;
        padding-right: 28px;
        
      }
      &--alignment{
        width: 689px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &--paketo, &--littlebhrahma, &--groome, &--frugal{
        max-width: 140px;
        background-color: #f7f7f7;
        height: 122px;
       
       
      }
    
    &__service{
         border-top:  solid 1px #dadada;
         padding-top: 36px;

         &--content{
          width: 241px;
       }
    }
    &--produtpacto{
      height: 75px;
    }
    &--produtlittle{
      height: 78px;
  
      img{
        width: 68px;
        margin: 24px 36px 16px 36px;
      }
    }
    &--produtgroome{
      height: 78px;
    }
    &--produtfrugal{
      height: 78px;
    }
   }
    // about 
  .about{
      //  margin: 25px 0px;
    .row{
        width: 940px;
        margin: 0 auto;
        padding: 0px;
   }
    p{
        padding:4px 0px 0px 9px;
        font-size: 14px;
        
     }
     h3{
        font-size: 14px;
        width: 220px;
     }
     &--algin{
        width: 630px;
        margin-left: 48px;
     }
     &__Content{
        height: 141px;
        padding-right: 40px;
        a{
          color: #603c96;
        }
     
     }
   &__thinking{
        padding: 7px 9px 8px 8px;
        width: 140px;
        height: 47px;
        background-color: #f7f7f7;
     &--img{
        width: 22px;
        height: 22px;
        display: inline-block;
     }
   
   }
   &__culture{
        width: 145px;
        height: 47px;
        background-color: #f7f7f7;
        padding: 9px;
    &--img{
        width: 28px;
        height: 19px;
        display: inline-block;
    }
  
  }
  &__job{
          padding: 9px;
          width: 140px;
          height: 47px;
          background-color: #f7f7f7;
    &--img{
          width: 22px;
          height: 26px;
          display: inline-block;
    }
  }
  }
  }
  
  @media screen and (min-width:1367px){ 
 
   .paketo{
         margin-left: 65px;
   }
    .hashworks__head {
         padding: 23px 0px 22px 46px;
      .row{
          width:1170px;
          margin: 0 auto;
          padding: 0px;
     }
      &--list {
           right: 55px;
      }
      &--home,&--product,&--case,&--blog,&--about,&--contact{
            font-size: 18px;
            padding: 0px 17px;
            display: -webkit-inline-box;
            cursor: pointer;
      }
    
    }
    &--toggle{
         display: none;
    }
    .popover{
      position: absolute;
      top: 34px;
      left: 175px;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 25px solid white;
      -webkit-filter: drop-shadow(0 -2px 2px #AAA);
  }
  .popoverer{
    position: absolute;
    top: 34px;
    left: 445px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 25px solid white;
    -webkit-filter: drop-shadow(0 -2px 2px #AAA);
  }
    .productService{
         padding: 41px 0px;
      .row{
          width:1170px;
          margin: 0 auto;
          padding: 0px;
     }
      h2{
        font-size: 16px;
        padding-bottom: 16px;
      }
      h3{
          font-size: 16px;
          width: 305px;
      }
      h4{
         font-size: 16px;
      }
      p{
          font-size: 14px;
          padding-top: 20px;
          width: 170px;
      }
   
      img{
          width: 125px;
          margin: 38px 19px 16px 13px;
      }
    
      &--productContent{
          border-right: solid 1px #dadada;
          height: 178px;
      }
      &--alignment {
          width: 836px;
          display: flex;
          justify-content: space-between;
          align-items: center;
    }
      &--paketo, &--littlebhrahma, &--groome, &--frugal{
          background-color: #f7f7f7;
        
          // margin-bottom: 38px;
          max-width: 170px;
          height: 146px;
       
      }
    
    &__service{
          border-top:  solid 1px #dadada;
          padding-top: 36px;

        &--content {
           width: 305px;
      }
      &--mobile{
          padding-left: 95px;
        
      }
    }
    &--produtpacto{
      height: 75px;
    }
    &--produtlittle{
      height: 78px;
  
      img{
        width: 99px;
        margin: 30px 20px 0px 13px;
      }
    }
    &--produtgroome{
      height: 78px;
    }
    &--produtfrugal{
      height: 78px;
    }
  }
  .about{
        // margin: 25px 0px;
    .row{
        width: 1170px;
        margin: 0 auto;
        padding: 0px;
   }
    p{
        padding-left: 22px;
        font-size: 16px;
     }
     h3{
        font-size: 16px;
        width: 305px;
     }
     h2{
       font-size: 16px;
       margin-top: 25px;
       
     }
     &--algin{
      width: 773px;
      margin-left: 64px;
     }
     &__Content{
      height: 141px;
      padding-right: 27px;
      a{
        color: #603c96;
      }
     
     }
   &__thinking{
        padding: 18px 20px 20px 27px;;
        width: 200px;
        height: 68px;
        background-color: #f7f7f7;
     &--img{
        width: 27px;
        height: 30px;
        display: inline-block;
     }
   
   }
   &__culture{
        width: 200px;
        height: 68px;
        padding: 18px 15px 20px 24px;
        background-color: #f7f7f7;
   
    &--img{
        width: 36px;
        height: 24px;
        display: inline-block;
    }
  
  }
  &__job{
        padding: 9px;
        width: 200px;
        height: 68px;
        padding: 18px 15px 20px 24px;
        background-color: #f7f7f7;
    &--img{
        width: 29px;
        height: 36px;
        display: inline-block;
    }
  }
  }
  }
}

// mobile view css for header
.navbar-component{
 .area {
      display: flex;
      flex-flow: row wrap; 
      align-items: stretch;
 }
 .navbar {
   & > .brand {
        display: block;
        margin: 16px 0px 17px 10px;
   }
   // Toggle button
   & > .toggle {
        border: 0;
        right: 0px;
        position: absolute;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        padding: 17px 10px 14px 0px;
   }
   & > .toggle > .icon {
        position: relative;
        margin-top: 8px;
        margin-bottom: 8px;
     
     &,
     &:before,
     &:after {
        display: block;
        width: 24px;
        height: 3px;
        transition: background-color 0.3s linear, transform 0.3s linear;
        background-color: #603c96;
     }
     
     &:before, &:after {
        position: absolute; content: ""; }
     &:before { top: -8px; }
     &:after { top: 8px; }
   }
   
   & > .toggle.-active > .icon {
        background-color: transparent;
     
     &:before { transform: translateY(8px) rotate(45deg); }
     &:after { transform: translateY(-8px) rotate(-45deg); }
   }
   
   // List of items
   & > .list {
          display: none;
          width: 100%;
          border-top: 1px solid #ddd;
     
     &.-on {
          display: block;
          padding: 20px 28px 17px 30px;
          position: relative;
          background-color: #f7f7f7;
     }
   }
  
   & > .list > .item {
          display: block;    
          font-family: 'muliRegular';
          font-size: 24px;
          text-align: left;
          color: #4a4a4a;
          padding-top: 12px;
   }
 }
}


