
    .hashworks__grewpage {
        .row{
        width: 261px;
        margin: 0px auto;
        padding: 0px 0px 0px 0px ;
        }
     h1 {
        font-family: 'muliBold';
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        color: #000000;
        width: 100%;
        margin: 16px 0px;
        width: 277px;
            }
     h2 {
        font-family: 'muliRegular';
        font-size: 14px;
        text-align: left;
        color: #603c96;
        margin-bottom: 16px;
        
            }
     h3 {
        font-family: 'muliRegular';
        font-size: 12px;
        line-height: 1.5;
        text-align: left;
        color: #3e3e3e;
        margin-bottom:33px;
        }

        .grewpage__image{
            background-image: url(../assets/image/wegrew/growth.png);
             background-size: cover;
             background-repeat: no-repeat;
            width: 100%;
            height: 203px;
            background-position: center center;

          h1 {
            font-family: 'muliRegular';
            font-size: 24px;
            text-align: left;
            color: #ffffff;
            padding: 0px 0px 32px 14px;
            margin: 0px;
            display: flex;
            height: 203px;
            align-items: flex-end;
          }
        }

        .grewpage__step1 {
         &__image {
              background-image: url(../assets/image/wegrew/1-1.png);
              background-size: contain;
              background-repeat: no-repeat;
              width: 261px;
              height: 123px;
         }
        }
        .grewpage__step2 {
         &__image {
              background-image: url(../assets/image/wegrew/2-1.png);
              background-size: contain;
              background-repeat: no-repeat;
              width: 259px;
              height: 143px;
         }
        }
        .grewpage__step3 {
         &__image {
              background-image: url(../assets/image/wegrew/3-1.png);
              background-size: contain;
              background-repeat: no-repeat;
              width: 261px;
              height: 160px;
         }
        }
        .grewpage__step4 {
         &__image {
              background-image: url(../assets/image/wegrew/4.png);
              background-size: contain;
              background-repeat: no-repeat;
              width: 261px;
              height: 177px;
         }
        }
        .grewpage__step5 {
         &__image {
              background-image: url(../assets/image/wegrew/5.png);
              background-size: contain;
              background-repeat: no-repeat;
              width: 261px;
              height: 137px;
         }
        }
        .grewpage__step6 {
         &__image {
              background-image: url(../assets/image/wegrew/6.png);
              background-size: contain;
              background-repeat: no-repeat;
              width: 261px;
              height: 148px;
         }
        }
        .grewpage__step7 {
         &__image {
              background-image: url(../assets/image/wegrew/7.png);
              background-size: contain;
              background-repeat: no-repeat;
              width: 261px;
              height: 134px;
         }
        }
    }
@media screen and (min-width:768px){ 
    .hashworks__grewpage {
    .row{
         width: 580px;
        }
 h1 {
        font-size: 14px;
        margin: 32px 0px 16px 0px;
        width: 100%;
    }
    h2 {
        font-size: 18px;
        margin-bottom: 21px;
    }
  h3 {
        font-family: 'muliRegular';
        font-size: 14px;
        margin-bottom:64px;
  }

        .grewpage__image{
            height: 205px;
            margin-top:48px;
          h1 {
              font-size: 32px;
              display: flex;
              align-items: flex-end;
              height: 205px;
              padding: 0px 0px 32px 29px;
          }
        }

        .grewpage__step1 {
            margin: 16px 0px 0px 0px;
         &__image {
              width: 518px;
              height: 246px;
         }
        }
        .grewpage__step2 {
         &__image {
              width: 455px;
              height: 252px;
         }
        }
        .grewpage__step3 {
         &__image {
            
              width: 405px;
              height: 252px;
         }
        }
        .grewpage__step4 {
         &__image {
              width: 387px;
              height: 274px;
         }
        }
        .grewpage__step5 {
         &__image {
              width: 449px;
              height: 249px;
         }
        }
        .grewpage__step6 {
         &__image {
             width: 456px;
              height: 233px;
         }
        }
        .grewpage__step7 {
         &__image {
              width: 458px;
              height: 241px;
         }
        }
    }

}

@media screen and (min-width:1025px){ 
     .hashworks__grewpage {
        .row{
        width: 781px;
        
        }
    h1 {
  font-size: 16px;
    }
    h2 {
     
  font-size: 24px;

  margin-bottom: 16px;
  
    }
  h3 {
       font-family: 'muliRegular';
  font-size: 16px;
  }

        .grewpage__image{
        margin-top: 66px;
            height: 274px;
          h1 {
            
              font-size: 36px;
               width: 864px;
              text-align: left;
              height: 274px;
              padding: 0px 0px 64px 39px;
          }
        }

        .grewpage__step1 {
            margin: 16px 0px 0px 0px;
         &__image {
              width: 624px;
              height: 301px;
              margin-left: 78px;
         }
        }
        .grewpage__step2 {
         &__image {
              width: 607px;
              height: 335px;
               margin-left: 84px;
         }
        }
        .grewpage__step3 {
         &__image {
            
              width: 616px;
              height: 382px;
               margin-left: 81px;
         }
        }
        .grewpage__step4 {
         &__image {
              width: 462px;
              height: 334px;
               margin-left: 158px;
         }
        }
        .grewpage__step5 {
         &__image {
              width: 617px;
              height: 343px;
               margin-left: 81px;
         }
        }
        .grewpage__step6 {
         &__image {
             width: 619px;
              height: 354px;
               margin-left: 118px;
         }
        }
        .grewpage__step7 {
         &__image {
              width: 619px;
              height: 325px;
               margin-left: 116px;
         }
        }
    }

}

@media screen and (min-width:1367px){ 
     .hashworks__grewpage {
 .row{
   width: 900px;
        }
 h1 {
   font-size: 16px;
    }
 h2 {
  font-size: 32px;
    }
  h3 {
  font-size: 18px;
  margin-bottom:64px;
  }
        .grewpage__image{
            height: 384px;
          h1 {
              font-size: 48px;
              text-align: left;
               width: 100%;
               height: 384px;
               padding: 0px 0px 89px 134px;
          }
        }

        .grewpage__step1 {
            margin: 16px 0px 0px 34px;
         &__image {
              width: 751px;
              height: 364px;
               margin-left: 112px;
         }
        }
        .grewpage__step2 {  
         &__image {
              width: 750px;
              height: 410px;
              margin-left: 112px;
         }
        }
        .grewpage__step3 {  
         &__image {
              width: 642px;
              height: 399px;
              margin-left: 166px;
         }
        }
        .grewpage__step4 {  
         &__image {
              width: 550px;
              height: 398px;
               margin-left: 212px;
         }
        }
        .grewpage__step5 {  
         &__image {
              width: 716px;
              height: 397px;
               margin-left: 129px;
         }
        }
        .grewpage__step6 {  
         &__image {
             width: 688px;
              height: 397px;
               margin-left: 143px;
         }
        }
        .grewpage__step7 {    
         &__image {
              width: 750px;
              height: 325px;
               margin-left: 112px;
         }
        }
    }

}