
    .hashworks__workculture {
        .plugin {
            background: #fff;
            min-height: 430px;
            max-height: 100%;
            margin-top: 0rem;
}
         .row{
            width: 261px;
            margin: 0px auto;
            padding: 0px;
        }
        .workculture__image{
            background-image: url(../assets/image/workculture/photo.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 230px;
            background-position:100% 100%;

          h1 {
              font-family: 'muliRegular';
               font-size: 24px;
               text-align: left;
               color: #ffffff;
              display: flex;
              align-items: flex-end;
              padding: 0px 0px 30px 29px;
              height: 230px;
              
          }
        }
        .workculture__workfun{
            h1 {
               font-family: 'muliRegular';
               font-size: 16px;
               font-weight: bold;
               text-align: center;
              color: #603c96;
              margin: 36px 0px 8px 0px;
              width: 100%;
            }
            p {
                font-family: 'muliRegular';
                font-size: 12px;
                 line-height: 1.5;
                 text-align: center;
                 color: #3e3e3e;
                 margin:0px 27px 0px 16px;
            }
        }
        .workculture__facility {
            h1 {
               font-family: 'muliBold';
               font-size: 16px;
               font-weight: bold;
               text-align: center;
               color: #603c96;
               margin-top: 60px;
              width: 100%;
            }
            h2{
              font-family: 'muliRegular';
              font-size: 12px;
              text-align: left;
              color: #603c96;
              margin: 36px 0px 8px 0px;
            }
            p {
              font-family: 'muliRegular';
              font-size: 12px;
              line-height: 1.5;
              text-align: left;
              color: #3e3e3e;
            }
        }
        .workculture__boxes {
            margin-top: 41px;
        }
        .workculture__box{
            width: 260px;
            height: 147px;
            margin: 0 auto;
           box-shadow: 1px 1px 10px 0 rgba(174, 174, 174, 0.2);
            border: solid 1px #d3d3d3;
            margin-bottom: 16px;
            background-color: white;
            cursor: pointer;
           

        h1{
            font-family: 'muliBold';
            font-size: 24px;
            font-weight: bold;
            text-align: left;
            color: #4a4a4a;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 147px;
            width: 135px;
            margin: 0 auto;

            img {
                height: 20px;
                margin-left: 5px;
                margin-top: 37px;
            }
        }
    
        }
       .workculture__bottomImage {
            background-image: url(../assets/image/workculture/1.png);
              background-size: cover;
              background-position: 100% 100%;
              background-repeat: no-repeat;
              width: 100%;
              height: 94px;
       }
    }
    .workculture__culture{
        border-top: 1px solid #d3d3d3;
        margin: 40px 0px 0px 0px;
       
        .border{
            margin: 0 auto;
            width: 286px;
        }
        h2{
            width: 286px;
            font-family: 'muliBold';
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #603c96;
            margin:36px 0px 12px 0px;
        }
        p{
            width: 266px;
            font-family: 'muliRegular';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #3e3e3e;
            margin-bottom: 49px;
        }
        h3{
            font-family: 'muliSemiBold';
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #898989;
            margin-bottom: 50px;
        }
    }

@media screen and (min-width:768px){ 

    .hashworks__workculture {
        .plugin {
    background: #fff;
    min-height: 510px;
    max-height: 100%;
    margin-top: 3rem;
}
         .row{
        width: 698px;
        }
        .workculture__image{ 
               margin-top:49px;
               background-position:center center;
               height: 205px;
          h1 {
               font-size: 32px;
               padding: 0px 0px 33px 32px;
               height: 205px;
          }
        }
        .workculture__workfun{
            h1 {
               font-family: 'muliBold';
               font-size: 18px;
              margin: 41px 0px 18px 0px;

            }
            p {
                font-size: 14px;
                 line-height: 1.64;
                 margin: 0px 98px 0px 100px;
            }
        }
        .workculture__facility {
            h1 {
               font-size: 18px;
               margin-top: 40px;
            }
            h2{
              font-size: 14px;
              margin: 36px 0px 16px 0px;
            }
            p {
              font-size: 14px;
              line-height: 1.57;
              width: 336px;
            }
        }
        .workculture__box{
            width: 240px;
            margin-bottom: 16px;
        span {
            margin-left: 3px;
             font-size: 16px;
        }
        }
       .workculture__bottomImage {
            height: 92px;
            background-position: center center;
            margin-top: 16px;
           
       }
    }
    .workculture__culture{
        border-top: 1px solid #d3d3d3;
        margin: 40px 0px 0px 0px;
       
       
        h2{
            width: 100%;
            font-size: 18px;
            margin:36px 0px 12px 0px;
        }
        p{
            width: 540px;
            margin:0px auto 64px;
            font-size: 14px;
        }
        h3{
            font-size: 18px;
            margin-bottom: 49px;
        }
    }
    .border{
        .row{
            width: 550px;margin: 0 auto;
        }
    }
}
@media screen and (min-width:1024px){ 

    .hashworks__workculture {
         .row{
        width: 940px;
        }
    .plugin {
    background: #fff;
    min-height: 610px;
    max-height: 100%;
    margin-top: 3rem;
}
        .workculture__image{  
            height: 274px; 
            margin-top:67px; 
          h1 {
               font-size: 36px;
               height: 274px; 
               padding: 0px 0px 32px 42px;
               
          }
        }
        .workculture__workfun{
            h1 {
               font-size: 24px;
              margin: 63px 0px 36px 0px;

            }
            p {
                font-size: 16px;
                  line-height: 1.63;
                 margin: 0px 136px 0px 143px;
            }
        }
        .workculture__facility {
            h1 {
               font-size: 24px;
               margin-top: 64px;
            width: 100%;
            }
            h2{
              font-size: 18px;
              margin: 36px 0px 16px 0px;
            }
            p {
              font-size: 18px;
              line-height: 1.5;
              width: 455px;
            }
        }
         .workculture__boxes {
            margin-top: 64px;
        }
        .workculture__box{
            width: 321px;
            height: 191px;
            margin-bottom: 16px;
         
        h1{
            font-size: 32px;
            height: 191px;

            img {
                height: 24px;
                margin-left: 10px;
                margin-top: 48px;
            }
        }
        span {
            margin-left: 3px;
             font-size: 16px;
        }
        }
       .workculture__bottomImage {
            height:123px;
          margin-top: 40px;
       }
    }
    .workculture__culture{
        h2{
            width: 100%;
            font-size: 24px;
            margin:36px 0px 16px 0px;
        }
        p{
            width:732px;
            margin:0px auto 64px;
            font-size: 16px;
        }
        h3{
            font-size: 24px;
            margin-bottom: 42px;
        }
    }
    .border{
        .row{
            width: 670px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width:1367px){ 

    .hashworks__workculture {
         .row{
        width: 1095px;
        }
    .plugin {
    background: #fff;
    min-height: 610px;
    max-height: 610px;
    margin-top: 3rem;
}


        .workculture__image{  
            height: 385px;  
          h1 {
               font-size: 56px;
               height: 385px;  
               padding: 0px 0px 32px 132px;
               font-size: 48px;
          
          }
        }
        .workculture__workfun{
            h1 {
               font-size: 32px;
              margin: 63px 0px 36px 0px;

            }
            p {
                font-size: 24px;
                width: 100%;
                  line-height: 1.46;
                 margin: 0px 172px 0px 173px;
            }
        }
        .workculture__facility {
            h1 {
               font-size: 32px;
               margin-top: 60px;
            }
            h2{
              font-size: 24px;
              margin: 64px 0px 16px 0px;
            }
            p {
              font-size: 24px;
              line-height: 1.46;
              width: 500px;
            }
        }
        .workculture__box{
            width: 400px;
            height: 256px;
            margin-bottom: 74px;
         
        h1{
            font-size: 48px;
            font-family: 'muliRegular';
         height: 256px;

            img {
                height: 30px;
                margin-left: 18px;
                margin-top: 71px;
            }
        }
        span {
            margin-left: 3px;
             font-size: 16px;
        }
        }
       .workculture__bottomImage {
            height:176px;
            margin-top: 50px;
             
       }
    }
    .workculture__culture{
        h2{
            width: 100%;
            font-size: 32px;
            margin:36px 0px 16px 0px;
        }
        p{
            width:732px;
            margin:0px auto 91px;
            font-size: 16px;
        }
        h3{
            font-size: 32px;
            margin-bottom: 32px;
        }
    }
    .border{
        .row{
            width: 980px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width:1798px){  
     .hashworks__workculture {
         .row{
        width: 1095px;
        }
    .plugin {
    background: #fff;
    min-height: 710px;
    max-height: 100%;
    margin-top: 3rem;
}
     }
}