{% include head.html %}

<div class="aboutus">
    <div class="aboutus__headImg" data-src="../assets/image/aboutus/origami@2x.png">
        <h1 class="aboutus__content1">Who are we ?</h1>
    </div>

    <div class="aboutus__tab">
        <ul class="aboutus__tab--list tabs">
            <li class="thinkingtab current" data-tab="tab-1">Company</li>
            <li class="" data-tab="tab-2">Our Thinking</li>
        </ul>
    </div>
   
    <div id="tab-1" class="tab-content current aboutus__company">
        <div style="background-color:white">
                <div class="tabslider">
                        <div id='timeline-embed' style="width: 100%; height:600px; "></div>
                </div> 
        </div>
           
                    <div class="row">
                            <div class="">
                               <h1>Leadership</h1>
                               <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta.
                                  Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
                            </div>
                           <div class="profilehover">
                              <div class="profilehover--profile">
                                  <img class="img1" src="../assets/image/aboutus/gk-2@2x.jpg">
                                  <h2>Gopikrishna Kannan</h2>
                                  <h3>Founder & CEO</h3>
                                    <!-- hover function -->
                                 <div class="profilehover__text hoverdiv">
                                    
                                        <div class="profilehover__text--content">
                                         
                                              <img class="hoverhidden img1" src="../assets/image/aboutus/gk-2@2x.jpg">
                                         
                                          <div  class="">
                                              <h2 class="hoverhidden">Gopikrishna Kannan</h2>
                                              <h3 class="hoverhidden">Founder & CEO</h3>
                                              <p>Drew co-founded Dropbox in 2007 and has led its growth from a simple idea to a service used by hundreds of millions of people around the world.
                                                 He is responsible for setting the overall direction and product strategy for the company.</p>
                                          <div class="addlink">
                                              <img class="link1" src="../assets/image/aboutus/twitterlink.svg" alt="">
                                              <img class="link1" src="../assets/image/aboutus/linkdine.svg" alt="">
                                          </div>
                                                <!-- <p> <a href="https://in.linkedin.com/in/kannangk" target="_blank">
                                                  in.linkedin.com/in/kannangk</a> </p>  -->
                                            </div>
                                        </div>
                                      </div> 
                              </div>
                              
                             
                                <div class="profilehover--profile">
                                    <div class="rajeshProfile">
                                         <img class="img1" src="../assets/image/aboutus/rajesh@2x.jpg">
                                         <h2>Rajesh Murugan</h2>
                                         <h3>Co - founder & Delivery Head</h3>
                                    </div>
                                  
                                    <div class="profilehover__text2 hoverdiv">
                                        
                                            <div class="profilehover__text--content">
                                                <div  class="">
                                                    <h2 class="hoverhidden">Rajesh Murugan</h2>
                                                    <h3 class="hoverhidden">Co - founder & Delivery Head</h3>
                                                    <p>Drew co-founded Dropbox in 2007 and has led its growth from a simple idea to a service used by hundreds of millions of people around the world.
                                                       He is responsible for setting the overall direction and product strategy for the company.</p>
                                                       <div class="addlink">
                                                            <img class="link2" src="../assets/image/aboutus/twitterlink.svg" alt="">
                                                            <img class="link3" src="../assets/image/aboutus/linkdine.svg" alt="">
                                                        </div>
                                                     <!-- <p><a href="https://in.linkedin.com/in/kannangk" target="_blank">
                                                        in.linkedin.com/in/kannangk</a>  </p> -->
                                                      
                                                  </div>
                                                  <img class="hoverhidden img1" src="../assets/image/aboutus/rajesh@2x.jpg">
                                             
                                            
                                            </div>
                                          </div> 
                                 </div>
                           
                              </div>
                              <div class="profilehover">
                                  <div class="profilehover--profile">
                                      <img class="img1"  src="../assets/image/aboutus/venki@2x.jpg">
                                      <h2>Venkatesh Srinivasachar</h2>
                                      <h3>Technology Leader</h3>
                                        <!-- hover function -->
                                     <div class="profilehover__text hoverdiv">
                                        
                                            <div class="profilehover__text--content">
                                             
                                                <img class="hoverhidden img1" src="../assets/image/aboutus/venki@2x.jpg">
                                             
                                              <div  class="">
                                                  <h2 class="hoverhidden">Venkatesh Srinivasachar</h2>
                                                  <h3 class="hoverhidden">Technology Leader</h3>
                                                  <p>Drew co-founded Dropbox in 2007 and has led its growth from a simple idea to a service used by hundreds of millions of people around the world.
                                                     He is responsible for setting the overall direction and product strategy for the company.</p>
                                                     <div class="addlink">
                                                            <img class="link1" src="../assets/image/aboutus/twitterlink.svg" alt="">
                                                            <img class="link1" src="../assets/image/aboutus/linkdine.svg" alt="">
                                                        </div>
                                                </div>
                                            </div>
                                          </div> 
                                  </div>
                                  
                                 
                                    <div class="profilehover--profile">
                                        <img class="img1" src="../assets/image/aboutus/sudharsanan@2x.jpg">
                                        <h2>Sudharsanaraman</h2>
                                        <h3>Portfolio & RMG Head</h3>
                                        <div class="profilehover__text2 hoverdiv">
                                            
                                                <div class="profilehover__text--content">
                                                    <div  class="">
                                                        <h2 class="hoverhidden">Sudharsanaraman</h2>
                                                        <h3 class="hoverhidden">Portfolio & RMG Head</h3>
                                                        <p>Drew co-founded Dropbox in 2007 and has led its growth from a simple idea to a service used by hundreds of millions of people around the world.
                                                           He is responsible for setting the overall direction and product strategy for the company.</p>
                                                    
                                                           <div class="addlink">
                                                                <img class="link2" src="../assets/image/aboutus/twitterlink.svg" alt="">
                                                                <img class="link3" src="../assets/image/aboutus/linkdine.svg" alt="">
                                                            </div>
                                                      </div>
                                                      <img class="hoverhidden img1" src="../assets/image/aboutus/sudharsanan@2x.jpg">
                                                 
                                                
                                                </div>
                                              </div> 
                                     </div>
                               
                                  </div>
             
                                  <div class="profilehover">
                                      <div class="profilehover--profile">
                                          <img class="img1" src="../assets/image/aboutus/shilpa@2x.jpg">
                                          <h2>Shilpa Gopikrishna</h2>
                                          <h3>Creative Director</h3>
                                            <!-- hover function -->
                                         <div class="profilehover__text hoverdiv">
                                            
                                                <div class="profilehover__text--content">
                                                 
                                                    <img class="hoverhidden img1" src="../assets/image/aboutus/shilpa@2x.jpg">
                                                 
                                                  <div  class="">
                                                      <h2 class="hoverhidden">Shilpa Gopikrishna</h2>
                                                      <h3 class="hoverhidden">Creative Director</h3>
                                                      <p>Drew co-founded Dropbox in 2007 and has led its growth from a simple idea to a service used by hundreds of millions of people around the world.
                                                         He is responsible for setting the overall direction and product strategy for the company.</p>
                                                         <div class="addlink">
                                                                <img class="link1" src="../assets/image/aboutus/twitterlink.svg" alt="">
                                                                <img class="link1" src="../assets/image/aboutus/linkdine.svg" alt="">
                                                            </div>
                                                    </div>
                                                </div>
                                              </div> 
                                      </div>
                                   
                                     
                                        <div class="profilehover--profile">
                                            <img class="img1" src="../assets/image/aboutus/harish@2x.jpg">
                                            <h2>Harish Babu</h2>
                                            <h3>Finance</h3>
                                            <div class="profilehover__text2 hoverdiv">
                                                
                                                    <div class="profilehover__text--content">
                                                        <div  class="">
                                                          <h2 class="hoverhidden">Harish Babu</h2>
                                                          <h3 class="hoverhidden">Finance</h3>
                                                            <p>Drew co-founded Dropbox in 2007 and has led its growth from a simple idea to a service used by hundreds of millions of people around the world.
                                                               He is responsible for setting the overall direction and product strategy for the company.</p>
                                                               <div class="addlink">
                                                                    <img class="link2" src="../assets/image/aboutus/twitterlink.svg" alt="">
                                                                    <img class="link3" src="../assets/image/aboutus/linkdine.svg" alt="">
                                                                </div>
                                                          </div>
                                                          <img class="hoverhidden img1" src="../assets/image/aboutus/harish@2x.jpg">
                                                     
                                                    
                                                    </div>
                                                  </div> 
                                         </div>
                                   
                                      </div>
                  
                          </div>
                    <div onclick="redirect('/workculture/')" class="aboutus__company--explore">
                        <h1>Explore Workculture</h1>
                    </div>
                </div>
    <div id="tab-2" class="tab-content  aboutus__thinking thinkingtab">
            
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="aboutus__thinking--container1">
                    <h2>Human Capital Acceleration</h2>
                    <div class="aboutus__thinking--capitalImage" data-src="../assets/image/aboutus/1.svg"></div>
                    <p>Our prime focus is complete retention and this is why we are averse to any form of attrition. Our engagement with the team is comprehensive, familial and dedicated to individual and overall development. This spreads across making the
                        diversity,
                    </p>
                    <P>
                        backgrounds, perspectives and communication channels stronger and inclusive. They are our assets and addition, our face and symbol, our attitude and approach, our viewpoints and strengths and at the same time our favoured critics and trusted friends.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border ">
                <div class="aboutus__thinking--container1">
                    <h2>Client Handling</h2>
                    <div class="aboutus__thinking--clientImage" data-src="../assets/image/aboutus/2.svg"></div>
                    <p>Whether our clients are going through a business transition or moving across geographies, setting up new verticles that demand maximum attention or just want to talk to us on a trending doubt anytime, we are always there to assist
                        and move them beyond the existing and future challenges.
                    </p>
                    <P>
                        We consider client handholding to be the building block of our corporate philosophy and embed this as a solid practice at every opportunity that makes us add positive value.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border">
                <div class="aboutus__thinking--container1">
                    <h2>Industry stewardship and sustainability</h2>
                    <div class="aboutus__thinking--industryImage" data-src="../assets/image/aboutus/3.svg"></div>
                    <p>Whether our clients are going through a business transition or moving across geographies, setting up new verticles that demand maximum attention or just want to talk to us on a trending doubt anytime, we are always there to assist
                        and move them beyond the existing and future challenges.
                    </p>
                    <P>
                        We consider client handholding to be the building block of our corporate philosophy and embed this as a solid practice at every opportunity that makes us add positive value.</p>
                </div>
            </div>
        </div>
        <div class="aboutus__thinking--ourculture">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border">
                    <div class="aboutus__thinking--ourculture--container1">
                        <h2>Our Culture Code</h2>
                        <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
                        <div class="row ">
                            <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture ">
                                <h3>Innovation</h3>
                            </div>
                            <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 culture ">
                                <h3>Honesty</h3>
                            </div>
                            <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture">
                                <h3>Selflessness</h3>
                            </div>
                            <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 culture">
                                <h3>Impact</h3>
                            </div>
                            <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture">
                                <h3>Courage</h3>
                            </div>
                            <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 culture">
                                <h3>Passion</h3>
                            </div>
                            <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture">
                                <h3>Judgement</h3>
                            </div>
                            <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 culture">
                                <h3>Curiosity</h3>
                            </div>
                            <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture">
                                <h3>Communication</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div onclick="redirect('/wegrew/')" class="aboutus__thinking--grew">
            <p>How we Grew 200 % over 3 years</p>
        </div>

    </div>
   
    <!-- company tag -->
</div>

<script type="text/javascript">
    
     timeline = new TL.Timeline('timeline-embed',
       'https://docs.google.com/spreadsheets/d/1hi6Fe-1CDGHmbhDEIQ3pCdT7wuFheTmoxnZkoC4DZ8I/edit#gid=0');
   </script>
<script>
    $(document).ready(function() {
    //     $('.lazy').Lazy({
    //         // your configuration goes here
    //         scrollDirection: 'vertical',
    //         effect: "fadeIn",
    //         effectTime: 1000,
    //         threshold: 0,
    //         visibleOnly: true,
    //         // placeholder: "data:'../assets/image/testing.jpg';base64,R0lGODlhEALAPQAPzl5uLr9Nrl8e7...",
    //         beforeLoad: function(element) {
    //             console.log(' started loading ' + element.data('src'));
    //         },
    //         afterLoad: function(element) {
    //             console.log('finish loading ' + element.data('src'));
    //         },
    //         onError: function(element) {
    //             console.log('error loading ' + element.data('src'));
    //         },
    //         onFinishedAll: function() {
    //             console.log('all Done')
    //         }
    // });
        $('ul.tabs li').click(function() {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        })

    })
</script>
<script type="application/javascript">
    ! function(t) {}({
        8: function(t, e, n) {
            "use strict";

            function o(t) {
                return t && t.__esModule ? t : {
                    default: t
                }
            }
            n(2);
            var i = n(42),
                r = o(i),
                a = "is-enhanced",
                s = "is-preparing",
                c = "has-transitioned";
            requestAnimationFrame && sessionStorage && !sessionStorage.getItem("homepage-has-transitioned") && document.documentElement.classList.add(s);
            var u = function() {
                if (requestAnimationFrame && sessionStorage && !sessionStorage.getItem("homepage-has-transitioned")) {
                    var t = document.querySelector(".js-homepage-header"),
                        e = document.querySelector(".js-hash-grid");
                    requestAnimationFrame(function() {
                        var n = new r.default("Calibre");
                        n.load().then(function() {
                            t.classList.add(a), e.classList.add(a), t.querySelector(".js-home-header-button").addEventListener("transitionend", function(e) {
                                "transform" === e.propertyName && t.classList.add(c)
                            }), requestAnimationFrame(function() {
                                document.documentElement.classList.remove(s)
                            })
                        }, function() {
                            document.documentElement.classList.remove(s)
                        }), sessionStorage.setItem("homepage-has-transitioned", !0)
                    })
                }
            };
            "loading" !== document.readyState ? u() : document.addEventListener("DOMContentLoaded", u)
        }
    });
    //# sourceMappingURL=homepage.83a56f12.js.map
</script>
{% include footer.html %}