
{% include head.html %}
<div class="aboutus">
  <div class="aboutus__headImg">
    <h1 class="aboutus__content1">Who are we ?</h1>
  </div>

    <div class="aboutus__tab">
      <ul class="aboutus__tab--list tabs">
          <li class="thinkingtab current" data-tab="tab-1">Our Thinking</li>
          <li class="" data-tab="tab-2">Company</li>
      </ul>
    </div>

    
    
      <div id="tab-1" class="tab-content current aboutus__thinking thinkingtab">
         
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="aboutus__thinking--container1">
                  <h2>Human Capital Acceleration</h2>
                  <div class="aboutus__thinking--capitalImage"></div>
                  <p>Our prime focus is complete retention and this is why we are  averse to any form of attrition. Our engagement with the team is comprehensive, familial and dedicated to individual and overall development. This spreads across making the diversity,
                    </p>
                    <P>
                      backgrounds, perspectives and communication channels stronger and inclusive. They are our assets and addition, our face and symbol, our attitude and approach, our viewpoints and strengths and at the same time our favoured critics and trusted friends.</p>
                    </div>
                    </div>
      
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border ">
                    <div class="aboutus__thinking--container1">
                    <h2>Client Handling</h2>
                    <div class="aboutus__thinking--clientImage"></div>
                   <p>Whether our clients are going through a business transition or moving across geographies, setting up new verticles that demand maximum attention or just want to talk to us on a trending doubt anytime, we are always there to assist and move them beyond the existing and future challenges. 
                     </p>
                     <P>
                      We consider client handholding to be the
                      building block of our corporate philosophy
                       and embed this as a solid practice at every opportunity that makes  us add positive value.</p>
                  </div>
                </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border">
                      <div class="aboutus__thinking--container1">
                      <h2>Industry stewardship and sustainability</h2>
                      <div class="aboutus__thinking--industryImage"></div>
                     <p>Whether our clients are going through a business transition or moving across geographies, setting up new verticles that demand maximum attention or just want to talk to us on a trending doubt anytime, we are always there to assist and move them beyond the existing and future challenges. 
                      </p>
                      <P>
                        We consider client handholding to be the
                        building block of our corporate philosophy
                         and embed this as a solid practice at every opportunity that makes  us add positive value.</p>
                    </div>
                  </div>
              </div>
              <div class="aboutus__thinking--ourculture">
              <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border">
                  <div class="aboutus__thinking--ourculture--container1">
                  <h2>Our Culture Code</h2>
                 <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
               <div class="row ">
                     <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 culture " >
                        <h3>Innovation</h3>
                     </div>
                     <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 culture " >
                        <h3>Honesty</h3>
                     </div>
                     <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 culture" >
                        <h3>Impact</h3>
                     </div>
                     <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 culture" >
                        <h3>Courage</h3>
                     </div>
                     <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 culture" >
                        <h3>Judgement</h3>
                     </div>
                     <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 culture" >
                        <h3>Curiosity</h3>
                     </div>
                     <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 culture" >
                        <h3>Selflessness</h3>
                     </div>
                     <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 culture" >
                        <h3>Passion</h3>
                     </div>
                     <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 culture" >
                        <h3>Communication</h3>
                     </div>
               </div>
              </div>
            </div>
            </div>
                </div>
              
                  <div class="aboutus__thinking--grew">
                    <p>How we Grew 200 % over 3 years</p>
                  </div>
       
      </div>
      <div id="tab-2" class="tab-content aboutus__company">
         
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                   <h1>Leadership</h1>
                   <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta.
                      Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="../assets/image/aboutus/gk-2@2x.jpg">
                    <h2>Gopikrishna Kannan</h2>
                    <h3>Founder & CEO</h3>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="../assets/image/aboutus/rajesh@2x.jpg">
                    <h2>Rajesh Murugan</h2>
                    <h3>Co - founder & Delivery Head</h3>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="../assets/image/aboutus/venki@2x.jpg">
                    <h2>Venkatesh Srinivasachar</h2>
                    <h3>Technology Leader</h3>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="../assets/image/aboutus/sudharsanan@2x.jpg">
                    <h2>Sudharsanaraman</h2>
                    <h3>Portfolio & RMG Head</h3>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="../assets/image/aboutus/shilpa@2x.jpg">
                    <h2>Shilpa Gopikrishna</h2>
                    <h3>Creative Director</h3>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="../assets/image/aboutus/harish@2x.jpg">
                    <h2>Harish Babu</h2>
                    <h3>Finance</h3>
                 </div>
      
              </div>
              <div class="aboutus__company--explore">
                <h1>Explore Workculture</h1>
              </div>
      </div>
      <!-- company tag -->  
</div>


<script>
$(document).ready(function(){
	
	$('ul.tabs li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	})

})
      
  </script>
{% include footer.html %}