{% include head.html %}
<div class="aboutus">
    <div class="aboutus__headImg" data-src="../assets/image/aboutus/origami@2x.png">
        <h1 class="aboutus__content1">Who are we ?</h1>
    </div>
    <div class="aboutus__tab">
        <ul class="aboutus__tab--list tabs">
            <li class="thinkingtab current" data-tab="tab-1"> Our Thinking</li>
            <li class="" data-tab="tab-2" id="company"> Company</li>
            <li class="" data-tab="tab-3" id="workculture"> Workculture</li>
        </ul>
    </div>
    <div id="tab-1" class="tab-content  aboutus__thinking thinkingtab current"> 
        <div class="">
                <div class="aboutus__thinking--container1">
                    <h2>Human Capital Acceleration</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 last-sm last-md last-lg">
                        <img class="aboutus__image" src="../assets/image/aboutus/1.png" alt="">  
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                            <p>Our prime focus is complete retention and this is why we are averse to any form of attrition. Our engagement with the team is comprehensive, familial and dedicated to individual and overall development. This spreads across making thediversity,</p>
                            <P>backgrounds, perspectives and communication channels stronger and inclusive. They are our assets and addition, our face and symbol, our attitude and approach, our viewpoints and strengths and at the same time our favoured critics and trusted friends.</p>
                    </div>
                </div>
           
            <div class=" border ">
                <div class="aboutus__thinking--container1">
                    <h2>Client Handling</h2>
                    <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                 <img class="aboutus__image2" src="../assets/image/aboutus/2.png" alt="">  
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 last-sm last-md last-lg">
                                        <p>Whether our clients are going through a business transition or moving across geographies, setting up new verticles that demand maximum attention or just want to talk to us on a trending doubt anytime, we are always there to assist and move them beyond the  existing and future challenges. </p>
                                        <p>We consider client handholding to be the building block of our corporate philosophy and embed this as a solid practice at everyopportunity that makes us add positive value.</p> 
                            </div>
                    </div>
                </div>
            </div>
            <div class=" border">
                <div class="aboutus__thinking--container1">
                    <h2>Industry stewardship and sustainability</h2>
                    <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 last-sm last-md last-lg">
                                 <img class="aboutus__image" src="../assets/image/aboutus/3.png" alt="">  
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                <p>Our services and products have one common thread – focused social impact.Everything that we do should resonate with change, development and progress.  If thisleads to compromise on ethics and environmental sustanibility, we advise ourstakeholders to reconsider their decision while offering the best possible solution to leverage honesty and humanity.</p>
                             </div>
                     </div>
                </div>
            </div>
        </div>
      
    </div>
    <div id="tab-2" class="tab-content  aboutus__company">
        <div class="row">
            <h1> Our Milestones</h1>
            <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
            <div class="col-md-12  col-sm-12">
                <div class="process-1">
                    <div class="process__item">
                        <h3>2015</h3>
                            <h2> Hashworks Inception</h2>
                        <p>The day we put our dearms to reality and hashworks was Born like a Jesus Christ.</p>
                    </div>
                    <div class="process__item ">
                        <h4>2016 </h4>
                        <h5>Design Sprints Integrated</h5>
                        <p>The day we put our dearms to reality and 
                                hashworks was Born like a Jesus Christ.</p>
                    </div>
                    <div class="process__item">
                        <h3>2017</h3>
                        <h2>Data Virtualisation</h2>
                        <p>The day we put our dearms to reality and 
                                hashworks was Born like a Jesus Christ. </p>
                    </div>
                    <div class="process__item ">
                            <h4>2018</h4>
                            <h5>Head count Increased</h5>
                            <p>The day we put our dearms to reality and 
                                    hashworks was Born like a Jesus Christ.</p>
                        </div>
                </div>
                <!--end process-->
            </div>
        </div>
          
        <div onclick="redirect('/workculture/')" class="aboutus__company--explore"></div>
    </div>
    <!-- company tag -->
</div>
<div id="tab-3" class="tab-content  aboutus__company">

<style>
        .app {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: box;
            flex-direction: box;
            min-height: calc(100vh - 45px)
        }
        .hash-grid {
            height: 360px;
            position: relative;
            width: 100%
        }
        @media (min-width:600px) {
            .hash-grid {
                height: 440px
            }
        }
        
        @media (min-width:1000px) {
            .hash-grid {
                height: 540px
            }
        }
        
        @media (min-width:1400px) {
            .hash-grid {
                height: 600px
            }
        }
        
        @media (min-width:1800px) {
            .hash-grid {
                height: 640px
            }
        }
        
        .is-preparing .hash-grid {
            opacity: 0
        }
        
        .hash-grid__inner {
            overflow: hidden;
            position: absolute;
            bottom: -220px;
            left: 0;
            right: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 760px
        }
        
        @media (min-width:600px) {
            .hash-grid__inner {
                height: 840px
            }
        }
        
        @media (min-width:1000px) {
            .hash-grid__inner {
                height: 940px
            }
        }
        
        @media (min-width:1400px) {
            .hash-grid__inner {
                height: 1057px
            }
        }
        
        @media (min-width:1800px) {
            .hash-grid__inner {
                height: 1040px
            }
        }
        
        @media (max-height:700px) {
            .hash-grid__inner {
                bottom: -180px
            }
        }
        
        .hash-grid__box {
            position: absolute;
            top: 0;
            left: 50%;
            width: 160px;
            margin-left: -80px;
            -webkit-transform-origin: center;
            transform-origin: center;
            -webkit-animation: boxs-trajectory-0 80s infinite;
            animation: boxs-trajectory-0 80s infinite;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            will-change: transform
        }
        
        @media (min-width:600px) {
            .hash-grid__box {
                width: 200px;
                margin-left: -100px;
                -webkit-animation-name: boxs-trajectory-600;
                animation-name: boxs-trajectory-600
            }
        }
        
        @media (min-width:1000px) {
            .hash-grid__box {
                width: 240px;
                margin-left: -120px;
                -webkit-animation-name: boxs-trajectory-1000;
                animation-name: boxs-trajectory-1000
            }
        }
        
        @media (min-width:1400px) {
            .hash-grid__box {
                width: 300px;
                margin-left: -150px;
                -webkit-animation-name: boxs-trajectory-1400;
                animation-name: boxs-trajectory-1400
            }
        }
        
        @media (min-width:1800px) {
            .hash-grid__box {
                width: 320px;
                margin-left: -160px;
                -webkit-animation-name: boxs-trajectory-1800;
                animation-name: boxs-trajectory-1800
            }
        }
        
        @media (min-width:720px) {
            .hash-grid__box {
                -webkit-animation-duration: 130s;
                animation-duration: 130s
            }
        }
        
        @media (min-width:960px) {
            .hash-grid__box {
                -webkit-animation-duration: 180s;
                animation-duration: 180s
            }
        }
        
        .hash-grid__box:nth-child(2) {
            -webkit-animation-delay: -71.11111s;
            animation-delay: -71.11111s
        }
        
        @media (min-width:720px) {
            .hash-grid__box:nth-child(2) {
                -webkit-animation-delay: -115.55556s;
                animation-delay: -115.55556s
            }
        }
        
        @media (min-width:960px) {
            .hash-grid__box:nth-child(2) {
                -webkit-animation-delay: -160s;
                animation-delay: -160s
            }
        }
        
        .hash-grid__box:nth-child(3) {
            -webkit-animation-delay: -62.22222s;
            animation-delay: -62.22222s
        }
        
        @media (min-width:720px) {
            .hash-grid__box:nth-child(3) {
                -webkit-animation-delay: -101.11111s;
                animation-delay: -101.11111s
            }
        }
        
        @media (min-width:960px) {
            .hash-grid__box:nth-child(3) {
                -webkit-animation-delay: -140s;
                animation-delay: -140s
            }
        }
        
        .hash-grid__box:nth-child(4) {
            -webkit-animation-delay: -53.33333s;
            animation-delay: -53.33333s
        }
        
        @media (min-width:720px) {
            .hash-grid__box:nth-child(4) {
                -webkit-animation-delay: -86.66667s;
                animation-delay: -86.66667s
            }
        }
        
        @media (min-width:960px) {
            .hash-grid__box:nth-child(4) {
                -webkit-animation-delay: -120s;
                animation-delay: -120s
            }
        }
        
        .hash-grid__box:nth-child(5) {
            -webkit-animation-delay: -44.44444s;
            animation-delay: -44.44444s
        }
        
        @media (min-width:720px) {
            .hash-grid__box:nth-child(5) {
                -webkit-animation-delay: -72.22222s;
                animation-delay: -72.22222s
            }
        }
        
        @media (min-width:960px) {
            .hash-grid__box:nth-child(5) {
                -webkit-animation-delay: -100s;
                animation-delay: -100s
            }
        }
        
        .hash-grid__box:nth-child(6) {
            -webkit-animation-delay: -35.55556s;
            animation-delay: -35.55556s
        }
        
        @media (min-width:720px) {
            .hash-grid__box:nth-child(6) {
                -webkit-animation-delay: -57.77778s;
                animation-delay: -57.77778s
            }
        }
        
        @media (min-width:960px) {
            .hash-grid__box:nth-child(6) {
                -webkit-animation-delay: -80s;
                animation-delay: -80s
            }
        }
        
        .hash-grid__box:nth-child(7) {
            -webkit-animation-delay: -26.66667s;
            animation-delay: -26.66667s
        }
        
        @media (min-width:720px) {
            .hash-grid__box:nth-child(7) {
                -webkit-animation-delay: -43.33333s;
                animation-delay: -43.33333s
            }
        }
        
        @media (min-width:960px) {
            .hash-grid__box:nth-child(7) {
                -webkit-animation-delay: -60s;
                animation-delay: -60s
            }
        }
        
        .hash-grid__box:nth-child(8) {
            -webkit-animation-delay: -17.77778s;
            animation-delay: -17.77778s
        }
        
        @media (min-width:720px) {
            .hash-grid__box:nth-child(8) {
                -webkit-animation-delay: -28.88889s;
                animation-delay: -28.88889s
            }
        }
        
        @media (min-width:960px) {
            .hash-grid__box:nth-child(8) {
                -webkit-animation-delay: -40s;
                animation-delay: -40s
            }
        }
        
        .hash-grid__box:nth-child(9) {
            -webkit-animation-delay: -8.88889s;
            animation-delay: -8.88889s
        }
        
        @media (min-width:720px) {
            .hash-grid__box:nth-child(9) {
                -webkit-animation-delay: -14.44444s;
                animation-delay: -14.44444s
            }
        }
        
        @media (min-width:960px) {
            .hash-grid__box:nth-child(9) {
                -webkit-animation-delay: -20s;
                animation-delay: -20s
            }
        }
        
        .hash-grid__box:nth-child(n+10) {
            display: none
        }
        
        @-webkit-keyframes boxs-trajectory-0 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(825px, 10px, 0);
                transform: rotate(.001deg) translate3d(825px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-825px, 10px, 0);
                transform: rotate(.001deg) translate3d(-825px, 10px, 0)
            }
        }
        
        @keyframes boxs-trajectory-0 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(825px, 10px, 0);
                transform: rotate(.001deg) translate3d(825px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-825px, 10px, 0);
                transform: rotate(.001deg) translate3d(-825px, 10px, 0)
            }
        }
        
        @-webkit-keyframes boxs-trajectory-600 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(1040px, 10px, 0);
                transform: rotate(.001deg) translate3d(1040px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-1040px, 10px, 0);
                transform: rotate(.001deg) translate3d(-1040px, 10px, 0)
            }
        }
        
        @keyframes boxs-trajectory-600 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(1040px, 10px, 0);
                transform: rotate(.001deg) translate3d(1040px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-1040px, 10px, 0);
                transform: rotate(.001deg) translate3d(-1040px, 10px, 0)
            }
        }
        
        @-webkit-keyframes boxs-trajectory-1000 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(1255px, 10px, 0);
                transform: rotate(.001deg) translate3d(1255px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-1255px, 10px, 0);
                transform: rotate(.001deg) translate3d(-1255px, 10px, 0)
            }
        }
        
        @keyframes boxs-trajectory-1000 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(1255px, 10px, 0);
                transform: rotate(.001deg) translate3d(1255px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-1255px, 10px, 0);
                transform: rotate(.001deg) translate3d(-1255px, 10px, 0)
            }
        }
        
        @-webkit-keyframes boxs-trajectory-1400 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(1595px, 10px, 0);
                transform: rotate(.001deg) translate3d(1595px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-1595px, 10px, 0);
                transform: rotate(.001deg) translate3d(-1595px, 10px, 0)
            }
        }
        
        @keyframes boxs-trajectory-1400 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(1595px, 10px, 0);
                transform: rotate(.001deg) translate3d(1595px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-1595px, 10px, 0);
                transform: rotate(.001deg) translate3d(-1595px, 10px, 0)
            }
        }
        
        @-webkit-keyframes boxs-trajectory-1800 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(1685px, 10px, 0);
                transform: rotate(.001deg) translate3d(1685px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-1685px, 10px, 0);
                transform: rotate(.001deg) translate3d(-1685px, 10px, 0)
            }
        }
        
        @keyframes boxs-trajectory-1800 {
            0% {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(1685px, 10px, 0);
                transform: rotate(.001deg) translate3d(1685px, 10px, 0)
            }
            5%,
            95% {
                opacity: 0
            }
            6%,
            94% {
                opacity: 1
            }
            50% {
                -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
                transform: rotate(.001deg) translate3d(0, 310px, 0)
            }
            to {
                opacity: 0;
                -webkit-transform: rotate(.001deg) translate3d(-1685px, 10px, 0);
                transform: rotate(.001deg) translate3d(-1685px, 10px, 0)
            }
        }
        
        .hash-grid__item {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 160px;
            background: #fff;
            background-size: cover;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
            -webkit-animation: card-jiggle 30s infinite alternate;
            animation: card-jiggle 30s infinite alternate;
            -webkit-transition: opacity .15s, -webkit-transform .7s cubic-bezier(.205, .96, .375, 1.025);
            transition: opacity .15s, transform .7s cubic-bezier(.205, .96, .375, 1.025);
            transition: opacity .15s, transform .7s cubic-bezier(.205, .96, .375, 1.025), -webkit-transform .7s cubic-bezier(.205, .96, .375, 1.025)
        }
        
        @media (min-width:600px) {
            .hash-grid__item {
                height: 200px
            }
        }
        
        @media (min-width:1000px) {
            .hash-grid__item {
                height: 240px
            }
        }
        
        @media (min-width:1400px) {
            .hash-grid__item {
                height: 260px
            }
        }
        
        @media (min-width:1800px) {
            .hash-grid__item {
                height: 280px
            }
        }
        
        .hash-grid__item-container {
            -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
            -webkit-transition: opacity .25s, -webkit-transform .7s cubic-bezier(.205, .96, .375, 1.025);
            transition: opacity .25s, transform .7s cubic-bezier(.205, .96, .375, 1.025);
            transition: opacity .25s, transform .7s cubic-bezier(.205, .96, .375, 1.025), -webkit-transform .7s cubic-bezier(.205, .96, .375, 1.025)
        }
        
        .is-preparing .hash-grid__item-container {
            opacity: 0;
            -webkit-transform: translateY(130px) scale(.8);
            transform: translateY(130px) scale(.8)
        }
        
        @-webkit-keyframes card-jiggle {
            0% {
                -webkit-transform: translate3d(1px, 4px, 0);
                transform: translate3d(1px, 4px, 0)
            }
            10% {
                -webkit-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0)
            }
            20%,
            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0)
            }
            30% {
                -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 1px, 0)
            }
            40% {
                -webkit-transform: translate3d(-4px, -3px, 0);
                transform: translate3d(-4px, -3px, 0)
            }
            50% {
                -webkit-transform: translate3d(5px, 2px, 0);
                transform: translate3d(5px, 2px, 0)
            }
            60% {
                -webkit-transform: translate3d(3px, -1px, 0);
                transform: translate3d(3px, -1px, 0)
            }
            70% {
                -webkit-transform: translate3d(-1px, 2px, 0);
                transform: translate3d(-1px, 2px, 0)
            }
            80% {
                -webkit-transform: translate3d(3px, -2px, 0);
                transform: translate3d(3px, -2px, 0)
            }
            90% {
                -webkit-transform: translate3d(3px, 2px, 0);
                transform: translate3d(3px, 2px, 0)
            }
        }
        
        @keyframes card-jiggle {
            0% {
                -webkit-transform: translate3d(1px, 4px, 0);
                transform: translate3d(1px, 4px, 0)
            }
            10% {
                -webkit-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0)
            }
            20%,
            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0)
            }
            30% {
                -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 1px, 0)
            }
            40% {
                -webkit-transform: translate3d(-4px, -3px, 0);
                transform: translate3d(-4px, -3px, 0)
            }
            50% {
                -webkit-transform: translate3d(5px, 2px, 0);
                transform: translate3d(5px, 2px, 0)
            }
            60% {
                -webkit-transform: translate3d(3px, -1px, 0);
                transform: translate3d(3px, -1px, 0)
            }
            70% {
                -webkit-transform: translate3d(-1px, 2px, 0);
                transform: translate3d(-1px, 2px, 0)
            }
            80% {
                -webkit-transform: translate3d(3px, -2px, 0);
                transform: translate3d(3px, -2px, 0)
            }
            90% {
                -webkit-transform: translate3d(3px, 2px, 0);
                transform: translate3d(3px, 2px, 0)
            }
        }
        
        .hash-grid__box:nth-child(1) .hash-grid__item:nth-child(1) {
            -webkit-animation-delay: -5.30204s;
            animation-delay: -5.30204s
        }
        
        .hash-grid__box:nth-child(1) .hash-grid__item-container:nth-child(1) {
            -webkit-transition-delay: .75s;
            transition-delay: .75s
        }
        
        .hash-grid__box:nth-child(1) .hash-grid__item:nth-child(2) {
            -webkit-animation-delay: -13.16395s;
            animation-delay: -13.16395s
        }
        
        .hash-grid__box:nth-child(1) .hash-grid__item-container:nth-child(2) {
            -webkit-transition-delay: .8s;
            transition-delay: .8s
        }
        
        .hash-grid__box:nth-child(2) .hash-grid__item:nth-child(1) {
            -webkit-animation-delay: -6.88356s;
            animation-delay: -6.88356s
        }
        
        .hash-grid__box:nth-child(2) .hash-grid__item-container:nth-child(1) {
            -webkit-transition-delay: .8s;
            transition-delay: .8s
        }
        
        .hash-grid__box:nth-child(2) .hash-grid__item:nth-child(2) {
            -webkit-animation-delay: -28.7621s;
            animation-delay: -28.7621s
        }
        
        .hash-grid__box:nth-child(2) .hash-grid__item-container:nth-child(2) {
            -webkit-transition-delay: .85s;
            transition-delay: .85s
        }
        
        .hash-grid__box:nth-child(3) .hash-grid__item:nth-child(1) {
            -webkit-animation-delay: -26.03077s;
            animation-delay: -26.03077s
        }
        
        .hash-grid__box:nth-child(3) .hash-grid__item-container:nth-child(1) {
            -webkit-transition-delay: .85s;
            transition-delay: .85s
        }
        
        .hash-grid__box:nth-child(3) .hash-grid__item:nth-child(2) {
            -webkit-animation-delay: -23.42802s;
            animation-delay: -23.42802s
        }
        
        .hash-grid__box:nth-child(3) .hash-grid__item-container:nth-child(2) {
            -webkit-transition-delay: .9s;
            transition-delay: .9s
        }
        
        .hash-grid__box:nth-child(4) .hash-grid__item:nth-child(1) {
            -webkit-animation-delay: -27.86454s;
            animation-delay: -27.86454s
        }
        
        .hash-grid__box:nth-child(4) .hash-grid__item-container:nth-child(1) {
            -webkit-transition-delay: .9s;
            transition-delay: .9s
        }
        
        .hash-grid__box:nth-child(4) .hash-grid__item:nth-child(2) {
            -webkit-animation-delay: -18.39546s;
            animation-delay: -18.39546s
        }
        
        .hash-grid__box:nth-child(4) .hash-grid__item-container:nth-child(2) {
            -webkit-transition-delay: .95s;
            transition-delay: .95s
        }
        
        .hash-grid__box:nth-child(5) .hash-grid__item:nth-child(1) {
            -webkit-animation-delay: -15.22776s;
            animation-delay: -15.22776s
        }
        
        .hash-grid__box:nth-child(5) .hash-grid__item-container:nth-child(1) {
            -webkit-transition-delay: .95s;
            transition-delay: .95s
        }
        
        .hash-grid__box:nth-child(5) .hash-grid__item:nth-child(2) {
            -webkit-animation-delay: -24.40217s;
            animation-delay: -24.40217s
        }
        
        .hash-grid__box:nth-child(5) .hash-grid__item-container:nth-child(2) {
            -webkit-transition-delay: 1s;
            transition-delay: 1s
        }
        
        .hash-grid__box:nth-child(6) .hash-grid__item:nth-child(1) {
            -webkit-animation-delay: -6.897s;
            animation-delay: -6.897s
        }
        
        .hash-grid__box:nth-child(6) .hash-grid__item-container:nth-child(1) {
            -webkit-transition-delay: 1s;
            transition-delay: 1s
        }
        
        .hash-grid__box:nth-child(6) .hash-grid__item:nth-child(2) {
            -webkit-animation-delay: -26.04068s;
            animation-delay: -26.04068s
        }
        
        .hash-grid__box:nth-child(6) .hash-grid__item-container:nth-child(2) {
            -webkit-transition-delay: 1.05s;
            transition-delay: 1.05s
        }
        
        .hash-grid__box:nth-child(7) .hash-grid__item:nth-child(1) {
            -webkit-animation-delay: -6.8831s;
            animation-delay: -6.8831s
        }
        
        .hash-grid__box:nth-child(7) .hash-grid__item-container:nth-child(1) {
            -webkit-transition-delay: 1.05s;
            transition-delay: 1.05s
        }
        
        .hash-grid__box:nth-child(7) .hash-grid__item:nth-child(2) {
            -webkit-animation-delay: -6.11901s;
            animation-delay: -6.11901s
        }
        
        .hash-grid__box:nth-child(7) .hash-grid__item-container:nth-child(2) {
            -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s
        }
        
        .hash-grid__box:nth-child(8) .hash-grid__item:nth-child(1) {
            -webkit-animation-delay: -28.119s;
            animation-delay: -28.119s
        }
        
        .hash-grid__box:nth-child(8) .hash-grid__item-container:nth-child(1) {
            -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s
        }
        
        .hash-grid__box:nth-child(8) .hash-grid__item:nth-child(2) {
            -webkit-animation-delay: -9.3362s;
            animation-delay: -9.3362s
        }
        
        .hash-grid__box:nth-child(8) .hash-grid__item-container:nth-child(2) {
            -webkit-transition-delay: 1.15s;
            transition-delay: 1.15s
        }
        
        .hash-grid__box:nth-child(9) .hash-grid__item:nth-child(1) {
            -webkit-animation-delay: -16.30265s;
            animation-delay: -16.30265s
        }
        
        .hash-grid__box:nth-child(9) .hash-grid__item-container:nth-child(1) {
            -webkit-transition-delay: 1.15s;
            transition-delay: 1.15s
        }
        
        .hash-grid__box:nth-child(9) .hash-grid__item:nth-child(2) {
            -webkit-animation-delay: -24.63739s;
            animation-delay: -24.63739s
        }
        
        .hash-grid__box:nth-child(9) .hash-grid__item-container:nth-child(2) {
            -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s
        }
        
        .hash-grid__item:first-child {
            margin-bottom: 20px
        }
        
        @media (min-width:600px) {
            .hash-grid__item:first-child {
                margin-bottom: 20px
            }
        }
        
        @media (min-width:1000px) {
            .hash-grid__item:first-child {
                margin-bottom: 40px
            }
        }
        
        @media (min-width:1400px) {
            .hash-grid__item:first-child {
                margin-bottom: 60px
            }
        }
        
        @media (min-width:1800px) {
            .hash-grid__item:first-child {
                margin-bottom: 60px
            }
        }
    </style>
    <section class="hashworks__workculture">
        <div class="workculture__workfun">
          <div class="row">
              <h1>We take work as fun</h1>
              <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus.
                   Cras ultricies ligula sed magna dictum porta. Curabitur 
                   aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
          </div>
        </div>
        <section class="plugin">
                <div class="">
                    <div class="hash-grid js-hash-grid " aria-hidden="true">
                        <div class="hash-grid__inner">
    
    
                            <div class="hash-grid__box">
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                        <img src="../assets/image/workculture/1-culture.png" />
                                    </div>
                                </div>
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                        <img src="../assets/image/workculture/2-culture.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="hash-grid__box">
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/3-culture.png" />
                                    </div>
                                </div>
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/4-culture.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="hash-grid__box">
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                        <img src="../assets/image/workculture/1-culture.png" />
                                    </div>
                                </div>
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/2-culture.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="hash-grid__box">
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/3-culture.png" />
                                    </div>
                                </div>
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/4-culture.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="hash-grid__box">
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                      <img src="../assets/image/workculture/1-culture.png" />
                                    </div>
                                </div>
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                      <img src="../assets/image/workculture/2-culture.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="hash-grid__box">
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/3-culture.png" />
                                    </div>
                                </div>
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/4-culture.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="hash-grid__box">
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/1-culture.png" />
                                    </div>
                                </div>
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                      <img src="../assets/image/workculture/2-culture.png" />
    
                                    </div>
                                </div>
                            </div>
                            <div class="hash-grid__box">
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/3-culture.png" />
                                    </div>
                                </div>
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/4-culture.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="hash-grid__box">
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                       <img src="../assets/image/workculture/1-culture.png" />
                                    </div>
                                </div>
                                <div class="hash-grid__item-container">
                                    <div class="hash-grid__item">
                                      <img src="../assets/image/workculture/2-culture.png" />
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <div class="workculture__facility">
            <div class="row">
                  <h1>Perk and facility</h1>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <h2>HEALTH & WELLNESS</h2>
                <p>Full health coverage for you and your family (Slack pays 100% of your premiums),
                 and a $150 monthly fitness and wellness reimbursement.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                     <h2>LEARNING & DEVELOPMENT</h2>
                <p>Receive $500 annually (or equivalent) towards a personal development opportunity of your choice,
                     and $2000 annually (or equivalent) for professional development.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h2>PARENTAL LEAVE</h2>
                <p>A lot of us have families, of all shapes and sizes and types, and we welcome each
                     new addition with generous parental and new child bonding leave.</p>
                </div> 
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h2>HAPPIER WEEKDAYS</h2>
                <p>A meeting-light culture (or we try, at least), weekly massage therapy,
                 guest speakers, and opportunities to get to know your team better through
                  things like weekly catered lunch and breakfast, Thursday Socials, and game
                   nights. But we don’t stay in the office 24/7.</p> 
                </div>   
                </div>
        </div>
        <!-- <div class="workculture__boxes">
          <div class="row">
              <div class="workculture__box col-xs-12 col-sm-4 col-md-4 col-lg-4"  onclick="redirect('/job/')">
                <h1>See Job Openings <img src="../assets/image/workculture/shape.png"/> </h1> 
              </div>
              <div class="workculture__box col-xs-12 col-sm-4 col-md-4 col-lg-4" onclick="redirect('/internship/')">
                 <h1 >See Internship <img src="../assets/image/workculture/shape.png"/></h1> 
              </div>
              <div class="workculture__box col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <h1>Hook to BootCamp 
                     <img src="../assets/image/workculture/shape.png"/>
                    </h1>  
              </div>
          </div> -->
          <div class="workculture__culture">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border">
                        <div class="">
                            <h2>Our Culture Code</h2>
                            <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
                            <div class="row ">
                                <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture ">
                                    <h3>Innovation</h3>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 culture ">
                                    <h3>Honesty</h3>
                                </div>
                                <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture">
                                    <h3>Selflessness</h3>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 culture">
                                    <h3>Impact</h3>
                                </div>
                                <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture">
                                    <h3>Courage</h3>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 culture">
                                    <h3>Passion</h3>
                                </div>
                                <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture">
                                    <h3>Judgement</h3>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 culture">
                                    <h3>Curiosity</h3>
                                </div>
                                <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4 culture">
                                    <h3>Communication</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="workculture__bottomImage"> </div>  
    </section>

</div>
<script>
    $(document).ready(function() {   
        $('ul.tabs li').click(function() {
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');
            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
            if(tab_id=='tab-2'){
                timeline = new TL.Timeline('timeline-embed',
       'https://docs.google.com/spreadsheets/d/1hi6Fe-1CDGHmbhDEIQ3pCdT7wuFheTmoxnZkoC4DZ8I/edit#gid=0');
            }
        })

        let hash=location.hash;
        if(hash=='#company'){
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');
            $('#tab-2').addClass('current');
            $('#company').addClass('current');
        }
        else if(hash=='#workculture'){
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');
            $('#tab-3').addClass('current');
            $('#workculture').addClass('current');
        }
    })
</script>

{% include footer.html %}