{% include head.html %}
<section class="hashworks__casestudy">
    <div class="casestudy__image">
         <h2>Using virtual reality to build empathy in distributed organizations.</h2>   
    </div>
    <div class="casestudy__overview">
       <div class="row">
            <div class="casestudy__overview__text col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1>OVERVIEW</h1>
                    <p>Whether you’re visualizing millions of trips, watching events unfold in
                        real time, or just curious what your city’s data looks like, we created
                        a design system for crafting beautiful data-driven maps.</p>    
            </div>    
                <div class="casestudy__overview__department col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>DEPARTMENT</h1>   
                    <p>Data</p> 
                    <h1>OUTCOME</h1>
                </div>    
       </div> 
        <div class="row">
            <div class="casestudy__overview__boxes">
               <div class="casestudy__overview__boxes__box">
                 <h1>20%</h1>
                 <p>Uptime in service</p>
                </div>
                <div class="casestudy__overview__boxes__box1">
                    <h1>60%</h1>
                    <p>Inbound sales created</p>
                </div>
            </div>
       </div>
   </div>
    <div class="casestudy__product">
        <div class="row">
           <h1>Product Statement</h1>
           <p>With so many teams across the organization producing maps, we saw a need
             to create a framework for producing consistent, high-quality data-driven
              maps. We also needed the framework to scale up to the needs of 400+
               cities around the world.</p> 
        </div>
    </div>
    <div class="">
        <div class="casestudy__image2"> 
    </div>
    </div>
    <div class="casestudy__agile">
        <div class="row">
            <h1>STEP 1</h1>
            <h2>Looking on to agile methods</h2>
            <p>Trip lines are one of the signature visualizations shown in our CEO’s TED 
               Talk, and featured in a variety of publications. The challenge is that 
               the actual trip path is not baked into the raw data. It needs to be
               generated in code based on an array of latitude and longitude points.
               To aid our process, we built custom tools to quickly generate these 
               visualizations for over 400 cities.</p>
        </div>
    </div>
    <div class="casestudy__image3">
    </div>
    <div class="casestudy__outcome">
        <div class="row">
            <h2>Outcome</h2>
            <p>With so many teams across the organization producing maps, we saw a need to
               create a framework for producing consistent, high-quality data-driven maps.
               We also needed the framework to scale up to the needs of 400+ cities around
               the world.</p>
        </div>
    </div>
    <div class="casestudy__mobiledata">
      <div class="row">
         <div class="casestudy__mobiledata__mobile col-xs-12 col-sm-6 col-md-6 col-lg-6">
             <div class="casestudy__mobiledata__mobile__image4"></div>
             <h1>MOBILE</h1>
             <p>Data driven Inteligence to provide the accurate informations.</p>
          </div>
          <div class="casestudy__mobiledata__mobile col-xs-12 col-sm-6 col-md-6 col-lg-6">
             <div class="casestudy__mobiledata__mobile__image5"></div>
              <h1> DATA</h1>
              <p>Using virtual reality to build empathy in distributed organizations.</p>
          </div>
       </div>    
    </div> 
    </div>
</section>
{% include footer.html %}
