{% include head.html %}
  <section class="hashworks__casestudyHome">
	<div class="casestudy__events">
		  <div class="casestudy__events__banner">
				<h1>Case Study</h1>
			</div>
			<div class="row center-xs">
                <div class="category-filter">
    			<p class=" btn-outline-primary category-button active " data-filter="all">All</p>
    			<p class=" btn-outline-primary category-button " data-filter="applicationdev">Data Science</p>
    			<p class=" btn-outline-primary category-button " data-filter="devops">DevOps</p>
					<p class=" btn-outline-primary category-button " data-filter="mobile">Mobile</p>
					<p class=" btn-outline-primary category-button " data-filter="applicationdev">Application</p>
			</div>
			</div>
		<div class="row">
			
			<div class="event col-xs-12 col-sm-6 col-md-6 col-lg-6 filter applicationdev">
				 <a href="/casestudy">
				   <div class="casestudy__events__image1"></div>
						<h1>Application Dev</h1>
						<h2>Using virtualy reality build empathy in distributed organizations</h2>
				 </a>
					 
			</div>
			<div class="event col-xs-12 col-sm-6 col-md-6 col-lg-6 filter devops">
            <div class="casestudy__events__image2"></div>
						<h1>DevOps</h1>
						<h2>Using virtualy reality build empathy in distributed organizations</h2>
			</div>
			<div class="event col-xs-12 col-sm-6 col-md-6 col-lg-6 filter mobile">
				 <div class="casestudy__events__image3"></div>
						<h1>Mobile</h1>
						<h2>Using virtualy reality build empathy in distributed organizations</h2>
			</div>
			<div class="event col-xs-12 col-sm-6 col-md-6 col-lg-6 filter mobile">
					 <div class="casestudy__events__image4"></div>
						<h1>Data Science</h1>
						<h2>Using virtualy reality build empathy in distributed organizations</h2>
			</div>
		</div>
	</div>
</section>  

{% include footer.html %}