{% include head.html %}
<section class="hashworks__casestudyHome">
    <div class="casestudy__events">
        <div class="casestudy__events__banner" data-src="../assets/image/casestudy/case-study-banner.png">
            <h1>Case Study</h1>
        </div>
        <div class=" category-filter center-xs">
            <div class="">
                <p class=" btn-outline-primary category-button active " data-filter="all">All
                </p>
                <p class=" btn-outline-primary category-button " data-filter="applicationdev">Data Science
                </p>
                <p class=" btn-outline-primary category-button " data-filter="devops">DevOps
                </p>
                <p class=" btn-outline-primary category-button " data-filter="mobile">Mobile
                </p>
                <p class=" btn-outline-primary category-button " data-filter="applicationdev">Application
                </p>
            </div>
        </div>
        <div class="row">

            <div class="event col-xs-12 col-sm-6 col-md-6 col-lg-6 filter applicationdev">
                <div class="shadow">
                    <a href="/casestudy">
                        <div class="casestudy__events__image1" data-src="../assets/image/casestudy/casestudy1.jpg"></div>
                        <h1>Application Dev</h1>
                        <h2>Using virtualy reality build empathy in distributed organizations</h2>
                    </a>
                </div>
            </div>
            <div class="event col-xs-12 col-sm-6 col-md-6 col-lg-6 filter devops">
                <div class="shadow">
                    <a href="/devOps">
                        <div class="casestudy__events__image2" data-src="../assets/image/casestudy/6.png"></div>
                        <h1>DevOps</h1>
                        <h2>Using virtualy reality build empathy in distributed organizations</h2>
                    </a>
                </div>
            </div>
            <div class="event col-xs-12 col-sm-6 col-md-6 col-lg-6 filter mobile">
                <div class="shadow">
                    <a href="/mobile">
                        <div class="casestudy__events__image3" data-src="../assets/image/casestudy/4.png"></div>
                        <h1>Mobile</h1>
                        <h2>Using virtualy reality build empathy in distributed organizations</h2>
                    </a>
                </div>
            </div>
            <div class="event col-xs-12 col-sm-6 col-md-6 col-lg-6 filter mobile">
                <div class="shadow">
                    <a href="/dataScience">
                        <div class="casestudy__events__image4" data-src="../assets/image/casestudy/5.png"></div>
                        <h1>Data Science</h1>
                        <h2>Using virtualy reality build empathy in distributed organizations</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include footer.html %}