{% include head.html %}
<section class="hashworks__contactUs">
    <div class="hashworks__contactUs__image">
        <h1>Connect Us?</h1>
    </div>
    <div class="hashworks__contactUs__form">
        <div class="row">
            <h1>Hello there, drop us a line!</h1>
            <div class=" hashworks__contactUs__form__form1 col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input type="text" placeholder="Name"/>
            </div>
            <div class="pad hashworks__contactUs__form__form2 col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input type="text" placeholder="Email Id"/>
            </div>
                <div class="pad col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <textarea placeholder="Write us a line"></textarea>
                </div>
                <button><p>Send</p></button>
        </div>
    </div>
    <div class="row">
        <div class="pad col-xs-12 col-sm-8 col-md-6 col-lg-8 ">
            <div class="hashworks__contactUs__location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.7440293032305!2d77.66975104989375!3d12.924166490842302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1375c19663b1%3A0x56cac78f29b5d45f!2sHashworks+IT+Services+Private+Limited!5e0!3m2!1sen!2sin!4v1513689385847"  frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            </div>
        <div class="pad col-xs-12 col-sm-4 col-md-6 col-lg-4 ">
                <div class="hashworks__contactUs__address">
                    <h1>ADDRESS</h1>
                    <p>Gayathri Mansion, 
                        # 80/3 , Bellandur, Outer Ring Road, 
                        Near Salarpuria Soft Zone, 
                        Opp To Shell Petrol Bunk, 
                        Bengaluru, Karnataka 560103</p>
                    <h1>EMAIL</h1>
                    <p>hello@hashworks.com</p>
                    <h1>PHONE</h1>
                    <p>080 6541 0019</p>
                </div>
            </div>
     </div>
   <div class="row">
       <div class="pad hashworks__contactUs__images col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="shadow1">
                <div class="hashworks__contactUs__images__image1" onclick="redirect('/aboutUs/')">
                        <p>ABOUT</p>
                        <h1>Our Thinking &nbsp;&nbsp; <i class="ion-ios-arrow-right"></i> </h1>
                </div>
            </div>
         </div>
         <div class="pad hashworks__contactUs__images col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="shadow2">
                <div class="hashworks__contactUs__images__image2" onclick="redirect('/aboutUs/#workculture')">
                    <p>ABOUT</p>
                    <h1>Our Workculture  &nbsp;&nbsp; <i class="ion-ios-arrow-right"></i></h1>
                </div>
            </div>
        </div>
   </div>
 </section>
{% include footer.html %}