{% include head.html %}
<div class="devOps">
    <div class="devOps__headImg  ">
            <div class="devOps__head">
                <h1>Dev Ops</h1>    
        </div>
    </div>
    <div class="devOps__content">
        <div class="devOps__container">
            <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1>Current problems tomorrows Products</h1>
                <p>
                        Nulla porttitor accumsan tincidunt. Proin eget tortor risus. 
                        Cras ultricies ligula sed magna dictum porta.
                        Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.
                </p>
                <p>
                        Nulla porttitor accumsan tincidunt. Proin eget tortor risus. 
                        Cras ultricies ligula sed magna dictum porta.
                        Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="devOps__div1">
                    <h2>20%</h2>
                    <p>Uptime in 
                            service</p>
                </div>
                <div class="devOps__div2">
                    <h2>60%</h2>
                    <p>
                            Inbound 
                            sales 
                            created
                    </p>
                </div>
            </div>
        </div>
        </div>
  </div>
    <div class="devOps__container">
        <div class="devOps__mobility">
            <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 last-sm last-md last-lg">
                <h1>Services We Offer</h1>
                <h2>Enterprise Mobility</h2>
                <p>Mobile first is at the center of IT strategy for every business.
                    Enterprise mobility management (EMM) suites have helped organizations to push their IT products & services as an extensible &
                    on-demand commodity. EMM gives the ability for enterprise organization to provision, audit, track. 
                  </p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="devOps__div11">
                    <p>
                        We Helped Google to get on Mobile
                    </p>
                </div>
                <div class="devOps__div12">
                    <p>
                        2X User
                        drive for 
                        Dell EMC
                    </p>
                 </div>
            </div>
        </div>
        </div>
    </div>
    <div class="devOps__productImg">
        <div class="devOps__container">
            <p>We intro’d Lending
                    Home to its Director
                    of Product.</p>
        </div>
</div>
    <div class="devOps__container">
        <div class="devOps__byod">
                <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 last-sm last-md last-lg">
                <h1>BYOD</h1>
                <p>A number of digital devices and platforms available for consumers today has exploded in recent years. 
                    Today digital population is more connected than ever. With more access to content & connected lifestyles,
                     there is a rapid adoption of the second screen as a standard practice in our daily lives. </p>
                     <h1>Consumer Apps</h1>
                     <p>A number of digital devices and platforms available for consumers today has exploded in recent years. 
                            Today digital population is more connected than ever. With more access to content & connected lifestyles,
                             there is a rapid adoption of the second screen as a standard practice in our daily lives. </p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <div class="devOps__div111">
                        <p>
                            We Helped Google to get on Mobile
                        </p>
                    </div>
                    <div class="devOps__div112">
                            <p>
                                    3X Rise in
                                    Business 
                                    Engagement
                                </p>
                    </div>
                    <div class="devOps__div113">
                        <p>
                            2X User
                            drive for 
                            Dell EMC
                        </p>
                     </div>
                </div>
                </div>
        </div>
    </div>

</div>
{% include footer.html %}
 

