{% include head.html %}
        <section class="expertise">
            <section class="expertise__banner">
              <div class="row bottom-xs">
              <section class="expertise__bannerImage">
                <div class="expertise__banner--text">
                    <h1>Our Experts will help you leap forward</h1> 
                </div>
              </section>  
              </div>
            </section> 
            <section class="expertise__heading">
                <section class="expertise__headingContainer">
                <div class="row">
                <div class="expertise__headingContainer--title col-xs-12">
                    <h1>Just In Time Sourcing</h1>
                </div>
                <div class="expertise__headingContainer--title col-xs-12">
                    <h1>Just In Time Sourcing</h1>
                </div>
                <div class="expertise__headingContainer--title col-xs-12">
                    <h1>Just In Time Sourcing</h1>
                </div>
                <div class="expertise__headingContainer--title col-xs-12">
                    <h1>Just In Time Sourcing</h1>
                </div>
                </div>
                </section>
            </section>
        </section>
        {% include footer.html %} 