 {% include head.html %}
<div class="home">
    <div class="home__hashworks">
        <div class="row">
                <div class="col-xs-12 col-sm-6 last-sm ">
                <img class="home__hashworks--logo" id="frame" src="../assets/image/job/hashlogo.gif" alt="logo" loop=infinite />
                </div>
                <div class="col-xs-12 col-sm-6 pad">
                        <h1>Growing <span>Together</span></h1>
                        <h2>Innovate | Colloborate | Change</h2>
                        <p> Partner for your software driven business to deliver profits and growth...</p>
                </div>
        </div>
    </div>

    <div class="home__help">
        <div class="home__help__mobile">
            <h1>What We Do and How We Can Help</h1>
            <h2>We consult, architect and build</h2>
            <p>Whether you are an SME or Enterprise, we act as trusted advisors and deliver cohesive end-to-end solutions for our clients. Our approach is business oriented, context aware, and outcome focused.</p>
         <div class="row">  
               <div class="col-xs-12 col-sm-2 home__help--image">
                    <img src="../assets/image/index/group-11.svg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10">
                    <p><strong>Application architecture</strong> focuses on architecting and delivering modern, sustainable, and scalable systems. These typically span a variety of architectural styles and approaches including microservices and serverless. We deliver end-to-end value for customers, and ensure the solution can be appropriately managed and maintained by operational staff.</p>
                </div>
                <div class="row">
                <div class="col-xs-12 col-sm-2 home__help--image">
                    <img src="../assets/image/index/group-12.svg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10">
                    <p><strong>Data engineering</strong> plays a critical role in solving contemporary business challenges. Whilst “software is eating the world”, we believe data is shaping the world. Through this practice, we help clients extract benefit and insight from their existing data, by managing, transforming and securing data at scale.</p>
                </div>
                </div>
                <div class="row">
                <div class="col-xs-12 col-sm-2 home__help--image">
                    <img src="../assets/image/index/cloud-computing.svg" alt="">
                </div>
                <div class="col-xs-12 col-sm-10">
                    <p><strong>Our expertise </strong>in cloud engineering incorporates secure infrastructure design, automation and testable programmable infrastructure. Whether utilising native cloud services, or delivering solutions on top, our clients rely on us to help leverage the right services to innovate, scale and deliver faster.</p>
                </div>
                </div>
                <h6 onclick="redirect('/service/')">Know More —></h6>
            </div>
        </div>
    </div>
    
    <div class="home__groome">
            <div class="home__groome__product">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5 groomepng">
                        <img src="../assets/image/index/group-24.svg" />
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 home__groome__product--content">
                        <!-- <h1>PRODUCT</h1> -->
                        <h2 class="read-more-wrap">Your company’s biggest asset are your people.</h2>
                        <p>Use “Machine Intelligence” to find, hire, manage and retain your best talents.</p>
                    <a href="https://groome.co/" target="_blank"> <h6 >Know More —></h6></a>
                    </div>
                </div>
            </div>
        <div class="home__groome__product">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5 groomepng">
                    <img src="../assets/image/index/enigma logo.svg" />
                </div>
                <div class="col-xs-12 col-sm-8  col-md-8 col-lg-7 home__groome__product--content">
                    <!-- <h1>PRODUCT</h1> -->
                    <h2 class="read-more-wrap">Root cause application failures in a single click.</h2>
                    <p>Localize. detect and fix errors instantly in production or staging. Deliver reliable customer experience.</p>
                    <a href="https://enigma.hashworks.co/" target="_blank">  <h6>Know More —></h6></a>
                </div>
            </div>
         </div>
        <div class="home__groome__product">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5 groomepng">
                        <img src="../assets/image/product&service/group-43.svg" />
                    </div>
                    <div class="col-xs-12 col-sm-8  col-md-8 col-lg-7 home__groome__product--content">
                        <!-- <h1>PRODUCT</h1> -->
                        <h2 class="read-more-wrap">Abstract your release engineering process and make it measurable</h2>
                        <p>Automate & simplify your release engineering cycle to build scaleable products & services at a single click. 
                            Measure your engineering quality at a unit level, deliver avant-garde solutions to your customers.</p>
                        <h6>Know More —></h6>
                    </div>
                </div>
            </div>
    </div>
    <div class="home__business">
            <div onclick="redirect('/wegrew/')" class="home__business--grew">
                <h1>BUSINESS IMPACT</h1>
                <h2>How we grew 200% In 3 Years
                    <img src="../assets/image/arrow.png"/>
                </h2>
            </div>
            <div onclick="redirect('/aboutUs/')" class="home__businessImpact--thinking">
                <h1>ABOUT</h1>
                <h2>Our Thinking
                    <img src="../assets/image/arrow.png"/></h2>
            </div>
        </div>

        <div class="home__businessImpact">
            <div onclick="redirect('/job/')" class="home__business--impact">
                <h1>JOIN US</h1>
                <h2> Job Openings
                    <img src="../assets/image/arrow.png"/></h2>
            </div>
            <div onclick="redirect('/aboutUs/#workculture')" class="home__businessImpact--culture" >
                <h1>ABOUT</h1>
                <h2> Our Workculture
                    <img src="../assets/image/arrow.png"/></h2>
            </div>
        </div>
    <div class="home__caseStudy">
            <div class="home__caseStudy--block">
                    <div class="home__caseStudy--image" data-src="../assets/image/index/group.jpg"></div>
                    <div class="home__caseStudy--content">
                        <h1>CASE STUDY</h1>
                        <h2>How we transformed the dell Sales pipeline</h2>
                        <p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. </p>
                        <p style="cursor:pointer ;text-align:center" onclick="redirect('/casestudy-home/')">Read More —></p>
                        <div class="home__caseStudy--uptime">
                            <div class="home__caseStudy--uptime--service">
                                <h2>20%</h2>
                                <p>Uptime in Service</p>
                            </div>
                            <div class="home__caseStudy--uptime--sales">
                                <h2>60%</h2>
                                <p>Inbound Sales Created</p>
                            </div>
                        </div>
                    </div>
                </div>
      
    </div>
    <div class="home__acclerated">
        <h1>Business We Acclerated</h1>
        <div class=" row">
            <div class="col-xs-6 col-sm-4 bottom-border center-img ">
                <img class="img1" src="../assets/image/index/LTI.png">
            </div>
            <div class="col-xs-6 col-sm-4 bottom-border left-border center-img ">
                <img class="img2" src="../assets/image/index/Aeris.png">
            </div>
            <div class="col-xs-6 col-sm-4 bottom-border left-border center-img hide-mobile">
                <img class="img3" src="../assets/image/index/Experis.png">
            </div>
            <div class="col-xs-6 col-sm-4 bottom-border  center-img ">
                <img class="img4" src="../assets/image/index/Ey.png">
            </div>
            <div class="col-xs-6 col-sm-4 bottom-border  left-border center-img ">
                <img class="img5" src="../assets/image/index/dell.png">
            </div>
            <div class="col-xs-6 col-sm-4 bottom-border left-border center-img hide-mobile ">
                <img class="img6" src="../assets/image/index/Graphene.png">
            </div>
            <div class="col-xs-6 col-sm-4 center-img">
                <img class="img7" src="../assets/image/index/24.png">
            </div>
            <div class="col-xs-6 col-sm-4 left-border center-img  ">
                <img class="img8" src="../assets/image/index/hubble.png">
            </div>
            <div class="col-xs-6 col-sm-4 left-border center-img  hide-mobile">
                <img class="img9" src="../assets/image/index/soft.png">
            </div>

        </div>
    </div>

    <div class="home__roi ">
        <div class="home__roi--image" >
            <p>Subscribe to our newsletter</p>
            <div class="home__roi--center">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email Id">
            </div>
            <button type="submit" class="button1" value="Subscribe">Subscribe</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.home__groome').slick({
            nextArrow: '<i class="ion-ios-arrow-right slickright"></i>',
            prevArrow: '<i class="ion-ios-arrow-left slickleft"></i>',
            dots: false,
            infinite: true,
            autoplay:true,
           autoplaySpeed:1500,
            fade: true,
            cssEase: 'linear'
        });
    });
</script>
{% include footer.html %}