

{% include head.html %}
        <section class="groome__homepage">
            <div class="homepage__hire">
                <div class="row">
                    <div class="homepage__hire__text col-xs-12 col-sm-12 col-md-6">
                        <h1>Empower your Talent Acquistion team to Hire Smarter</h1>
                        <p>Gather “<strong>Intelligence</strong>” to Find, Attract and Hire best talents</p>
                    </div>
                    <div class="homepage__hire__image col-xs-12 col-sm-12 col-md-6">
                        <img src="../assets/images/homepage/group-7 (1).svg" alt="Talent Acquistion">
                    </div>
                </div>    
            </div>
            <div class="homepage__analytics">
                <div class="row">
                    <div class="homepage__analytics__talent col-xs-12 col-sm-5 col-md-3">
                        <h1>Talent Analytics</h1>
                        <p>An analytics driven approach to co-relate and match people related data, using demographic, job history, compensation, mobility, assessment, training, social and  community interactions.</p>
                    </div>
                    <div class="homepage__analytics__plus col-xs-12 col-sm-2 col-md-1">
                        <h1>+</h1>
                    </div>
                    <div class="homepage__analytics__da col-xs-12 col-sm-5 col-md-4">
                            <h1>Data Science & AI</h1>
                            <p>Our Intelligent software algorithms learn and recognise hiring data patterns. We let our AI to talent map and rank market-fit candidates for your business needs.</p>
                    </div>
                    <div class="homepage__analytics__equal col-md-1">
                            <h1>=</h1>
                        </div>
                </div>
            </div>
            <div class="homepage__senario">
                <div class="row">
                    <div class="homepage__senario__image col-xs-12 col-sm-12 col-md-6 last-md">
                    </div>
                    <div class="homepage__senario__text col-xs-12 col-sm-12 col-md-6">
                        <h1>Current senario.</h1>
                        <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <h2>Maximise opportunity</h2>
                            <p>Sorting out which leads have good potential and which don’t, makes a world of difference to your business </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                                <h2>Recruiter Productivity</h2>
                                <p>A recruiter does not have the right toolsets today to enable intelligent hiring, hapmpering thier productivity</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                                <h2>Hiring Queue</h2>
                                <p>Knowledge versus demand gap results in long queue of requirements in the pipeline</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                                <h2>Market Variability</h2>
                                <p>The constant upgrade required to keep up with the current trend of technologies in the market</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                                <h2>Absense Of Cadence</h2>
                                <p>Not having a complete macro level view of the leads-requirement and fulfillment can steer hiring teams into major unproductivity</p>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="homepage__offering row">
                    <div class="homepage__offering__image col-xs-12 col-sm-6 last-sm last-md col-md-6"></div>
                    <div class="homepage__offering__text col-xs-12 col-sm-6 col-md-6">
                        <div class="homepage__offering__text__inner">
                        <h2>Our Offering</h2>
                        <h1>As Expertise</h1>
                        <p>Let our dedicated network of talent experts help you hire critical talent fast.</p>
                        <button>Know more</button>
                    </div>
                </div>
            </div>
            <div class="homepage__product">
                <div class="row">
                    <div class="homepage__product__image col-xs-12 col-sm-6 col-md-6"></div>
                    <div class="homepage__product__text col-xs-12 col-sm-6 col-md-6">
                            <button class="comming-soon">Coming Soon</button>
                        <h2>Our Product</h2>
                        <h1>Groome</h1>
                        <p>Empower your Talent Acquisition team to Hire Smarter</p>
                        <button>Know more</button>
                   </div>
                </div>   
            </div>
            <div class="homepage__companies">
                    <div class="row">
                        <h1>Folks we have helped </h1>
                        <div class="homepage__companies__image col-xs-6 col-sm-6 col-md-3">
                            <img class="homepage__companies__image--1" src="../assets/images/homepage/dell.png" alt="dell">
                        </div>
                        <div class="homepage__companies__image col-xs-6 col-sm-6 col-md-3">
                            <img class="homepage__companies__image--2" src="../assets/images/homepage/bosch.png" alt="bosch">
                        </div>
                        <div class="homepage__companies__image col-xs-6 col-sm-6 col-md-3">
                            <img class="homepage__companies__image--3" src="../assets/images/homepage/sandisk.png" alt="sandisk">
                        </div>
                        <div class="homepage__companies__image col-xs-6 col-sm-6 col-md-3">
                            <img class="homepage__companies__image--4" src="../assets/images/homepage/kpmg.png" alt="kpmg">
                        </div>
                    </div>   
                </div>
        </section>
        {% include footer.html %}
    


