

{% include head.html %}

<div class="main-container">

  
<div class="row home-conatiner">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home-container__hometop">
      <div class="home-container--hashworkpattern">
        <embed class="home-container--logo" src="../assets/image/job/hashlogo.gif" alt="expertise">
     </div>
      <div class="col-xs-6 homedesk">
        <h1>Growing <span>Together</span></h1>
         <p class="one">Innovation.Colloboration.Change</p>
          <p class="two"> Partner for your software driven  business to deliver profits and growth...</p>
     </div>
     </div>
    <div class="col-xs-12 home-container__hometext">
       <h1>Growing <span>Together</span></h1>
        <p class="one">Innovation.Colloboration.Change</p>
         <p class="two"> Partner for your software driven  business to deliver profits and growth...</p>
    </div>
      </div>


    <div class="home-container__single-item row">
                  <div class="disign">
                  <div class="col-xs-12 col-sm-4 setposition" >
                 <img class="bitmapper" src="./assets/image/index/groome.png"/>
                </div>
                 <div class="col-xs-12 col-sm-6 ">
                    <h3 class="product-header">Product</h3>
                    <p class="maintext">Solving Human resource problem with AI Touch.</p>
                    <p class="info">Curabitur aliquet quam id dui posuere blandit.
                      Donec sollicitudin molestie malesuada. Vestibulum ac 
                      diam sit amet quam vehicula elementum sed sit amet dui. </p>
                    <a>Know More<span>&#8594;</span></a>
                 </div>
                
                </div>

               
                <div class="disign">
                  <div class="col-xs-12 col-sm-4 setposition" >
                 <img class="bitmapper"  src="./assets/image/index/groome.png"/>
                </div>
                 <div class="col-xs-12 col-sm-6 ">
                  <h3 class="product-header">Product</h3>
                    <p class="maintext">Solving Human resource problem with AI Touch.</p>
                    <p class="info">Curabitur aliquet quam id dui posuere blandit.
                      Donec sollicitudin molestie malesuada. Vestibulum ac 
                      diam sit amet quam vehicula elementum sed sit amet dui. </p>
                    <a>Know More<span>&#8594;</span></a>
                 </div>
                
                </div>
                  

                <div class="disign">
                  <div class="col-xs-12 col-sm-4 setposition" >
                 <img class="bitmapper"  src="./assets/image/index/groome.png"/>
                </div>
                 <div class="col-xs-12 col-sm-6 ">
                  <h3 class="product-header">Product</h3>
                    <p class="maintext">Solving Human resource problem with AI Touch.</p>
                    <p class="info">Curabitur aliquet quam id dui posuere blandit.
                      Donec sollicitudin molestie malesuada. Vestibulum ac 
                      diam sit amet quam vehicula elementum sed sit amet dui. </p>
                    <a>Know More<span>&#8594;</span></a>
                 </div>
                
                </div>
           
    </div>
    <div class="row bus-row">
     
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  home-container__bussiness">
              <p class="first">BUSINESS IMPACT</p>
              <h2 class="second">How we grew 200% In 3 Years and counting.&nbsp;&nbsp;></h2>

         </div>
         

 
 
        <div class="col-xs-12  col-sm-5  col-md-5  col-lg-5 home-container__bussinessImpact">
            <p class="home-container first">BUSINESS IMPACT</p>
            <div class="ownset" >
Our Bussiness Impact.&nbsp;&nbsp;>

            </div>

       </div>


</div>
<div class="row bus-row">
        <div class="col-xs-12 col-sm-3 home-container__bussinessThinking">
            <p class="home-container first">OUR THINKING </p>
            <div class="ownset" >
              Our Thinking &nbsp;&nbsp; >
              
            

            </div>

       </div>


        <div class="col-xs-12 col-sm-8 home-container__bussinessCulture">
            <p class="home-container first">BUSINESS IMPACT</p>
            <div class="ownset own-mob">
                Our
              Workculture Indeed a
              Second home &nbsp;&nbsp; > 

            </div>
            <div class="myset">
              <div>Our</div>
              <div> Workculture Indeed a</div>
              <div> Second home &nbsp;&nbsp; ></div>
            </div>

       </div>
</div>
       <div class="row wrapper col-xs-12 ">
        <div class="col-xs-12 col-sm-5 home-container__bussinessGroup">
            
    
            </div>
      
      
       <div class="home-container__bussinessStudy col-xs-12 col-sm-6" >
        <a class="oval"> &#62; </a>
          <p class="home-container first">CASE STUDY </p>
           <p class="sales">How we transformed the dell Sales pipeline</p>
           <p class="info">Curabitur aliquet quam id dui posuere blandit.
              Donec sollicitudin molestie malesuada. Vestibulum ac 
              diam sit amet quam vehicula elementum sed sit amet dui. </p>
              <p class="read">Read More —></p>
              
           
          
         
                <div class="row home-container__bussinessCase">
                               <div class="col-xs-6  caseone">
                             <h1>20%</h1>
                             <p>Uptime in Service</p>
                               </div>
                
                               <div class="col-xs-6 casetwo">
                                  <h1>60%</h1>
                                  <p>Inbound Sales Created</p>
                                </div>
                    </div>
                  </div>  
                  <div class="home-container__bussinessCaseMobile">
                    <!-- <div class="col-xs-12"> -->
                    <div class="caseone">
                  <h1>20%</h1>
                  <p>Uptime in Service</p>
                    </div>
     
                    <div class="casetwo">
                       <h1>60%</h1>
                       <p>Inbound Sales Created</p>
                     </div>
                    <!-- </div> -->
         </div>       

       </div>
       <div class=" home-container__bussinessClient">
         <div class="col-xs-12">
            <P>Business We Acclerated</P>
            
         </div>
         <div class="row subrow">
            <div class="col-xs-6 col-sm-4 bottom-border center-img ">
              <img class="img1" src="./assets/image/index/LTI.png">
            </div>
            <div class="col-xs-6 col-sm-4 bottom-border left-border center-img ">
                <img  class="img2" src="./assets/image/index/Aeris.png">
              </div>
              <div class="col-xs-6 col-sm-4 bottom-border left-border center-img hide-mobile">
                  <img  class="img3" src="./assets/image/index/Experis.png">
                </div>
                <div class="col-xs-6 col-sm-4 bottom-border no-border center-img ">
                    <img class="img4" src="./assets/image/index/Ey.png">
                  </div>
                  <div class="col-xs-6 col-sm-4 bottom-border no-border left-border center-img ">
                      <img  class="img5" src="./assets/image/index/dell.png">
                    </div>
                    <div class="col-xs-6 col-sm-4 bottom-border left-border center-img hide-mobile ">
                        <img class="img6" src="./assets/image/index/Graphene.png">
                      </div>
                      <div class="col-xs-6 col-sm-4 center-img hide-mobile">
                          <img class="img7" src="./assets/image/index/24.png">
                        </div>
                        <div class="col-xs-6 col-sm-4 left-border center-img hide-mobile ">
                            <img class="img8" src="./assets/image/index/hubble.png">
                          </div>
                          <div class="col-xs-6 col-sm-4 left-border center-img  hide-mobile">
                              <img  class="img9"src="./assets/image/index/soft.png">
                            </div>
            
            
            




         </div>
          


       </div>
       <div class="row ">
         <div class="col-xs-12 home-container__bussinessSubscribe">
          <p>Want to know how to get ROI with us?</p>
          <div class="textbox-center">
           <input type="text" class="box boxtext1" placeholder="Name">

        
        <input   class="box boxtext2" type="email" placeholder="EmailId">
      </div>
        <input type="button" class="button" value="Subscribe">
       </div>
       </div>
</div>
 <!-- </div> -->
 <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
 <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
 <script>
     
 $(document).ready(function(){
      $('.home-container__single-item').slick({
        
        dots:false
        // infinite: true,
        // speed: 300,
        // slidesToShow: 1,
        // slidesToScroll: 1,
        // arrows:false
        });

    });

 
 
 </script>
 {% include footer.html %}
    


