{% include head.html %}

<div class="internship">
    <div class="internship__headImg">
      <h1 class="internship__content">Internship</h1>
    </div>
    <div class="internship__opening">
     <div class="">
            <h1>Current Openings</h1>
            <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta.
                Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
     </div>
     <div class="internship__opening__position  internshipslider">
       <div>
            <div class="internship__opening__position--alignment">
            <h1>Interaction Designer</h1>
            <h2>23rd June</h2>
            <h2>Bengaluru</h2>
           
            <div class="internship__opening__position--apply modal-toggle">Apply</div>
        </div>
         <div class="internship__opening__position--alignment">
                <h1>Jr Data Scientist</h1>
                <h2>23rd June</h2>
                <h2>Bengaluru</h2>
                <div class="internship__opening__position--apply modal-toggle">Apply</div>
             </div>

             <div class="internship__opening__position--alignment">
                <h1>Full Stack Developer</h1>
                <h2>23rd June</h2>
                <h2>Bengaluru</h2>
                <div class="internship__opening__position--apply modal-toggle">Apply</div>
            </div>

            <div class="internship__opening__position--alignment">
                    <h1>Business Analyst</h1>
                    <h2>23rd June</h2>
                    <h2>Bengaluru</h2>
                    <div class="internship__opening__position--apply modal-toggle">Apply</div>
                </div>

                <div class="internship__opening__position--alignment">
                    <h1>Product Manager</h1>
                    <h2>23rd June</h2>
                    <h2>Bengaluru</h2>
                    <div class="internship__opening__position--apply modal-toggle">Apply</div>
                </div>
                <div class="internship__opening__position--alignment">
                    <h1>UX Designer</h1>
                    <h2>23rd June</h2>
                    <h2>Bengaluru</h2>
                    <div class="internship__opening__position--apply modal-toggle">Apply</div>
                </div> 
        </div>
        <div>
             <div class="internship__opening__position--alignment">
                <h1>Interaction Designer</h1>
                <h2>23rd June</h2>
                <h2>Bengaluru</h2>
                <div class="internship__opening__position--apply modal-toggle">Apply</div>
             </div>
             <div class="internship__opening__position--alignment">
                       <h1>Jr Data Scientist</h1>
                       <h2>23rd June</h2>
                       <h2>Bengaluru</h2>
                       <div class="internship__opening__position--apply modal-toggle">Apply</div>
                    </div>
       
                    <div class="internship__opening__position--alignment">
                       <h1>Full Stack Developer</h1>
                       <h2>23rd June</h2>
                       <h2>Bengaluru</h2>
                       <div class="internship__opening__position--apply modal-toggle">Apply</div>
                   </div>
       
                   <div class="internship__opening__position--alignment">
                           <h1>Business Analyst</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="internship__opening__position--apply modal-toggle">Apply</div>
                       </div>
       
                       <div class="internship__opening__position--alignment">
                           <h1>Product Manager</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="internship__opening__position--apply modal-toggle">Apply</div>
                       </div>
                       <div class="internship__opening__position--alignment">
                           <h1>UX Designer</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="internship__opening__position--apply modal-toggle">Apply</div>
                       </div> 
               </div>
               <div>
                    <div class="internship__opening__position--alignment">
                    <h1>Interaction Designer</h1>
                    <h2>23rd June</h2>
                    <h2>Bengaluru</h2>
                    <div class="internship__opening__position--apply modal-toggle">Apply</div>
                    
                    </div>
                    <div class="internship__opening__position--alignment">
                           <h1>Jr Data Scientist</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="internship__opening__position--apply modal-toggle">Apply</div>
                        </div>
           
                        <div class="internship__opening__position--alignment">
                           <h1>Full Stack Developer</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="internship__opening__position--apply modal-toggle">Apply</div>
                       </div>
           
                       <div class="internship__opening__position--alignment">
                               <h1>Business Analystr</h1>
                               <h2>23rd June</h2>
                               <h2>Bengaluru</h2>
                               <div class="internship__opening__position--apply modal-toggle">Apply</div>
                           </div>
           
                           <div class="internship__opening__position--alignment">
                               <h1>Product Manager</h1>
                               <h2>23rd June</h2>
                               <h2>Bengaluru</h2>
                               <div class="internship__opening__position--apply modal-toggle">Apply</div>
                           </div>
                           <div class="internship__opening__position--alignment">
                               <h1>UX Designer</h1>
                               <h2>23rd June</h2>
                               <h2>Bengaluru</h2>
                               <div class="internship__opening__position--apply modal-toggle">Apply</div>
                           </div> 
                   </div>       
          </div>
       
          <div class="modal">
            <div class="modal-wrapper modal-transition">
              <div class="modal-header">
                    <button class="modal-close modal-toggle">  <img id="icon-close" src="../assets/image/job/cross.svg" alt=""></button>
              <h1> Interaction Designer</h1> 
              </div>
              <div class="modal-body">
                <div class="">
                 <h2>Responsibilities</h2>
                 <h5 >Since you will be working closely with our product managers, marketers, designers, strategists, analysts and other key stakeholders, you must be a team player. Your tasks will include the creation of experience maps, user scenarios, mockups and flows.</h5>
               <h2>Other tasks will include:</h2>
               <h5 >
                    Validating ideas and designs using split A/B tests and product performance.
                    Collaborating and communicating professionally with clients and internal teams.
                    Designing user-experiences from low-fidelity sketches to hi-fidelity pixel perfect mockups.
               </h5>
               <h5 >
                    Measuring recently released product features to establish benchmarks and to identify potential areas of improvement.
                    Staying abreast of UX trends and looking for creative ideas and inspiration in parallel analogous worlds.
               </h5>
                 <div class="row applyfield">
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input type="text" placeholder="First Name">
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input type="text" placeholder="Last Name">
                   </div>
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="text" placeholder="Email Id">
                   </div>
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="text" placeholder="Phone Number">
                   </div>
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 uploadresume">   
                        <h6>Upload Resume or Add Dropbox link</h6> 
                    <div class="uploadBox"  contentEditable=false data-text="Upload File">
                        <a href="javascript:void(0)" id="uploadIcon" href="">
                            <img class="upload" src="../assets/image/job/bitmap.jpg"  width="20px" height="20px"/>
                        </a>
                        <input type="file" placeholder="upload" value="upload" id="uploadFile" class="uploadFile" />
                    </div>
                   </div>
                   <button class="jobapply">Apply</button>

                 </div>
                </div>
              </div>
            </div>
          </div>
         <!-- End popup for internship apply -->
   </div>

   <div class="internship__footer">
    <div class="internship__footer__img"></div>
 </div>
</div>

{% include footer.html %}