{% include head.html %}

<div class="job">
    <div class="job__headImg">
      <h1 class="job__content">Job Openings</h1>
    </div>
    <div class="job__opening">
     <div class="">
            <h1>Current Openings</h1>
            <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta.
                Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
     </div>
     <div class="job__opening__position  jobslider">
       <div>
            <div class="job__opening__position--alignment">
            <h1>Interaction Designer</h1>
            <h2>23rd June</h2>
            <h2>Bengaluru</h2>
           
         <div class="job__opening__position--apply">Apply</div>
        </div>
         <div class="job__opening__position--alignment">
                <h1>Jr Data Scientist</h1>
                <h2>23rd June</h2>
                <h2>Bengaluru</h2>
                <div class="job__opening__position--apply">Apply</div>
             </div>

             <div class="job__opening__position--alignment">
                <h1>Full Stack Developer</h1>
                <h2>23rd June</h2>
                <h2>Bengaluru</h2>
                <div class="job__opening__position--apply">Apply</div>
            </div>

            <div class="job__opening__position--alignment">
                    <h1>Business Analyst</h1>
                    <h2>23rd June</h2>
                    <h2>Bengaluru</h2>
                    <div class="job__opening__position--apply">Apply</div>
                </div>

                <div class="job__opening__position--alignment">
                    <h1>Product Manager</h1>
                    <h2>23rd June</h2>
                    <h2>Bengaluru</h2>
                    <div class="job__opening__position--apply">Apply</div>
                </div>
                <div class="job__opening__position--alignment">
                    <h1>UX Designer</h1>
                    <h2>23rd June</h2>
                    <h2>Bengaluru</h2>
                    <div class="job__opening__position--apply">Apply</div>
                </div> 
        </div>
        <div>
             <div class="job__opening__position--alignment">
                <h1>Interaction Designer</h1>
                <h2>23rd June</h2>
                <h2>Bengaluru</h2>
                <div class="job__opening__position--apply">Apply</div>
             </div>
             <div class="job__opening__position--alignment">
                       <h1>Jr Data Scientist</h1>
                       <h2>23rd June</h2>
                       <h2>Bengaluru</h2>
                       <div class="job__opening__position--apply">Apply</div>
                    </div>
       
                    <div class="job__opening__position--alignment">
                       <h1>Full Stack Developer</h1>
                       <h2>23rd June</h2>
                       <h2>Bengaluru</h2>
                       <div class="job__opening__position--apply">Apply</div>
                   </div>
       
                   <div class="job__opening__position--alignment">
                           <h1>Business Analyst</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="job__opening__position--apply">Apply</div>
                       </div>
       
                       <div class="job__opening__position--alignment">
                           <h1>Product Manager</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="job__opening__position--apply">Apply</div>
                       </div>
                       <div class="job__opening__position--alignment">
                           <h1>UX Designer</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="job__opening__position--apply">Apply</div>
                       </div> 
               </div>
               <div>
                    <div class="job__opening__position--alignment">
                    <h1>Interaction Designer</h1>
                    <h2>23rd June</h2>
                    <h2>Bengaluru</h2>
                    <div class="job__opening__position--apply">Apply</div>
                    </div>
                    <div class="job__opening__position--alignment">
                           <h1>Jr Data Scientist</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="job__opening__position--apply">Apply</div>
                        </div>
           
                        <div class="job__opening__position--alignment">
                           <h1>Full Stack Developer</h1>
                           <h2>23rd June</h2>
                           <h2>Bengaluru</h2>
                           <div class="job__opening__position--apply">Apply</div>
                       </div>
           
                       <div class="job__opening__position--alignment">
                               <h1>Business Analystr</h1>
                               <h2>23rd June</h2>
                               <h2>Bengaluru</h2>
                               <div class="job__opening__position--apply">Apply</div>
                           </div>
           
                           <div class="job__opening__position--alignment">
                               <h1>Product Manager</h1>
                               <h2>23rd June</h2>
                               <h2>Bengaluru</h2>
                               <div class="job__opening__position--apply">Apply</div>
                           </div>
                           <div class="job__opening__position--alignment">
                               <h1>UX Designer</h1>
                               <h2>23rd June</h2>
                               <h2>Bengaluru</h2>
                               <div class="job__opening__position--apply">Apply</div>
                           </div> 
                   </div>       
          </div>
          <!-- popup for job apply -->
         
            <!-- End popup for job apply -->

   
   </div>

   <div class="job__footer">
    <div class="job__footer__img"></div>
 </div>
</div>


<script>$(".jobslider").slick({
        dots:false
    });
    </script>
{% include footer.html %}