{% include head.html %}
<div class="product">
    <div class="product__headImg">
        <div class=" product__content1">
    <div class="product__head">
        Products
    </div>
    </div>

    </div>
    <div class="product__content">
        <h1>Current problems tomorrows Products</h1>
        <p>Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
            ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
             Donec sollicitudin molestie malesuada.
        </p>
    </div>
    <div class="product__GroomeImg">
        <div class="product__content1">
    <div class="product__Groome">
            <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 product__Groome_logo">
                        <img src="../assets/image/groome.png">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>PRODUCT</h4>
                            <h2>Solving Human resource problem with AI Touch.</h2>
                            <p>
                                Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                                    ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                                     Donec sollicitudin molestie malesuada.
                            </p>
                            <!-- <br/> -->
                            <span>Know More --<span class="product__arrow">></span></span>
                    </div>

            </div>
    </div>
    </div>
    </div>
    <div class="product__content1">
    <div class="product__paketo">
            <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 product__borderRight">
                            <img src="../assets/image/1.png">
                        <h2>Project Integration</h2>
                        <p>
                                Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                                    ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                                     Donec sollicitudin molestie malesuada.
                        </p>
                        <button class="product__myButton" id="a">Know More</button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <img src="../assets/image/bitmap.png">
                            <h2>Project Integration</h2>
                            <p>
                                    Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                                        ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                                         Donec sollicitudin molestie malesuada.
                            </p>
                            <button class="product__myButton" id="b">Know More</button>
                        </div>
            </div>
            <div class="product__borderTop"></div>

    </div>
    </div>
    <div class="product__content1">
    <div class="product__detail ">
        <h1>Why we are working on Products</h1>
        <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <span>1</span>
                </div>
                <div class="col-xs-11 col-sm-3 col-md-3 col-lg-3">
                    <p>
                            Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                                ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                                    Donec sollicitudin molestie malesuada.
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <span>2</span>
                </div>
                <div class="col-xs-11 col-sm-3 col-md-3 col-lg-3">
                    <p>
                            Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                                ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                                    Donec sollicitudin molestie malesuada.
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <span>3</span>
                </div>
                <div class="col-xs-11 col-sm-3 col-md-3 col-lg-3">
                    <p>
                            Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                                ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                                    Donec sollicitudin molestie malesuada.
                    </p>
                </div>
                
            </div>

            <div class="product__borderTop"></div>
    </div>
</div>
<div class="product__content1">
    <div class="product__pipeline">
        <h1>Our Product Pipeline</h1>
        <div class="row" id="carousel">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 product__allign">
                <img src="../assets/image/1.png" class="product__img1">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 product__allign">
                    <img src="../assets/image/bitmap.png" class="product__img2">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 product__allign">
                    <img src="../assets/image/groome.png" class="product__img3">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 product__allign">
                    <img src="../assets/image/page-1.png" class="product__img4">
            </div>
            
        </div>
    </div>
    </div>


</div>


 {% include footer.html %}