{% include head.html %}
<div class="product">
    <div class="product__headImg">
        <div class=" product__content1">
    <div class="product__head">
     Our Products
    </div>
    </div>
 </div>
    <div class="product__content">
        <h1>Current problems tomorrows Products</h1>
        <p>Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
            ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
             Donec sollicitudin molestie malesuada.
        </p>
    </div>
    <div class="product__GroomeImg" data-src="../assets/image/rectangle-10.png">
        <div class="product__content1">
    <div class="product__Groome">
            <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 product__Groome_logo">
                        <img  src="../assets/image/product&service/group-24.svg">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>PRODUCT</h4>
                            <h2>Your company’s biggest asset are your people.</h2>
                            <p>
                                Use “Machine Intelligence” to find, hire, manage and retain your best talents.
                            </p>
                            <a href="https://groome.co/" target="_blank"><span style="border-bottom: 1px solid white;padding-bottom:3px;">Know More --<span class="product__arrow">></span></span></a>
                    </div>

            </div>
    </div>
    </div>
    </div>
    <div class="product__content1">
    <div class="product__paketo">
            <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 product__borderRight">
                            <img src="../assets/image/packeto.svg">
                        <h2>Abstract your release engineering process and make it measurable</h2>
                        <p>Automate & simplify your release engineering cycle to build scaleable products & services at a single click. 
                            Measure your engineering quality at a unit level, deliver avant-garde solutions to your customers.</p>
                        <button class="product__myButton" id="a">Know More</button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 product__borderleft">
                            <img src="../assets/image/product&service/group-12.svg">
                            <h2>Root cause application failures in a single click</h2>
                            <p>  Localize. detect and fix errors instantly in production or staging. Deliver reliable customer experience.</p>
                            <a href="https://enigma.hashworks.co/" target="_blank">
                                <button class="product__myButton" id="b">Know More</button>
                            </a>
                        </div>
            </div>
            <div class="product__borderTop"></div>
         </div>
    </div>
    <div class="product__content1">
    <div class="product__detail ">
        <h1>Why we are working on Products</h1>
        <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <span>1</span>
                </div>
                <div class="col-xs-11 col-sm-3 col-md-3 col-lg-3">
                    <p>
                            Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                                ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                                    Donec sollicitudin molestie malesuada.
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <span>2</span>
                </div>
                <div class="col-xs-11 col-sm-3 col-md-3 col-lg-3">
                    <p>
                            Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                                ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                                    Donec sollicitudin molestie malesuada.
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <span>3</span>
                </div>
                <div class="col-xs-11 col-sm-3 col-md-3 col-lg-3">
                    <p>
                            Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                                ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                                    Donec sollicitudin molestie malesuada.
                    </p>
                </div>
                
            </div>

            <div class="product__borderTop"></div>
    </div>
</div>
<div class="product__content1">
    <div class="product__pipeline">
        <h1>Our Product Pipeline</h1>
        <div class="row" id="carousel" class="single-item">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 product__allign">
                <img src="../assets/image/packeto.svg" class="product__img2">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 product__allign">
                    <a href="https://groome.co/" target="_blank">
                    <img src="../assets/image/product&service/group-24.svg" class="product__img2"></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 product__allign">
                    <a href="https://enigma.hashworks.co/" target="_blank">
                    <img src="../assets/image/product&service/group-12.svg" class="product__img2"></a>
            </div>
        </div>
    </div>
    </div>
</div>
{% include footer.html %}