{% include head.html %}

<div class="service">
    <div class="service__headImg">
        <div class=" service__container">
            <div class="service__head">
                Services
            </div>
        </div>
    </div>
    <div class=" service__container">
        <div class="service__content">
            <h1>Current problems tomorrows Products</h1>
            <p>Nulla Porttitor accumsam tincident. Proin eget tortor risus. Cras ultricies 
                ligula sed magan dictum porta. Curabitur aliguet quam id dui posuere blandit.
                Donec sollicitudin molestie malesuada.
            </p>
        </div>
    </div>
    <div class=" row service__detail">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 service__devops" onclick="redirect('/devOps/')">
                <div class=" service">    
                        <!-- <h1>Dev Ops <span> > </span></h1> -->
                        <div class="row devopsanimate">    
                            <div class="content devanimation">
                                    <canvas id="scene1"></canvas>
                                    <script type="x-shader/x-vertex" id="wrapVertexShader">
                                        #define PI 3.1415926535897932384626433832795
                                        attribute float size;
                                        void main() {
                                            vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
                                            gl_PointSize = 3.0;
                                            gl_Position = projectionMatrix * mvPosition;
                                        }
                                    </script>
                                    <script type="x-shader/x-fragment" id="wrapFragmentShader">
                                        uniform sampler2D texture;
                                        void main(){
                                            vec4 textureColor = texture2D( texture, gl_PointCoord );
                                            if ( textureColor.a < 0.3 ) discard;
                                            vec4 dotColor = vec4(0.06, 0.18, 0.36, 0.4);
                                            vec4 color = dotColor * textureColor;
                                            gl_FragColor = color;
                                        }
                                    </script>
                                    <div class="heading">
                                        <h1>Dev Ops &nbsp;&nbsp;<i class="ion-ios-arrow-right"></i></h1>    
                                </div>
                                </div>   
                         </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class=" service__cloudImg" onclick="redirect('/cloud/')">
                    <div class=" service__container">    
                            <div class="row demo-2">
                                    <div class="content animator">
                                          <canvas id="scene"></canvas>
                                          <script type="x-shader/x-vertex" id="wrapVertexShader">
                                              #define PI 3.1415926535897932384626433832795
                                              attribute float size;
                                              void main() {
                                                  vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
                                                  gl_PointSize = 3.0;
                                                  gl_Position = projectionMatrix * mvPosition;
                                              }
                                          </script>
                                          <script type="x-shader/x-fragment" id="wrapFragmentShader">
                                              uniform sampler2D texture;
                                              void main(){
                                                  vec4 textureColor = texture2D( texture, gl_PointCoord );
                                                  if ( textureColor.a < 0.3 ) discard;
                                                  vec4 dotColor = vec4(0.06, 0.18, 0.36, 0.4);
                                                  vec4 color = dotColor * textureColor;
                                                  gl_FragColor = color;
                                              }
                                          </script>
                                          <div class="cloud__head">
                                              <h1> Application On Cloud</h1>
                                          </div>
                                      </div>
                           </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 service__uiUx" onclick="redirect('/uiux/')">
               
                   <div class=" service__container">    
                            <h1>UI/UX</h1>
                    </div>
                   
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 service__dataScience" onclick="redirect('/dataScience/')">
                    <div class="service__container">    
                            <h1>Data Science. <span> > </span></h1>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" onclick="redirect('/mobile/')">
                <div class="service__mobile">
                    <div class=" service__container">    
                            <h1>Mobile Development</h1>
                    </div>
                </div>
            </div>

    </div>

</div>

    
<script src="/assets/js/demo4.js"></script>
<script src="/assets/js/perlin.js"></script>


 {% include footer.html %}