{% include head.html %}

<section class="hashworks__grewpage">
    <div class="grewpage__image">
       <div class="">
          <h1>How we Grew 200% In 3 years</h1>
       </div> 
    </div>
    <div class="grewpage__step1">
      <div class="row">
           <div class="grewpage__step1__image">
          </div>
          <h1>STEP 1</h1>
          <h2>Looking at the right talent.</h2>
          <h3>Trip lines are one of the signature visualizations shown in our CEO’s TED Talk,
               and featured in a variety of publications. The challenge is that the actual
                trip path is not baked into the raw data. It needs to be generated in code
                 based on an array of latitude and longitude points. To aid our process,
                  we built custom tools to quickly generate these visualizations for over 400 cities.</h3>
      </div>
    </div>
    <div class="grewpage__step2">
      <div class="row">
           <div class="grewpage__step2__image">
           </div>
          <h1>STEP 2</h1>
          <h2>Collabrative Work Atmosphere</h2>
          <h3>Trip lines are one of the signature visualizations shown in our CEO’s TED Talk,
               and featured in a variety of publications. The challenge is that the actual
                trip path is not baked into the raw data. It needs to be generated in code
                 based on an array of latitude and longitude points. To aid our process,
                  we built custom tools to quickly generate these visualizations for over 400 cities.</h3>
      </div>
    </div>
    <div class="grewpage__step3">
      <div class="row">
           <div class="grewpage__step3__image">
           </div>
          <h1>STEP 3</h1>
          <h2>Ownership as against Reporting</h2>
          <h3>Trip lines are one of the signature visualizations shown in our CEO’s TED Talk,
               and featured in a variety of publications. The challenge is that the actual
                trip path is not baked into the raw data. It needs to be generated in code
                 based on an array of latitude and longitude points. To aid our process,
                  we built custom tools to quickly generate these visualizations for over 400 cities.</h3>
      </div>
    </div>
    <div class="grewpage__step4">
      <div class="row">
           <div class="grewpage__step4__image">
           </div>
          <h1>STEP 4</h1>
          <h2>Adopting to Design Thinking</h2>
          <h3>Trip lines are one of the signature visualizations shown in our CEO’s TED Talk,
               and featured in a variety of publications. The challenge is that the actual
                trip path is not baked into the raw data. It needs to be generated in code
                 based on an array of latitude and longitude points. To aid our process,
                  we built custom tools to quickly generate these visualizations for over 400 cities.</h3>
      </div>
    </div>
    <div class="grewpage__step5">
      <div class="row">
           <div class="grewpage__step5__image">
           </div>
          <h1>STEP 5</h1>
          <h2>Building a strong engineering Practise</h2>
          <h3>Trip lines are one of the signature visualizations shown in our CEO’s TED Talk,
               and featured in a variety of publications. The challenge is that the actual
                trip path is not baked into the raw data. It needs to be generated in code
                 based on an array of latitude and longitude points. To aid our process,
                  we built custom tools to quickly generate these visualizations for over 400 cities.</h3>
      </div>
    </div>
    <div class="grewpage__step6">
      <div class="row">
           <div class="grewpage__step6__image">
         </div>
          <h1>STEP 6</h1>
          <h2>Skill Adoption based on hybrid roles</h2>
          <h3>Trip lines are one of the signature visualizations shown in our CEO’s TED Talk,
               and featured in a variety of publications. The challenge is that the actual
                trip path is not baked into the raw data. It needs to be generated in code
                 based on an array of latitude and longitude points. To aid our process,
                  we built custom tools to quickly generate these visualizations for over 400 cities.</h3>
      </div>
    </div>
    <div class="grewpage__step7">
      <div class="row">
           <div class="grewpage__step7__image">
          </div>
          <h1>STEP 7</h1>
          <h2>Not the Idea! But the implimentation</h2>
          <h3>Trip lines are one of the signature visualizations shown in our CEO’s TED Talk,
               and featured in a variety of publications. The challenge is that the actual
                trip path is not baked into the raw data. It needs to be generated in code
                 based on an array of latitude and longitude points. To aid our process,
                  we built custom tools to quickly generate these visualizations for over 400 cities.</h3>
      </div>
    </div>
</section>
  {% include footer.html %}