{% include head.html %}

<section class="hashworks__workculture">
    <div class="workculture__image">
       
            <h1>Workculture</h1>
       
    </div>
    <div class="workculture__workfun">
      <div class="row">
          <h1>We take work as fun</h1>
          <p>Nulla porttitor accumsan tincidunt. Proin eget tortor risus.
               Cras ultricies ligula sed magna dictum porta. Curabitur 
               aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
      </div>
    </div>
    <div class="workculture__facility">
        <div class="row">
              <h1>Perk and facility</h1>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <h2>HEALTH & WELLNESS</h2>
            <p>Full health coverage for you and your family (Slack pays 100% of your premiums),
             and a $150 monthly fitness and wellness reimbursement.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                 <h2>LEARNING & DEVELOPMENT</h2>
            <p>Receive $500 annually (or equivalent) towards a personal development opportunity of your choice,
                 and $2000 annually (or equivalent) for professional development.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>PARENTAL LEAVE</h2>
            <p>A lot of us have families, of all shapes and sizes and types, and we welcome each
                 new addition with generous parental and new child bonding leave.</p>
            </div> 
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>HAPPIER WEEKDAYS</h2>
            <p>A meeting-light culture (or we try, at least), weekly massage therapy,
             guest speakers, and opportunities to get to know your team better through
              things like weekly catered lunch and breakfast, Thursday Socials, and game
               nights. But we don’t stay in the office 24/7.</p> 
            </div>   
           
        </div>
    </div>
    <div class="workculture__boxes">
      <div class="row">
          <div class="workculture__box col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h1 onclick="redirect('/job/')">See Job Openings <img src="../assets/image/workculture/shape.png"/></h1> 
          </div>
          <div class="workculture__box col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <h1 onclick="redirect('/internship/')">See Internship <img src="../assets/image/workculture/shape.png"/></h1> 
          </div>
          <div class="workculture__box col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <h1>Hook to BootCamp <img src="../assets/image/workculture/shape.png"/></h1>  
          </div>
      </div>
    </div>
    <div class="workculture__bottomImage">
        
    </div>
    
</section>

{% include footer.html %}